<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-15">
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="actionSize sort-th">Actions</th>
                                <th>Type of Contacts</th>
                                <th>Address Book Name</th>
                                <th>Contact Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of addressBookList | 
                            searchFilter: {name: searchText, totalRecords:searchText, type: searchText} | 
                            paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="actionSize sort-th">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-download action-item download-clr" title="Download" (click)="downloadRecordDetails(item)"></i>
                                        <i class="fa fa-pencil action-item edit-clr" title="Update" (click)="updateRecord(updatemodal, item)" *ngIf="commonService.hasWriteAccess(MODULES.ADDRESS_BOOK)"></i>
                                        <i class="fa fa-trash action-item reject-clr" title="Delete" (click)="confirmDeleteRecord(item)" *ngIf="commonService.hasWriteAccess(MODULES.ADDRESS_BOOK)"></i>
                                    </div>
                                </td>
                                <td>{{item['type']}}</td>
                                <!-- <td *ngIf="item['type'] == 'P'">Personalized</td>
                                <td *ngIf="item['type'] == 'N'">Number</td> -->
                                <td>{{item['name']}}</td>
                                <td>{{item['totalRecords']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="addressBookList.length==0 " class="no-data ">No Records Found!</div>
                </div>
                <pagination-controls *ngIf="addressBookList.length!=0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">Update Address Book</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>*Address Book Name</label>
                        <div>
                            <input placeholder="CLI Name" type="text" class="form-control" [(ngModel)]="addressBookName" disabled [ngClass]="{'error-border': formSubmitted && addressBookName.trim() === '' }">
                            <div *ngIf="addressBookName.trim() == '' && formSubmitted" class="error-wrappers">
                                <span class="error">*Address book name is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <p>Download address book to update
                        <span class="download-link-span" (click)="downloadRecordDetails(selectedRecord)">Download Now</span>
                    </p>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>*Upload Updated Address Book</label>
                        <div>
                            <input type="file" class="form-control-file" (change)="onFileSelect($event.target.files)" accept=".csv" [ngClass]="{'error-border': formSubmitted && !fileUploaded}">
                            <div *ngIf="!fileUploaded && formSubmitted" class="error-wrappers">
                                <span class="error">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-success mr-3" (click)="updateAddressBook()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>