<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-12">
                <div class="sub-title">View Approval Pending Users</div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search By" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-2">
                <!-- <div class="form-group">
            <button type="button" class="btn btn-primary bt-radius" (click)="(searchText.trim() == '') ? false : applySearch()"><i
                class="fa fa-search"></i></button>
          </div> -->
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th (click)="userNameSorted = !userNameSorted; sortTable('userName', userNameSorted)" class="sort-th">Username <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="firstNameSorted = !firstNameSorted; sortTable('firstName', firstNameSorted)" class="sort-th">First Name <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="lastNameSorted = !lastNameSorted; sortTable('lastName', lastNameSorted)" class="sort-th">Last Name <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="emailSorted = !emailSorted; sortTable('email', emailSorted)" class="sort-th">Email <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="mobileNumberSorted = !mobileNumberSorted; sortTable('mobileNumber', mobileNumberSorted, true)" class="sort-th">Mobile Number <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)" class="sort-th">Department <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="roleSorted = !roleSorted; sortTable('role', roleSorted)" class="sort-th">Role <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="statusDescSorted = !statusDescSorted; sortTable('statusDesc', statusDescSorted)" class="sort-th">Status <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="creatadBySorted = !creatadBySorted; sortTable('creatadBy', creatadBySorted)" class="sort-th">Creatad By <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="createdOnSorted = !createdOnSorted; sortTable('createdOn', createdOnSorted)" class="sort-th">Created On <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows | searchFilter: {userName: searchText, firstName:searchText,  lastName: searchText, email:searchText, mobileNumber: searchText,
                                                department: searchText, role: searchText, statusDesc: searchText, creatadBy: searchText } | 
                                            paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center ">
                                    <div class="btn-group btn-group-sm ">
                                        <a class="action-link" (click)="viewUser(item.userId,showUser)">
                                            <i class="fa fa-eye action-item" title="View"></i>
                                        </a>
                                        <a *ngIf="commonService.hasWriteAccess(MODULES.USER_APPROVAL)" class="action-link" (click)="viewUpdateStatusModal(item,updateStatus)">
                                            <i class="fa fa-edit action-item" title="Update Status"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>{{item['userName']}}</td>
                                <td>{{item['firstName']}}</td>
                                <td>{{item['lastName']}}</td>
                                <td>{{item['email']}}</td>
                                <td>{{item['mobileNumber']}}</td>
                                <td>{{item['department']}}</td>
                                <td>{{item['role']}}</td>
                                <td>{{item['statusDesc']}}</td>
                                <td>{{item['creatadBy']}}</td>
                                <td>{{item['createdOn'] | date:'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="rows.length==0 " class="no-data ">No Records Found!</div>
                </div>
                <pagination-controls class="my-pagination" *ngIf="rows.length!=0 " (pageChange)="p=$event "></pagination-controls>
                <!-- <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [rowHeight]="50" [scrollbarH]="true" [footerHeight]="40" [limit]="pageLimit" [reorderable]="reorderable">

                    <ngx-datatable-column name="Username" prop="userName"></ngx-datatable-column>
                    <ngx-datatable-column name="First Name" prop="firstName"></ngx-datatable-column>
                    <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column>
                    <ngx-datatable-column name="Email Address" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column name="Mobile Number" prop="mobileNumber"></ngx-datatable-column>
                    <ngx-datatable-column name="Department" prop="department"></ngx-datatable-column>
                    <ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>
                    <ngx-datatable-column name="Created By" prop="creatadBy"></ngx-datatable-column>
                    <ngx-datatable-column name="Created On">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.createdOn | date:'dd-MM-yyyy HH:mm:ss'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Actions" [frozenRight]="true" cellClass="background-white">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <a class="action-link" #viewBtn (click)="viewUser(row.userId,showUser,viewBtn)">
                                <i class="fa fa-eye action-item" title="View"></i>
                            </a>
                            <a *ngIf="commonService.hasWriteAccess(MODULES.USER_APPROVAL)" class="action-link" #statusBtn (click)="viewUpdateStatusModal(row,updateStatus,statusBtn)">
                                <i class="fa fa-edit action-item" title="Update Status"></i>
                            </a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
            </div>
        </div>
    </div>
</div>

<ng-template #showUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>User Details</span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <!-- btn-link -->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sub-title">Personal Information</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">First Name </label>
                                <div>
                                    {{userDetails.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Last Name </label>
                                <div>
                                    {{userDetails.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Username</label>
                                <div>
                                    {{userDetails.username}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Primary Email Address</label>
                                <div>
                                    {{userDetails.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Alternate Email Address</label>
                                <div>
                                    {{userDetails.alternateEmails || 'NA'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Mobile Number </label>
                                <div>
                                    {{userDetails.msisdn}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Department </label>
                                <div>
                                    {{userDetails.deptId["department"]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Role ID </label>
                                <div>
                                    {{userDetails.roleId["name"]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Approver </label>
                                <div>
                                    {{userDetails.approverId}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="userDetails.roleId['configurationFlag'] == 'R' || (userDetails.roleId['configurationFlag'] == 'N' && userDetails.categoryId['category']) ">
                        <div class="col-12">
                            <div class="sub-title">Configuration Information</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Category ID </label>
                                        <div>
                                            {{userDetails.categoryId["category"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Channel </label>
                                        <div>
                                            {{userDetails.channelId['channelName']}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">TPS </label>
                                        <div>
                                            {{userDetails.tps}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Duplicate Check</label>
                                        <div>
                                            {{ userDetails.duplicateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Template Check</label>
                                        <div>
                                            {{ userDetails.templateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Template Approval Check</label>
                                        <div>
                                            {{ userDetails.templateApprovalReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Sender Id Check</label>
                                        <div>
                                            {{ userDetails.senderidCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Sender Id Approval Check</label>
                                        <div>
                                            {{ userDetails.senderidApprovalReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">DLR Report Request</label>
                                        <div>
                                            {{ userDetails.dlrReportsReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">IP White List Details</label>
                                        <div>
                                            {{ userDetails.ipWhitelist || 'NA'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 2">
                                <div class="col-12">
                                    <div class="sub-title">Bulk Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Message per part length </label>
                                        <div>
                                            {{userDetails.maxMessageParts}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum File size </label>
                                        <div>
                                            {{userDetails.maxFilesize}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Recipient Count </label>
                                        <div>
                                            {{userDetails.maxRecipientCount}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Sender ID </label>
                                        <div>
                                            {{userDetails.maxSenderid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Template </label>
                                        <div>
                                            {{userDetails.maxTemplate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 1">
                                <div class="col-12">
                                    <div class="sub-title">HTTP Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div>
                                            {{userDetails.maxConnection}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.dlrReportsReq == 'Y'">
                                <div class="col-12">
                                    <div class="sub-title">User DLR Callback Details</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topology </label>
                                        <div>
                                            {{userDetails.userDlrCallback["topologyMode"] == 1 ? 'Active/Active' : 'Active/Passive'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Primary Url </label>
                                        <div>
                                            {{userDetails.userDlrCallback["primaryUrl"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Secondary Url </label>
                                        <div>
                                            {{userDetails.userDlrCallback["secondaryUrl"] || 'NA'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topic </label>
                                        <div>
                                            {{userDetails.userDlrCallback["topicId"]["topic"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div>
                                            {{userDetails.userDlrCallback["maxConnection"]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Authorization Information</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Report Privileges</label>
                                        <div>
                                            {{userDetails.accessJson == "1" ? "Self" : userDetails.accessJson == "2" ? "Department" : userDetails.accessJson == "3" ? "All" : "NA"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Access Permissions</div>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered  table-hover table-sm">
                                            <thead class="thead-sb">
                                                <tr>
                                                    <th class="pc-1">S.no.</th>
                                                    <th class="pc-2">Module</th>
                                                    <th class="pc-3">Read/Write</th>
                                                    <th class="pc-3">Read Only</th>
                                                    <th class="pc-3">Hide</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                                                    <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                                                    <td *ngIf="!item.isSubModule">{{item.view}}</td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'RW'">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'R'">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'H'">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                                                    </td>
                                                    <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                                                        <table class="table table-hover table-sm m-0 ">
                                                            <tr *ngFor="let subItem of item.subModuleList">
                                                                <td class="pci-1">{{subItem.sno}}</td>
                                                                <td class="pci-2">{{subItem.view}}</td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'RW'">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'R'">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'H'">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">Close
    </button>
    </div>
</ng-template>


<ng-template #updateStatus let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Update User Status</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <!-- btn-link  -->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Existing Status</label>
                                    <div>
                                        <input type="text" [disabled]="true" value="{{userDetails.statusDesc}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">New Status <span class="required-sign">*</span></label>
                                    <div>
                                        <select class="form-control" formControlName="newStatus" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.newStatus.errors}">
                      <option value="" disabled selected hidden>Select</option>
                      <option value="{{item.id}}" *ngFor="let item of statusList">{{item.name}}</option>
                    </select>
                                        <div *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors" class="error-wrappers">
                                            <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors.required">Required
                        Field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks <span class="required-sign">*</span></label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.remarks.errors}" placeholder="Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.minlength">Minimum
                      5 characters are required</span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.maxlength">Maximum
                      200 characters are allowed</span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.pattern">Invalid
                      Remarks</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success rounded" (click)="updateUserStatus('test')">Save Changes
    </button>
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">Close
    </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>