<div class="content-wrapper">
    <form class="form-t1" [formGroup]="bulkForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>SMS Templates</label>
                        <div>
                            <input style="font-size: 15px;" #fileInput type="file" id="fileInput" class="form-control form-control-file" [ngClass]="{'error-border': formSubmitted && !fileUploaded}" (change)="onFileSelect($event.target.files)" accept=".xlsx,.xls">
                            <div *ngIf="formSubmitted && !fileUploaded" class="error-wrappers">
                                <span class="error" *ngIf="formSubmitted && !fileUploaded">Valid file is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="error-wrappers ml-3 mb-4 mt-1">
                        <span class="upload-caption">Download sample file
                    <span class="download-file-text blueTextClr" (click)="sampleFileDownload('excel')"> Excel</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>SMS Content Type</label>
                        <div>
                            <select class="form-control" formControlName="contentType" [ngClass]="{'error-border': formSubmitted && bulkForm.controls.contentType.errors}">
                            <option value="" disabled selected hidden>Select</option>
                            <option value=1 >Text</option>
                            <option value=2 >Unicode</option>
                        </select>
                            <div *ngIf="formSubmitted && bulkForm.controls['contentType'].errors" class="error-wrappers ">
                                <span class="error" *ngIf="bulkForm.controls['contentType'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="this.showUser">
                    <div class="form-group ">
                        <label>Select User</label>
                        <div>
                            <select class="form-control" formControlName="userId"  [ngClass]="{'error-border': formSubmitted && bulkForm.controls.userId.errors}">
                            <option value="" disabled selected hidden>Select</option>
                            <option [value]="user.userId " *ngFor="let user of users ">{{user.username}}</option>
                        </select>
                            <div *ngIf="formSubmitted && bulkForm.controls['userId'].errors " class="error-wrappers ">
                                <span class="error " *ngIf="bulkForm.controls['userId'].errors.required ">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                      <label>Case Sensitivity Flag*</label>
                      <select class="form-control" formControlName="caseSensitivityFlag" [ngClass]="{'error-border': formSubmitted && bulkForm.controls.caseSensitivityFlag.errors}">
                        <option value="" disabled selected hidden>Select</option>
                        <option value='Y'>Yes</option>
                        <option value='N'>No</option>
                    </select>
                      <div *ngIf="bulkForm.controls['caseSensitivityFlag'].errors && formSubmitted" class="error-wrappers">
                          <span class="error" *ngIf="bulkForm.controls['caseSensitivityFlag'].errors.required">Field is required</span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4 ">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2 " (click)="submitForm()">Submit</button>
                <button class="btn btn-blue-light bt-fix mr-3 mb-2 " (click)="initialiseForm() ">Reset</button>
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3) " size="medium " color="#fff " type="ball-scale-multiple ">
</ngx-spinner>
