<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <div class="row">
                <div class="col-lg-12 mb-2 font-13">
                    <span>
                        <b>NOTE: </b>
                    </span> 1) For complete and entire SMS logs to be given for any Ombudsman or Court or Legal cases, kindly contact
                    <i>
                        <b>bulksms_pe2@sbi.co.in</b>
                    </i>
                    <!--<i>
                        <b>sms.helpdesk@sbi.co.in</b>
                    </i>
                    and
                    <i>
                        <b>sms.infronics@sbi.co.in </b>
                    </i>--> for retrieving the logs from backend.
                    <div>
                    2) Logs are available after one hour of the transaction.
                </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Country code followed by mobile number" maxlength="16" formControlName="msdin">
                            <small class="upload-caption">*Country code followed by mobile number.
                            </small>
                            <div *ngIf="reportingForm.controls.msdin.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.required">*Mobile number is required
                                </span>
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.pattern">Only digits are allowed.</span>
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.minlength">Minimum length is 5 digit.</span>
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.maxlength">Maximum length is 16 digit.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                                (dateChange)="setEndDAte();" [max]="maxDate" (keydown)="restrictKeyword($event);">
                            <!-- [max]="maxDate"  -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <small class="upload-caption">*Only one month data can be viewed.
                            </small>
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                                formControlName="endDate" [max]="maxDateTo" (dateChange)="setStartDAte();" [min]="minDateTo"
                                (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <button *ngIf="reportType == 'B'" class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="showPdf()">Download PDF</button>
            <!-- [disabled]="dataSourceLength==0" -->
             <!--<div class="dropdown" *ngIf="reportType == 'D'">
                <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="!reportList">Export As
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>-->
        </div>
        <div class="sub-title"></div>
        <div class="col-9 radioMrgn">
            <div class="row">
                <div class="col-md-2 form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" checked id="basicRep" name="reptType" value="B" type="radio" (change)="getType( $event.target.value)">Basic Report
                    </label>
                </div>
                <div class="col-md-3 form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="detRep" name="reptType" value="D" type="radio" (change)="getType( $event.target.value)">Detailed Report
                    </label>
                </div>
            </div>
        </div>
        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>

                    <ng-container matColumnDef="msisdn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Mobile Number </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.msisdn}} </td>
                    </ng-container>

                    <ng-container>
                        <ng-container matColumnDef="dlt_TEMPLATE_ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.dlt_TEMPLATE_ID}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="channel">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Channel </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.channel}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="aggregator">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Aggregator Name </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.aggregator}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="campaign_ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Campaign ID </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaign_ID}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="campaign_NAME">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign Name </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaign_NAME}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="dept_NAME">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Department Name </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.dept_NAME}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department User </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.username}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="operator">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Operator </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.operator}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="circle">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Telecom Circle </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.circle}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="cli">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Sender ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.cli}} </td>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Priority </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.category}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="in_FLAG">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">National/ International </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.in_FLAG}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="scheduled_DATE">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Scheduled On </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.scheduled_DATE | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="submit_TIME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Submitted On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.submit_TIME | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="delivery_TIME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Delivered On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index">
                            <ng-container *ngIf="element.delivery_TIME;">
                                {{element.delivery_TIME | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}
                            </ng-container>
                            <ng-container *ngIf="!element.delivery_TIME;">
                                NA
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="submit_STATE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Delivery Status </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.submit_STATE}} </td>
                    </ng-container>

                    <ng-container matColumnDef="error_DESC">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Reason </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.error_DESC}} </td>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="dcs">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">SMS Type </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.dcs}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="msg_TXT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">SMS Content </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.msg_TXT}} </td>
                    </ng-container>

                    <ng-container *ngIf="reportType=='D'">
                        <ng-container matColumnDef="amid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Submit ID </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.amid}} </td>
                        </ng-container>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
        </div>

        <!-- <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-9 radioMrgn">
                <div class="row">
                    <div class="col-md-2 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" checked id="basicRep" name="reptType" value="B" type="radio" (change)="getType( $event.target.value)">Basic Report
                        </label>
                    </div>
                    <div class="col-md-2 form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="detRep" name="reptType" value="D" type="radio" (change)="getType( $event.target.value)">Detailed Report
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th (click)="msisdnSorted = !msisdnSorted; sortTable('msisdn', msisdnSorted, true)" class="sort-th">Mobile Number
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="channelSorted = !channelSorted; sortTable('channel', channelSorted)" class="sort-th">Channel
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="aggregatorNameSorted = !aggregatorNameSorted; sortTable('aggregator', aggregatorNameSorted)"
                                    class="sort-th">Aggregator Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="campaignIDSorted = !campaignIDSorted; sortTable('campaign_ID', campaignIDSorted,true)"
                                    class="sort-th">Campaign ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="campaignNameSorted = !campaignNameSorted; sortTable('campaign_NAME', campaignNameSorted)"
                                    class="sort-th">Campaign Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="departmentNameSorted = !departmentNameSorted; sortTable('dept_NAME', departmentNameSorted)"
                                    class="sort-th">Department Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="departmentUserSorted = !departmentUserSorted; sortTable('username', departmentUserSorted)"
                                    class="sort-th">Department User
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'">Operator
                                </th>
                                <th *ngIf="reportType=='D'">Telecom Circle
                                </th>


                                <th (click)="senderIdSorted = !senderIdSorted; sortTable('cli', senderIdSorted)" class="sort-th">Sender ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="prioritySorted = !prioritySorted; sortTable('category', prioritySorted,true)" class="sort-th">Priority
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="internationalSorted = !internationalSorted; sortTable('in_FLAG', internationalSorted)"
                                    class="sort-th internationalCss">National/ International
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="reportType=='D'" (click)="scheduledOnSorted = !scheduledOnSorted; sortTable('scheduled_DATE', scheduledOnSorted,true)"
                                    class="sort-th">Scheduled On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="submittedOnSorted = !submittedOnSorted; sortTable('submit_TIME', submittedOnSorted,true)" class="sort-th">Submitted On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="deliveredOnSorted = !deliveredOnSorted; sortTable('delivery_TIME', deliveredOnSorted,true)" class="sort-th">Delivered On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="deliveryStatusSorted = !deliveryStatusSorted; sortTable('submit_STATE', deliveryStatusSorted,true)" class="sort-th">Delivery Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th>Reason</th>
                                <th *ngIf="reportType=='D'" (click)="smsTypeSorted = !smsTypeSorted; sortTable('dcs', smsTypeSorted)" class="sort-th">SMS Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="smsContentSorted = !smsContentSorted; sortTable('msg_TXT', smsContentSorted)" class="sort-th">SMS Content
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>

                                <th *ngIf="reportType=='D'">Submit ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportList | searchFilter: {channel:searchText, campaign_NAME: searchText,
                                campaign_ID: searchText, dept_NAME: searchText, username: searchText,operator: searchText,circle: searchText,
                                msg_TXT: searchText, msisdn: searchText, cli: searchText,in_FLAG:searchText, category: searchText,dcs: searchText, error_DESC:searchText, submit_STATE:searchText, amid:searchText  } | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{item['msisdn']}}</td>
                                <td *ngIf="reportType=='D'">{{item['channel']}}</td>
                                <td *ngIf="reportType=='D'">{{item['aggregator']}}</td>
                                <td *ngIf="reportType=='D'">{{item.campaign_ID}}</td>
                                <td *ngIf="reportType=='D'">{{item.campaign_NAME}}</td>
                                <td *ngIf="reportType=='D'">{{item.dept_NAME}}</td>
                                <td *ngIf="reportType=='D'">{{item.username}}</td>
                                <td *ngIf="reportType=='D'">{{item.operator}}</td>
                                <td *ngIf="reportType=='D'">{{item.circle}}</td>
                                <td>{{item.cli}}</td>
                                <td *ngIf="reportType=='D'">{{item['category']}}</td>
                                <td *ngIf="reportType=='D'">{{item['in_FLAG']}}</td>
                                <td *ngIf="reportType=='D'">{{item.scheduled_DATE | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                                <td>{{item.submit_TIME | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                                <td *ngIf="item.delivery_TIME;">{{item.delivery_TIME |date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                                <td *ngIf="!item.delivery_TIME;">NA</td>
                                <td>{{item['submit_STATE']}}</td>
                                <td>{{item.error_DESC}}</td>
                                <td *ngIf="reportType=='D'">{{item['dcs']}}</td>
                                <td>{{item.msg_TXT}}</td>
                                <td *ngIf="reportType=='D'">{{item.amid}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!reportList || reportList.length==0" class="no-data ">No Records Found</div>
                </div>
                <pagination-controls *ngIf="reportList" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div> -->
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>