.search-box{
  max-width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  input{
    outline: none;
    box-shadow: none;
    border-radius: 30px;
    padding-left: 20px;
  }
}
