.upload-caption {
    font-size: 11px;
    display: block;
    margin-top: 5px;
}

.upload-caption a {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}

.download-file-text {
    cursor: pointer;
}