<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Sender CLIs</label>
                    <div>
                        <input style="font-size: 15px;" #fileInput type="file" id="fileInput" class="form-control form-control-file" [ngClass]="{'error-border': formSubmitted && !fileUploaded}" (change)="onFileSelect($event.target.files)" accept=".xlsx,.xls">
                        <div *ngIf="formSubmitted && !fileUploaded" class="error-wrappers">
                            <span class="error" *ngIf="formSubmitted && !fileUploaded">Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="error-wrappers ml-3 mb-4 mt-1">
                    <span class="upload-caption">Download sample file
                    <span class="download-file-text blueTextClr" (click)="sampleFileDownload('excel')"> Excel</span>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>PF ID</label>
                    <div>
                        <!-- <select class="form-control" [(ngModel)]="selectedUser">
                            <option value="" disabled selected hidden>Select</option>
                            <option [value]="user.userId" *ngFor="let user of users">{{user.userName}}</option>
                        </select> -->
                        <ng-multiselect-dropdown  [(ngModel)]="selectedUser" [placeholder]="'Select'" [data]="users" [settings]="userSetting">

                        </ng-multiselect-dropdown>

                        <div *ngIf="selectedUser == '' && formSubmitted" class="error-wrappers">
                            <span class="error">Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
         </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
