.remarks-align{
  margin-left: 17px;
}

.search-table-outter { overflow-x: scroll; }
th, td {
min-width: 150px;
max-width: 350px;
word-wrap: break-word;
}

.action-item {
padding: 0px 5px;
cursor: pointer;
}

.switch {
width: 40px;
height: 20px;
}

.form-group{
font-weight: normal;
font-family: Arial;
}

.alignment{
text-align: center;
}

.thead-sb{
background-color: #00B5EF;
color: white;
vertical-align: middle;
font-family: Arial!important;
 font-style: normal!important;
 font-variant: normal!important;
 font-size: 15px;
 padding: 10px 10px 10px 10px;
 white-space: nowrap;
}

.td-height{
height:10%;
line-height: 1;
}

.slider:before {
height: 16px;
width: 16px;
left: 4px;
bottom: 2px;
}

.table-striped{
background-color:white;
}

.backColour{
background:white;
}

input:checked+.slider:before {
-webkit-transform: translateX(16px);
-ms-transform: translateX(16px);
transform: translateX(16px);
}

.example-container {
overflow: auto;
max-width: 100%;
max-height: 500px;
}

.table-shadow1{
box-shadow: none;
}

.per-page-record-label {
margin-left: 5px;
}

.modal-width{
min-width: 400px !important;
}

.text-padding{
padding: 10px 10px 10px 10px;
}

.modalPosition{
min-height: 250px;
margin-left: -500px;
margin-right:500px;
margin-top:250px;
}

