<div class="content-wrapper">
  <div class="container-fluid form-t1">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
</mat-form-field>
<div class="example-container mat-elevation-z8  form-group table-shadow1"  *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
<table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
  <ng-container matColumnDef="actions" sticky >
    <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
    <td class="text-padding td-height backColour" mat-cell *matCellDef="let element;  let i = index">
      <div class="btn-group btn-group-sm ">
        <i class="fa fa-trash action-item reject-clr" title="Delete " (click)="confirmDeleteRecord(deletePopUp,element) "></i>
        <label class="switch">
            <input type="checkbox" attr.id = "{{i}}" [checked]="element['status']=='Enabled'"
                (change)="changeStatusConfirmation(element,i) " >
            <span class="slider round "></span>
        </label>
    </div>
   </td>
  </ng-container>
  <ng-container matColumnDef="senderid">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> CLI </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['senderid']}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> PF ID </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['username']}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header  class="thead-sb"> Status </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['status']}} </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1 ; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
      <div *ngIf="senderIdList.length==0 " class="no-data ">No Records Found!</div>
      <div *ngIf="showError==true" class="no-data ">No Records Found!</div>
</div>

<div class="example-container mat-elevation-z8  form-group table-shadow1"  *ngIf="commonService.getUserByRole() == 'ROLE_HOD'">
  <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
    <ng-container matColumnDef="senderid">
      <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> CLI </th>
      <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['senderid']}} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> PF ID </th>
      <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['username']}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th   mat-header-cell *matHeaderCellDef mat-sort-header  class="thead-sb"> Status </th>
      <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['status']}} </td>
    </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2 ; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <div *ngIf="senderIdList.length==0 " class="no-data ">No Records Found!</div>
        <div *ngIf="showError==true" class="no-data ">No Records Found!</div>
  </div>

<div class="example-container mat-elevation-z8  form-group table-shadow1"  *ngIf="commonService.getUserByRole() == 'ROLE_CAMPAIGN' || commonService.getUserByRole() == 'ROLE_API'">
      <table   mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
      <ng-container matColumnDef="senderid">
        <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> CLI </th>
        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['senderid']}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th   mat-header-cell *matHeaderCellDef mat-sort-header  class="thead-sb"> Status </th>
        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['status']}} </td>
      </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    <div *ngIf="senderIdList.length==0 " class="no-data ">No Records Found!</div>
    <div *ngIf="showError==true" class="no-data ">No Records Found!</div>
</div>
  <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
</div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<ng-template #deletePopUp let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <span><b>Sender CLI Delete</b></span>
      </h4>
      <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
              <div class="remarks-align">
                  <p>Are you sure you want to permanently delete this {{this.deleteReq['senderid']}} sender CLI?
                  </p>
              </div>
              <div class="col-md-12" >
                  <form [formGroup]="statusForm" novalidate>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">Remarks </label>
                                  <div>
                                      <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':statusForm.controls.remarks.errors && formSubmitted}" placeholder="Enter Remarks" maxlength="200"></textarea>
                                  </div>
                                  <div *ngIf="statusForm.controls.remarks.errors && formSubmitted" class="error-wrappers">
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.required">Field is required
                                      </span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.minlength">Minimum 5 characters required</span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.pattern">Only Alphanumeric allowed
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button  type="button" class="btn btn-success ng-star-inserted" (click)="deleteRecord()">Delete     </button>
      <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
      </button>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3) " size="medium " color="#fff " type="ball-scale-multiple ">
</ngx-spinner>
