.login {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-wrapper {
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.login-box {
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    width: 100%;
    max-width: 850px;
    max-height: 500px;
    overflow-y: hidden;
    border-radius: 30px;
}

.img-div {
    text-align: center;
    padding: 0;
}

.img-div img {
    width: 100%;
    max-width: 700px;
}

.login-form {
    width: 85%;
    padding: 20px 0px;
}

.logo-login {
    text-align: center;
    // text-align: left;
    margin-bottom: 25px;
}
.serviceID{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: -13px;
    color: #292075;
    font-weight: 700;
    margin-top: 20px;
  }

.logo-login span {
    color: #ffffff;
    font-size: 24px;
}

.l-form {
    width: 100%;
    margin: 0px auto;
}

.cus-form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    padding: 2px 0px;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 3px;
}

.forgot-pwd p {
    text-align: right;
    font-size: 14px;
    color: #a0a0a0;
}

.forgot-pwd p a {
    color: #a0a0a0;
    text-decoration: underline;
}

.btn-sign-in {
    color: #fff;
    background: #00B5EF;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    padding: 7px;
    margin: 10px auto;
    display: block;
    width: 100%;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.login-text {
    color: #00B5EF;
    border-bottom: 2px solid #00B5EF;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.responsive-login-bg {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-text {
   /* color: #0C376A;
    font-size: 20px;
    margin: 20px;*/
    color: #0C376A;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    margin: 20px;
}

.margin{
    margin-top: 30px;
    width: 345px;
}
.dropdown{
    height: fit-content;
    margin: 3px 5px 15px -1px;
    border: 0;
    border-bottom: 1px solid lightgray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: slategray;
    padding-left: 0px;
    font-size: 14px;
}
.col-sm-5, .col-sm-7{
    padding-right: 0px;
}
// .show-pass{float: right; margin-top: 10px; color: #00b5ef;cursor: pointer;}
.show-pass{float: right; padding-right: 12px; position: relative;top: -53px; margin-top: 10px; color: #1d3869; cursor: pointer;}
// #00b5ef #1d3869
@media (max-width:767px) {
    .responsive-login-bg {
        display: none;
    }
}