<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-8 responsive-login-bg ">
                <div class="img-div">
                    <img src="assets/images/left_img.png" alt="">
                </div>
                <div class="img-text">SMS Seva</div>
            </div>
            <div class="col d-flex right-wrapper">
                <div class="w-100">
                    <div class="logo-login">
                        <img class="img-fluid" src="assets/images/logo_sbi.png" alt="">
                        <p class="serviceID">APM ID: IU_Infr_2240</p>
                    </div>
                    <div class="login-box">
                        <div class="login-form mx-auto">
                            <div class="login-text">Sign in to access your SMS Solution</div>
                            <form class=" mt-2 p-0" [formGroup]="loginForm" novalidate>
                                <div class="l-form">
                                    <div class="input-group margin row">
                                        <div class="col-sm-5">
                                            <select class="form-control dropdown" formControlName="circle">
                                                <option value="" disabled selected hidden>Circle</option>
                                                <option [value]="item.locationCode" *ngFor="let item of circleData">{{item.location}}</option>
                                            </select>
                                            <div *ngIf="loginForm.controls.circle.errors && formSubmitted && isFormValid" class="error-wrappers">
                                                    <span class="error" *ngIf="loginForm.controls.circle.errors.required">Circle is required</span>
                                                    <!-- <span class="error" *ngIf="loginForm.controls.userName.errors.pattern">Location of 3-4 alphabets followed by "/" followed by username of 5-10 digits </span> -->
                                                </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control cus-form-control" placeholder="PFID" formControlName="userName">
                                            <div *ngIf="loginForm.controls.userName.errors && formSubmitted && isFormValid" class="error-wrappers">
                                                <span class="error" *ngIf="loginForm.controls.userName.errors.required">Username is required</span>
                                                <!-- <span class="error" *ngIf="loginForm.controls.userName.errors.pattern">Location of 3-4 alphabets followed by "/" followed by username of 5-10 digits </span> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="input-group" id="show_hide_password">
                                        <input class="form-control" type="password">
                                        <div class="input-group-addon">
                                            <a href="">
                                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div> -->

                                    <div>
                                        <input #input type="password" class="form-control cus-form-control" placeholder="Password" formControlName="password">
                                        <small *ngIf="show" class="fa fa-eye show-pass cursor-hover" (click)="showPassword(input)"></small>
                                        <small *ngIf="hide" class="fa fa-eye-slash show-pass cursor-hover" (click)="hidePassword(input)"></small>
                                        <div *ngIf="loginForm.controls.password.errors && formSubmitted && isFormValid" class="error-wrappers">
                                            <span class="error" *ngIf="loginForm.controls.password.errors.required">Password is required</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-sign-in" type="submit" (click)="login()">Sign In</button>
                            </form>
                            <!-- <a class="btn btn-sign-in" [routerLink]="['/auth/forgot-password']">
                                Forgot Password
                            </a> -->
                            <!-- <hr/>
                            <a class="btn btn-sign-in" [routerLink]="['/registration/reg-home']">
                Registration Request
              </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftr">
    &copy;2019.All Rights Reserved SBI
</footer>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>