<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <form [formGroup]="reportingForm" novalidate>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Start Date</label>
            <div>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                (dateChange)="setEndDAte();" [max]="maxDate" [min]="minDate" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>End Date</label>
            <div>
              <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                formControlName="endDate" [max]="maxDate1" (dateChange)="setStartDAte();" [min]="minDate1" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <small class="upload-caption">*Only one month data can be viewed.
              </small>
              <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">Field is required
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Aggregator Name
            </label>
            <div>
              <ng-multiselect-dropdown formControlName="aggregator" [placeholder]="'Select'" [data]="aggregatorList" [settings]="aggSettings"></ng-multiselect-dropdown>
            </div>

            <div *ngIf="reportingForm.controls.aggregator.errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="reportingForm.controls.aggregator.errors.required">Field is required
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
      <div class="dropdown">
        <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="!reportList || reportList.length == 0">Export As
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
          <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
        </ul>
      </div>
    </div>
    <div class="sub-title"></div>

    <div class="container-fluid form-t1">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
      </mat-form-field>
      <div class="example-container mat-elevation-z8  form-group1 table-shadow1">

        <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>
          <ng-container matColumnDef="submitTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Submit Date </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.submitTime | date:"dd/MM/yyyy"}} </td>
          </ng-container>

          <ng-container matColumnDef="aggregator">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Aggregator Name </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.aggregator}} </td>
          </ng-container>

          <ng-container matColumnDef="rcount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Count </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.rcount}} </td>
          </ng-container>

          <ng-container matColumnDef="errorDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Error Description </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.errorDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> State </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.state}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<!-- <div class="row justify-content-between mb-2 mt-2">
      <div class="col-12">
        <div class="sub-title"></div>
      </div>
      <div class="col-4">
        <div class="form-group mb-0">
          <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-3 form-inline d-flex justify-content-end">
        <div class="form-group ">
          <label class="mr-3">Records Per Page</label>
          <div>
            <select class="form-control" [(ngModel)]="pageLimit">
              <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->
<!-- <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
            <thead class="thead-sb">
              <tr>
                <th (click)="dateSorted = !dateSorted; sortTable('submitTime', dateSorted)" class="sort-th">Submit Date
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="aggNameSorted = !aggNameSorted; sortTable('aggregator', aggNameSorted)" class="sort-th">Aggregator Name
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="countSorted = !countSorted; sortTable('rcount', countSorted,true)" class="sort-th">Count
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="errorDescSorted = !errorDescSorted; sortTable('errorDesc', errorDescSorted)" class="sort-th">Error Description
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="stateSorted = !stateSorted; sortTable('state', stateSorted,true)" class="sort-th">State
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reportList | searchFilter: {submitTime: searchText, aggregator: searchText,
                rcount: searchText, errorDesc: searchText, state: searchText} | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                <td>{{item.submitTime | date:"dd/MM/yyyy"}}</td>
                <td>{{item.aggregator}}</td>
                <td>{{item.rcount}}</td>
                <td>{{item.errorDesc}}</td>
                <td>{{item.state}}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!reportList || reportList.length == 0" class="no-data ">No Records Found</div>
        </div>
        <pagination-controls *ngIf="reportList" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div> -->