.search-table-outter { overflow-x: scroll; }
th, td {
    min-width: 194px;
    max-width: 350px;
    word-wrap: break-word;
 }

 mat-datepicker-toggle { margin-top: -38px !important; float: right;}
 .example-container {
    overflow: auto;
    // max-width: 1050px;
    max-width: 100%;
    max-height: 500px;
}
.form-group1{
    font-weight: normal;
    font-family: Arial;   
}
.thead-sb{
   background-color: #00B5EF;
   color: white;
   vertical-align: middle;
   font-family: Arial!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}
.table-striped{
    background-color:white;
}
.table-shadow1{
    box-shadow: none;
}
.backColour {
    background-color: white;
}   
.td-height{
     height:10%;
     line-height: 1;
}   
.text-padding{
   padding: 10px 10px 10px 10px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 10px !important;
}
.backColour{
    background:white;
  }

.specialWidth  {
    min-width:90px !important;
    max-width: 350px !important;
    // overflow-wrap: break-word;
    word-wrap: break-word;

}
.msgPerPartCss{
    min-width:210px !important;
    max-width: 350px !important;
    word-wrap: break-word;

    // overflow-wrap: break-word;
}
.overlapmatInputCss{
    display: block !important;
    width: 100%;
    padding: .375rem .75rem !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.no-data-content {
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
    border: 1px solid #cecece;
    border-radius: 2px;
    text-align: center;
}