.btn-padding{
    padding-top: 3px;
    padding-bottom: 3px;
}

.position-right{
    position: absolute;
    right: 15px
}
.margin-top-btn{
    margin-top: 30px;
}

mat-datepicker-toggle { margin-top: -38px !important; float: right;}
