<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type :
                        <b>{{commonService.getUserRole()}}
                            <span *ngIf="commonService.getUserRole() == 'Campaign User'"> - {{commonService.getCampaignUserType()}}</span>
                        </b>
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Reporting</span>
            </nav>
        </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-right mt-4">
    <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
</div> -->




<section class="right-panel-wrapper">
    <div [formGroup]="reportingForm" class="form-group" *ngIf="commonService.getUserByRole() == 'ROLE_CRM'">
        <div class="pull-right position-right " style="display: -webkit-inline-box">
            <div>
                <input type="text" formControlName="mobileNumber" class="form-control " placeholder="Enter Mobile Number" maxlength="10">
                <div *ngIf="reportingForm.controls.mobileNumber.errors && formSubmitted" class="error-wrappers">
                    <span class="error mt-0" *ngIf="reportingForm.controls.mobileNumber.errors.required">Required Field</span>
                    <span class="error mt-0" *ngIf="reportingForm.controls.mobileNumber.errors.maxlength">Maximum 10 characters allowed</span>
                    <span class="error mt-0" *ngIf="reportingForm.controls.mobileNumber.errors.pattern">Only 10 digits mobile number allowed <br> and should start from 9/8/7/6.  </span>
                </div>
            </div>
            <button class="btn btn-blue-light ml-2" (click)="sendSMS()">Send SMS</button>
        </div>

    </div>
    <ul class="nav nav-tabs" [ngClass]="{'margin-top-btn': commonService.getUserByRole() == 'ROLE_CRM'}">
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SUMMARY_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/summary-report" routerLinkActive="active">Summary Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.DETAILED_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/detailed-report" routerLinkActive="active">SMS DLR Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <a class="nav-link" routerLink="/main/reporting/umid-report" routerLinkActive="active">SMS DLR Report(UMID)</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.MO_SUMMARY_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/archived-report" routerLinkActive="active">MO Summary Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.PUSH_NOTIFICATION_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/ott-report" routerLinkActive="active">OTT Summary Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.MO_DETAILED_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/mo-detailed-report" routerLinkActive="active">MO Detailed Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.FAILED_SMS_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/failed-sms-report" routerLinkActive="active">Failed SMS Report</a>
        </li>
    </ul>
    <router-outlet></router-outlet>

</section>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>