<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <form [formGroup]="reportingForm" novalidate>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Start Date</label>
            <div>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                (dateChange)="setEndDAte();" [max]="maxDate" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>End Date</label>
            <div>
              <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                formControlName="endDate" [max]="maxDate1" (dateChange)="setStartDAte();" [min]="minDate" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Mobile Number
              <small class="grayOpt">[Optional]</small>
            </label>
            <div>
              <input type="text" class="form-control" placeholder="Mobile Number" formControlName="msdin">
              <small class="upload-caption">*Enter mobile number with country code.
              </small>
              <div *ngIf="reportingForm.controls.msdin.errors && formSubmitted" class="error-wrappers">
                <!-- <span class="error" *ngIf="reportingForm.controls.msdin.errors.required">Field is required</span> -->
                <span class="error" *ngIf="reportingForm.controls.msdin.errors.pattern">Only digits are allowed.</span>
                <span class="error" *ngIf="reportingForm.controls.msdin.errors.minlength">Minimum length is 10 digit.</span>
                <span class="error" *ngIf="reportingForm.controls.msdin.errors.maxlength">Maximum length is 16 digit.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>MO Keyword
              <small class="grayOpt">[Optional]</small>
            </label>
            <div>
              <input type="text" class="form-control" placeholder="MO Keyword" formControlName="keyword">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
      <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="showPdf()">Download PDF</button>
      <!-- [disabled]="dataSourceLength==0"  -->
      <!-- <div class="dropdown">
        <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="!reportList">Export As
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
          <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
        </ul>
      </div> -->
    </div>

    <div class="sub-title"></div>

    <div class="container-fluid form-t1">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
      </mat-form-field>
      <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
        <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>

          <ng-container matColumnDef="recTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Date </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.recTime}} </td>
          </ng-container>

          <ng-container matColumnDef="msisdn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Mobile Number </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.msisdn}} </td>
          </ng-container>

          <ng-container matColumnDef="shortCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Short/Long Code </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.shortCode}} </td>
          </ng-container>

          <ng-container matColumnDef="keyword">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> MO Keyword </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.keyword}} </td>
          </ng-container>

          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> MO Message </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.message}} </td>
          </ng-container>

          <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API'">
            <ng-container matColumnDef="deptName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Department Name </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.deptName}} </td>
            </ng-container>
          </ng-container>

          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Status </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.source}} </td>
          </ng-container>

          <ng-container matColumnDef="errorCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Error Code </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.errorCode}} </td>
          </ng-container>

          <ng-container matColumnDef="errorType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Error Type</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.errorType}} </td>
          </ng-container>

          <ng-container matColumnDef="errorDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Error Description</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.errorDesc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSourceLength==0" class="no-data ">No Records Found!</div>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

    <!-- <div class="row justify-content-between mb-2 mt-2">
      <div class="col-12">
        <div class="sub-title"></div>
      </div>
      <div class="col-4">
        <div class="form-group mb-0">
          <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-3 form-inline d-flex justify-content-end">
        <div class="form-group ">
          <label class="mr-3">Records Per Page</label>
          <div>
            <select class="form-control" [(ngModel)]="pageLimit">
              <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
            <thead class="thead-sb">
              <tr>
                <th (click)="dateSorted = !dateSorted; sortTable('recTime', dateSorted)" class="sort-th">Date
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="mobileSorted = !mobileSorted; sortTable('msisdn', mobileSorted,true)" class="sort-th">Mobile Number
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="codeSorted = !codeSorted; sortTable('shortCode', codeSorted,true)" class="sort-th">Short Code/ Long Code
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="keywordSorted = !keywordSorted; sortTable('keyword', keywordSorted,true)" class="sort-th">MO Keyword
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="messageSorted = !messageSorted; sortTable('message', messageSorted)" class="sort-th">MO Message
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API'" (click)="deptSorted = !deptSorted; sortTable('deptName', deptSorted)" class="sort-th">Department Name
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="statusSorted = !statusSorted; sortTable('source', statusSorted)" class="sort-th">Status
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>

                <th (click)="errCodeSorted = !errCodeSorted; sortTable('errorCode', errCodeSorted)" class="sort-th">Error Code
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="errTypeSorted = !errTypeSorted; sortTable('errorType', errTypeSorted)" class="sort-th">Error Type
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="errDescSorted = !errDescSorted; sortTable('errorDesc', errDescSorted)" class="sort-th">Error Description
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reportList | searchFilter: {msisdn: searchText, shortCode: searchText,
                keyword: searchText, message: searchText, deptName: searchText,source: searchText,errorCode: searchText,
                errorType: searchText,errorDesc: searchText} | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                <td>{{item.recTime | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                <td>{{item.msisdn}}</td>
                <td>{{item.shortCode}}</td>
                <td>{{item.keyword}}</td>
                <td>{{item.message}}</td>
                <td *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API'">{{item.deptName}}</td>
                <td>{{item.source}}</td>
                <td>{{item.errorCode}}</td>
                <td>{{item.errorType}}</td>
                <td>{{item.errorDesc}}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!reportList || reportList.length == 0" class="no-data ">No Records Found</div>
        </div>
        <pagination-controls *ngIf="reportList" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div> -->