<div class="content-wrapper">
  <form class="form-t1" [formGroup]="departmentForm" novalidate>
    <div class="container-fluid form-t1">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Department Name</label>
            <div>
              <input type="text" class="form-control" placeholder="Enter Department Name" formControlName="deptName" [ngClass]="{'error-border': formSubmitted && departmentForm.controls.deptName.errors}">
            </div>

            <div *ngIf="departmentForm.controls.deptName.errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="departmentForm.controls.deptName.errors.required">Required Field</span>
              <span class="error" *ngIf="departmentForm.controls.deptName.errors.minlength">Minimum 2 characters required</span>
              <span class="error" *ngIf="departmentForm.controls.deptName.errors.maxlength">Maximum 50 characters allowed</span>
              <span class="error" *ngIf="departmentForm.controls.deptName.errors.pattern">Only alpha-numeric characters allowed</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex mt-2 col-lg-4 col-md-6">
          <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="saveDepartment()">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
