<style>
.swati.form-control {
  height: auto !important;
}

</style>


<div class="content-wrapper">
    <form class="form-t1" [formGroup]="senderIdForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Sender CLIs</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Sender CLI" formControlName="senderId" (focusout)="uniqueCheck();" >
                        </div>
                        <div class="error-wrappers">
                            <span class="upload-caption">
                                Maximum 10 sender CLI are allowed separated by comma(,) and each sender CLI is of maximum 16 characters.
                            </span>
                        </div>
                        <div *ngIf="senderIdForm.controls.senderId.errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="senderIdForm.controls.senderId.errors.required">Field is required</span>
                              <span class="error" *ngIf="senderIdForm.get('senderId').hasError('invalidStr') ">
                              Maximum 10 valid sender CLI (comma separated) and each CLI must have minimum 4 and maximum 16 characters allowed.
                              </span>
                           <span class="error" *ngIf="senderIdForm.controls.senderId.errors.pattern">Special characters @,-,_ allowed only, no spaces</span>
                        </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>PF ID</label>
                        <div >
                            <!-- <select class="form-control" formControlName="user">
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="user.userId" *ngFor="let user of users">{{user.userName}}</option>
                            </select>   multiple="true" [clearable]="true" -->

                            <!-- <ng-select  bindLabel="Select" bindValue="id"  [placeholder]="'Select'" appendTo="body" appearance="outline" typeToSearchText="Type to search"    [searchable]="true" class="form-control" formControlName="user" >
                              <ng-option  [value]="user.id"  placeholder [disabled]="user.disabled" *ngFor="let user of users"  >
                                {{user.userName}}
                            </ng-option>
                </ng-select> -->

                <ng-multiselect-dropdown formControlName="user" [placeholder]="'Select'" [data]="users" [settings]="userSetting">

                </ng-multiselect-dropdown>





                            <div *ngIf="senderIdForm.controls.user.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="senderIdForm.controls.user.errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
