.upload-caption {
    font-size: 11px;
    display: block;
    margin-top: 5px;
}

.upload-caption a {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}


.ng-select .ng-select-container {
  min-height: auto;
}

.ng-select.ng-select-single .ng-select-container {
  height: auto;
}

ng-select .custom .ng-dropdown-panel .form-control .ng-select-bottom{
  height: auto;
}



