<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="campaignForm" novalidate>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                                (dateChange)="setEndDAte(false);" [min]="endDte" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <div *ngIf="campaignForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.startDate.errors.required">Field is required.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                                formControlName="endDate" [max]="maxDate" [min]="minDate" (dateChange)="setStartDAte(); ">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <div *ngIf="campaignForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.endDate.errors.required">Field is required.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-btn">
                    <button class="btn btn-blue-light bt-fix" type="submit" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </form>
        <div class="sub-title"></div>
        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8 form-group1 table-shadow1">

                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>
                    <ng-container matColumnDef="actions" sticky>
                        <th mat-header-cell *matHeaderCellDef class="thead-sb specialWidth"> Actions </th>
                        <td class=" backColour text-padding td-height specialWidth" mat-cell *matCellDef="let element">
                            <ng-container *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN_APPROVAL)">
                                <div class="btn-group btn-group-sm ">
                                    <i class="fa fa-check-circle-o action-item approve-clr" title="Approve" (click)="approvalStatus(element,changeStatusCampaign,$event.target.title)"></i>
                                    <i class="fa fa-times-circle-o action-item reject-clr" title="Reject" (click)="approvalStatus(element,changeStatusCampaign,$event.target.title)"></i>
                                </div>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="templateIdDlt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.templateIdDlt}} </td>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="campaignName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign Name </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.campaignName}} </td>
                    </ng-container>
                    <!--<ng-container matColumnDef="templateType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.templateType}} </td>
                    </ng-container>-->
                    <ng-container matColumnDef="statusDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Status </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.statusDesc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="scheduleTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Scheduled On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.scheduleTime | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Submittted On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.createdOn | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.messageType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Template Content </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.messageText}} </td>
                    </ng-container>
                    <ng-container matColumnDef="senderId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Sender CLI</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.senderId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="typeFlag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">National/International </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.typeFlag}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalRecordCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Total Recipients</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.totalRecordCount}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>

        </div>
    </div>

    <ng-template #changeStatusCampaign let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                <span>
                    <b>Campaign Status</b>
                </span>
            </h4>
            <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div>
                        <p>Are you sure you want to
                            <span *ngIf="updateUserStatusEvent == 'Reject'">reject </span>
                            <span *ngIf="updateUserStatusEvent == 'Approve'">approve </span> '{{userDetails.campaignName}}' campaign?
                        </p>
                    </div>
                    <div class="col-md-12" *ngIf="updateUserStatusEvent == 'Reject'">
                        <form [formGroup]="statusForm" novalidate>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="heading">Remarks
                                            <!-- <span class="required-sign">*</span> -->
                                        </label>
                                        <div>
                                            <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': changeStatusCamp && statusForm.controls.remarks.errors}"
                                                placeholder="Remarks" maxlength="200"></textarea>
                                        </div>
                                        <div *ngIf="changeStatusCamp && statusForm.controls.remarks.errors" class="error-wrappers">
                                            <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.required">Required Field
                                            </span>
                                            <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                            <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                            <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.pattern">Only alphanumeric allowed
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="updateUserStatusEvent == 'Reject'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Reject
            </button>
            <button *ngIf="updateUserStatusEvent == 'Approve'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Approve
            </button>
            <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
            </button>
        </div>
    </ng-template>

    <ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
    </ngx-spinner>