    <div class="content-wrapper">
        <form class="form-t1" [formGroup]="moKeywordForm" novalidate>

          <div class="container-fluid form-t1">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Code</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Code" formControlName="code" minlength="4" maxlength="16">
                    </div>

                    <div *ngIf="moKeywordForm.controls.code.errors && formSubmitted" class="error-wrappers">
                        <span class="error" *ngIf="moKeywordForm.controls.code.errors.required">Field is required</span>
                        <span class="error" *ngIf="moKeywordForm.controls.code.errors.pattern">Only digits are allowed</span>
                        <span class="error" *ngIf="moKeywordForm.controls.code.errors.minlength">Minimum 4 characters required</span>
                        <span class="error" *ngIf="moKeywordForm.controls.code.errors.maxlength">Maximum length is 16 characters</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                  <label>MO Keyword</label>
                  <small class="grayOpt"> [Optional]</small>
                  <div>
                      <input type="text" class="form-control" placeholder="Keyword" (ngModelChange)="updateRequiredCase();" minlength="2" maxlength="15"
                          formControlName="keywords">
                  </div>
                  <div *ngIf="moKeywordForm.controls.keywords.errors && formSubmitted" class="error-wrappers">
                      <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.pattern">Space and Special Characters are not allowed</span>
                      <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.minlength">Minimum 2 characters required</span>
                      <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.maxlength">Maximum length is 15 characters</span>
                  </div>
                  <!-- <span class="error" *ngIf="!uniqueKeyword">This MO keyword already exists. Please enter new MO keyword.</span> -->
              </div>
            </div>


                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Case Sensitivity Flag</label>
                        <small class="grayOpt" *ngIf="caseRequired"> [Optional]</small>
                        <select class="form-control" formControlName="caseSensitivityFlag" (change)="keywordExistance();">
                          <option value="" selected >Select</option>
                            <option value='Y'>Yes</option>
                            <option value='N'>No</option>
                        </select>
                        <div *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors.required">Field is required</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Primary Route</label>
                        <div>
                            <select class="form-control" formControlName="primaryRouteId" (change)= "routeChanged('primaryRouteId')">
                                <option value="">Select</option>
                                <option [value]="item.id" *ngFor="let item of primaryDropdownList">{{item.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="moKeywordForm.controls.primaryRouteId.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.primaryRouteId.errors.required">Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Secondary Route
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <select class="form-control" formControlName="secondaryRouteId" (change)= "routeChanged('secondaryRouteId')">
                                <option value="" selected>Select</option>
                                <option [value]="item.id" *ngFor="let item of secondaryDropdownList">{{item.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="moKeywordForm.controls.secondaryRouteId.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.secondaryRouteId.errors.required">Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Department</label>
                        <div>
                            <select class="form-control" formControlName="department">
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="item.id" *ngFor="let item of departments">{{item.department}}</option>
                            </select>
                        </div>
                        <div *ngIf="moKeywordForm.controls.department.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.department.errors.required">Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="sub-title">Retry Details</div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-center">

                    <div class="switch-wrapper w-100">
                        <span class="sw-label">Retry Flag :</span>
                        <label class="switch">
                            <input type="checkbox" formControlName="retryFlag" (change)="flagChanged('retryFlag',['retryRoute','retryCount','retryIntervalArray'])">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" *ngIf="moKeywordForm.controls.retryFlag.value">
                    <div class="form-group">
                        <label>Retry Route </label>
                        <div>
                            <select class="form-control" formControlName="retryRoute">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="{{item.id}}" *ngFor="let item of retryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                            <div *ngIf="formSubmitted && moKeywordForm.controls.retryRoute.errors" class="error-wrappers">
                                <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryRoute.errors.required">Required Field
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="moKeywordForm.controls.retryFlag.value">
                    <div class="form-group">
                        <label>Retry Count </label>
                        <div>
                            <select class="form-control" formControlName="retryCount" (change)="retryCountChanged()">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="{{item}}" *ngFor="let item of retryCountList">{{item}}</option>
                            </select>
                            <div *ngIf="formSubmitted && moKeywordForm.controls.retryCount.errors" class="error-wrappers">
                                <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryCount.errors.required">Required Field
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

                <ng-template [ngIf]="moKeywordForm.controls.retryFlag.value">
                    <div class="col-lg-4 col-md-6" formArrayName="retryIntervalArray" *ngFor="let retryIntervalItem of moKeywordForm.controls.retryIntervalArray.controls; let i = index">
                        <div class="form-group" [formGroupName]="i">
                            <label>Retry Interval {{i+1}}</label>
                            <div>
                                <input type="text" class="form-control" formControlName="retryInterval" placeholder="Enter retry interval (in sec)" maxlength="10">
                                <div *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors"
                                    class="error-wrappers">
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.required">Field is required
                                    </span>
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.min">Minimum 1 Retry Interval Required</span>
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.max">Maximum 900 Retry Interval allowed</span>
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.pattern">Only digits are allowed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
