<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row mb-2">
            <div *ngIf="tempRes" class="">
                <button *ngIf="userRole=='ROLE_DLT'" type="button" class=" mr-3 btn ng-star-inserted approve-bg-clr white-txt"
                [disabled]="!isBulkBtnEnable" title="bulkApprove"  (click)="bulkApprovalReject(uppLoadTemplates, $event.target.title)">Bulk Approve/Reject</button>
                
                <button *ngIf="userRole=='ROLE_HOD'" type="button" class=" mr-3 btn ng-star-inserted approve-bg-clr white-txt"
                [disabled]="!isBulkBtnEnable" title="bulkApprove"  (click)="confirmationForBulkApp(bulkApproval, $event.target.title)">Bulk Approve</button>
                <button *ngIf="userRole=='ROLE_HOD'" type="button" class="btn ng-star-inserted reject-bg-clr white-txt"
                [disabled]="!isBulkBtnEnable" title="bulkReject" (click)="confirmationForBulkApp(bulkApproval, $event.target.title)">Bulk Reject</button>
            </div>
            <div class="col-4">
                <!--<div class="form-group mb-0" [class.tempCss]="tempRes">-->
                <div class="form-group mb-0">
                  <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
                  </mat-form-field>
            </div>    
            </div>
            <div *ngIf="tempRes" class="col-2">
            </div>
            <div *ngIf="!tempRes" class="col-5">
            </div>
            <div *ngIf="tempRes" class="float-right">
                <button *ngIf="userRole=='ROLE_DLT'" type="button" class="mr-3 btn ng-star-inserted approve-bg-clr white-txt"
                [disabled]="!isBulkBtnEnable" title="bulkApprove" (click)="downloadtemp()">Download Templates</button>
            </div>
        </div>
        <div class="example-container mat-elevation-z8  form-group table-shadow1" *ngIf="commonService.getChannelId() != 2">
          <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
            <ng-container matColumnDef="actions" sticky >
              <th class="thead-sb" mat-header-cell *matHeaderCellDef >
                <form *ngIf="userRole=='ROLE_HOD'">
                    <input id="sAll" [checked]="accepted" *ngIf="tempRes" type="checkbox" style="vertical-align: sub; width: 17px; height: 17px; padding-left: 10px;" (click)="checkAll()"> Select All
                </form>
                     <span *ngIf="userRole=='ROLE_DLT'">Actions</span>
            </th>
              <td class="backColour actionSize sort-th text-left text-padding td-height" mat-cell *matCellDef="let element" >
                <div class="btn-group btn-group-sm" *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE_APPROVAL) && userRole=='ROLE_HOD'">
                    <input type="checkbox" style="margin: 4px 5px; width: 17px; height: 17px;" [(ngModel)]="element.checked" (click)="updateForm(element)">
                </div>
                <div class="btn-group btn-group-sm" *ngIf="userRole=='ROLE_DLT'">
                    <!--<i class="fa fa-check-circle-o action-item approve-clr" title="bulkApprove" (click)="confirmationForBulkApp(bulkApproval, $event.target.title, element)" ></i>-->
                    <i class="fa fa-check-circle-o action-item approve-clr" title="Approve" (click)="dltFormSetup(updatemodal, $event.target.title, element)" ></i>
                    <i class="fa fa-times-circle-o action-item reject-clr" title="Reject" (click)="dltFormSetup(updatemodal, $event.target.title,element)"></i>
                </div>
            </td>
            </ng-container>

            <ng-container matColumnDef="spiceTemplateid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template ID </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element;let i = index">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="templateIdDlt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element;let i = index">
                    <!--<form [formGroup]="mainGroup" *ngIf='dltIdFlag'>
                        <input type="text" class="form-control" placeholder="" maxlength="50" formControlName="{{element.templateName}}" [(ngModel)]="element.templateIdDlt" [ngClass]="error-border">               
                    </form>-->
                    {{element.templateIdDlt}}
                    </td>
               </ng-container>

            <ng-container matColumnDef="templateName">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Name </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateName}} </td>
            </ng-container>
               <ng-container matColumnDef="templateType">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateType}} </td>
            </ng-container>

            <ng-container matColumnDef="senderId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Sender ID </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element;let i = index">{{element.senderId}}</td>
              </ng-container>

            <ng-container matColumnDef="language">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Content Type </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.language == '1' ? 'Text': 'Unicode'}} </td>
            </ng-container>
            <ng-container matColumnDef="template">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">  Template Text </th>
              <td class="text-padding td-height double-Shown" mat-cell *matCellDef="let element"> {{element.template}} </td>
            </ng-container>

            <ng-container matColumnDef="caseSensitivityFlag">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Case Sensitivity </th>
               <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.caseSensitivityFlag}} </td>
             </ng-container>
             <ng-container matColumnDef="maskFlag">
               <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Mask Flag</th>
               <td  class="text-padding td-height" mat-cell *matCellDef="let element">{{element.maskFlag == null ?"":element.maskFlag}} </td>
              </ng-container>

              <ng-container matColumnDef="maskText">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Mask Text</th>
                <td  class="text-padding td-height" mat-cell *matCellDef="let element">{{element.maskText}} </td>
               </ng-container>

             <ng-container matColumnDef="username">
               <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Assigned To </th>
               <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.username}} </td>
             </ng-container>
             <ng-container matColumnDef="creationDate">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Created On </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="approvedBy">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Approved By </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.approvedBy}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Status </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

              </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
          </div>
          </div>

          <ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
          </ngx-spinner>



        <!-- <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <ng-container *ngIf="commonService.getChannelId() != 2">
                        <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                            <thead class="thead-sb">
                                <tr>
                                    <th class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE_APPROVAL)">
                                        <input id="sAll" [checked]="accepted" *ngIf="tempRes" type="checkbox" style="vertical-align: sub; width: 17px; height: 17px;" (click)="checkAll()"> Select All
                                    </th>
                                    <th (click)="templateNameSorted = !templateNameSorted; sortTable('templateName', templateNameSorted)" class="sort-th">Template Name
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="contentTypeSorted = !contentTypeSorted; sortTable('language', contentTypeSorted,true)" class="sort-th">Content Type
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="templateTextSorted = !templateTextSorted; sortTable('template', templateTextSorted)" class="sort-th">Template Text
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="caseSensitivityFlagSorted = !caseSensitivityFlagSorted; sortTable('caseSensitivityFlag', caseSensitivityFlagSorted)"
                                        class="sort-th">Case Sensitivity
                                        <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                    </th>


                                    <th>Mask Flag</th>
                                    <th>Mask Text</th>
                                    <!-- (click)="maskTextSorted = !maskTextSorted; sortTable('maskText', maskTextSorted)" class="sort-th" -->
                                    <!-- <th (click)="assignedToSorted = !assignedToSorted; sortTable('username', assignedToSorted)" class="sort-th">Assigned To
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="createdBySorted = !createdBySorted; sortTable('creationDate', createdBySorted)" class="sort-th">Created On
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="approvedBySorted = !approvedBySorted; sortTable('approvedBy', approvedBySorted,true)" class="sort-th">Approved By
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="statusSorted = !statusSorted; sortTable('status', statusSorted, true)" class="sort-th">Status
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tempRes|
                          searchFilter: {department: searchText, username:searchText,  template: searchText, approvedBy: searchText,maskText:searchText} |
                          paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                    <td class="actionSize sort-th text-center" *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE_APPROVAL)">
                                        <div class="btn-group btn-group-sm ">
                                            <input type="checkbox" style="margin: 4px 5px; width: 17px; height: 17px;" [(ngModel)]="item.checked"> -->
                                            <!-- <input type="checkbox" name="item{{item.id}}" style="margin: 4px 5px" (click)="checkSelected(i)"> -->
                                            <!-- (ngModel)="tempRes[i].checked" -->
                                            <!-- <i class="fa fa-check-circle-o action-item approve-clr" title="Approve" (click)="approvalStatus(item,changeStatusCampaign,$event.target.title)"></i>
                                            <i class="fa fa-times-circle-o action-item reject-clr" title="Reject" (click)="approvalStatus(item,changeStatusCampaign,$event.target.title)"></i> -->
                                        <!-- </div>
                                    </td>
                                    <td>{{item.templateName}}</td>
                                    <td>{{item.language == '1' ? 'Text': 'Unicode'}}</td>
                                    <td>{{item.template}}</td>
                                    <td>{{item.caseSensitivityFlag}}</td>

                                    <td *ngIf="item.maskFlag == null"></td>
                                    <td>{{item.maskFlag}}</td>
                                    <td>{{item.maskText}}</td>
                                    <td>{{item.username}}</td>
                                    <td>{{item.creationDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.approvedBy}}</td>
                                    <td *ngIf="item.status == 0">Pending for Approval</td>
                                    <td *ngIf="item.status == 7">Rejected</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!tempRes || tempRes.length == 0" class="no-data ">No Records Found!</div>
                    </ng-container>
                    <ng-container *ngIf="commonService.getChannelId() == 2">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <thead class="thead-sb">
                                <tr>
                                    <th (click)="templateNameSorted = !templateNameSorted; sortTable('name', templateNameSorted)" class="sort-th">Template Name
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="contentTypeSorted = !contentTypeSorted; sortTable('contentType', contentTypeSorted, true)" class="sort-th">Template Content Type
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="approvedBySorted = !approvedBySorted; sortTable('content', approvedBySorted)" class="sort-th">Template Text
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="createdBySorted = !createdBySorted; sortTable('creationDate', createdBySorted)" class="sort-th">Created On
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tempRes |
                              searchFilter: {name: searchText, content: searchText} |
                              paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                    <td>{{item.name}}</td>
                                    <td>{{item.contentType == 1 ? 'Text' : 'Unicode'}}</td>
                                    <td>{{item.content}}</td>
                                    <td>{{item.creationDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.status.id == 1 ? 'Enabled' : 'Disabled'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!tempRes" class="no-data ">No Records Found!</div>
                    </ng-container>
                </div>
                <pagination-controls class="my-pagination" *ngIf="tempRes" (click)="pagechng()" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div> -->
<ng-template #changeStatusCampaign let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Template Status</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="remarks-align">
                    <p>Are you sure you want to
                        <span *ngIf="updateUserStatusEvent == 'Reject'">reject {{approvalReq['templateNme']}} template?</span>
                        <span *ngIf="updateUserStatusEvent == 'Approve'">approve {{approvalReq['templateNme']}} template?
                        </span>
                    </p>
                </div>
                <div class="col-md-12" *ngIf="updateUserStatusEvent == 'Reject'">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': changeStatusCamp && statusForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors" class="error-wrappers">
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.pattern">Only Alphanumeric allowed with single space
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="updateUserStatusEvent == 'Reject'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Reject
        </button>
        <button *ngIf="updateUserStatusEvent == 'Approve'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Approve
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
        </button>
    </div>
</ng-template>

<ng-template #bulkApproval let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span *ngIf="statusForBulk == 1 || statusForBulk == 10">
                <b>Bulk Approval</b>
            </span>
            <span *ngIf="statusForBulk == 2">
                <b>Bulk Rejection</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="remarks-align">
                    <p *ngIf="statusForBulk == 1">Are you sure to approve selected template(s)?
                    </p>
                    <p *ngIf="statusForBulk == 2">Are you sure to reject selected template(s)?
                    </p>
                </div>
                <div class="col-md-12" *ngIf="statusForBulk == 2">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="form-group">
                            <label class="heading">Remarks
                            </label>
                            <div>
                                <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':changeStatusCamp && statusForm.controls.remarks.errors}"
                                    placeholder="Enter Remarks" maxlength="200"></textarea>
                            </div>
                            <div *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors" class="error-wrappers">
                                <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.required">Required Field
                                </span>
                                <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.minlength">Minimum 5 characters are required</span>
                                <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.maxlength">Maximum 200 characters are allowed</span>
                                <span class="error" *ngIf="changeStatusCamp && statusForm.controls['remarks'].errors.pattern">Only Alphanumeric allowed with single space
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="statusForBulk == 1" type="button" class="btn btn-success ng-star-inserted" (click)="sendCheckedTemp()">Approve
        </button>
        <button *ngIf="statusForBulk == 2" type="button" class="btn btn-success ng-star-inserted" (click)="sendCheckedTemp()">Reject
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
        </button>
    </div>
</ng-template>

<ng-template #uppLoadTemplates let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Upload file</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="remarks-align">
                    <p>Upload File for to Approve template(s)
                    </p>
                </div>
                <div class="col-md-12">
                    <form class="form-t1" [formGroup]="bulkForm" novalidate>
                        <div class="container-fluid form-t1">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>Templates File</label>
                                        <div>
                                            <input style="font-size: 15px;" #fileInput type="file" id="fileInput" class="form-control form-control-file" [ngClass]="{'error-border': filenotUploaded && !fileUploaded}" (change)="onFileSelect($event.target.files)" accept=".xlsx,.xls">
                                            <div *ngIf="filenotUploaded && !fileUploaded" class="error-wrappers">
                                                <span class="error" *ngIf="!fileUploaded">Valid file is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error-wrappers ml-3 mb-4 mt-1">
                                        <span class="upload-caption">Download sample file
                                    <span class="download-file-text blueTextClr pointer" (click)="sampleFileDownload('csv')"> CSV </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="confirmationForBulkApp('', 'bulkApprove','')">Approve
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
        </button>
    </div>
</ng-template>

<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">{{buttonName}} Template</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form class="form-t1" [formGroup]='dltApproveForm' novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>DLT Template ID</label>
                        <div>
                            <input type="text" class="form-control" placeholder="DLT Template ID" formControlName="dltTemplateId" minlength="5" maxlength="25">
                            <div *ngIf="dltApproveForm.controls['dltTemplateId'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateId'].touched && dltApproveForm.controls['dltTemplateId'].errors.required">Field is required</span>
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateId'].touched && dltApproveForm.controls['dltTemplateId'].errors.pattern">Only numbers allowed</span>
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateId'].touched && (dltApproveForm.controls['dltTemplateId'].errors.minlength || dltApproveForm.controls['dltTemplateId'].errors.maxlength)">Minimum 5 digits and maximum of 25 digits is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Telemarketer</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Telemarketer" formControlName="telemarketer" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['telemarketer'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['telemarketer'].touched && dltApproveForm.controls['telemarketer'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>DLT Template Name</label>
                        <div>
                            <input type="text" class="form-control" placeholder="DLT Template Name" formControlName="dltTemplateName" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['dltTemplateName'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateName'].touched && dltApproveForm.controls['dltTemplateName'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Type</label>
                        <div>
                            <select class="form-control" formControlName="type">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="text">Text</option>
                                <option value="Regional Language">Regional language </option>
                                <option value="Unihex">Unihex </option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Type" formControlName="type" minlength="1" maxlength="30">-->
                            <div *ngIf="dltApproveForm.controls['type'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['type'].touched && dltApproveForm.controls['type'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Header</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Header" formControlName="header" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['header'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['header'].touched && dltApproveForm.controls['header'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        <div>
                            <select class="form-control" formControlName="category">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="Service Implicit">Service Implicit</option>
                                <option value="Service Explicit">Service Explicit</option>
                                <option value="Transactional">Transactional</option>
                                <option value="Promotional">Promotional</option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Category" formControlName="category" minlength="1" maxlength="30">-->
                            <div *ngIf="dltApproveForm.controls['category'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['category'].touched && dltApproveForm.controls['category'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Registered DLT</label>
                        <div>
                            <select class="form-control" formControlName="registeredDLT" (ngModelChange)="dltChange()">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="VIL">VIL</option>
                                <option value="Airtel">Airtel</option>
                                <option value="Jio">Jio</option>
                                <option value="O">Other</option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Registered DLT" formControlName="registeredDLT" minlength="1" maxlength="30">-->
                            <div *ngIf="dltApproveForm.controls['registeredDLT'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['registeredDLT'].touched && dltApproveForm.controls['registeredDLT'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6" *ngIf="dltApproveForm.controls['registeredDLT'].value=='O'">
                    <div class="form-group">
                        <label>Registered DLT Other</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Registered DLT Other" formControlName="otherDLT" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['otherDLT'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['otherDLT'].touched && dltApproveForm.controls['otherDLT'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Requested On</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="requestedOn"
                                 [max]="maxDate" (keydown)="restrictKeyword($event);">
                                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            <!--<input type="date" class="form-control" placeholder="Requested On" formControlName="requestedOn">-->
                            <div *ngIf="dltApproveForm.controls['requestedOn'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['requestedOn'].touched && dltApproveForm.controls['requestedOn'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Status Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="statusDate"
                                 [max]="maxDate" (keydown)="restrictKeyword($event);">
                                 <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            <!--<input type="date" class="form-control" placeholder="" formControlName="statusDate">-->
                            <div *ngIf="dltApproveForm.controls['statusDate'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['statusDate'].touched && dltApproveForm.controls['statusDate'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Approval status</label>
                        <div>
                            <input type="text" [readonly]="true" class="form-control" placeholder="Approval Status" formControlName="approvalStatus" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['approvalStatus'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['approvalStatus'].touched && dltApproveForm.controls['approvalStatus'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <div>
                            <select class="form-control" formControlName="status">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="active">Active</option>
                                <option value="deactive">In-active</option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Status" formControlName="status" minlength="1" maxlength="30">-->
                            <div *ngIf="dltApproveForm.controls['status'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['status'].touched && dltApproveForm.controls['status'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

              <!-- <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>DLT Template Message</label>
                        <div>
                            <input type="text" class="form-control" placeholder="DLT Template Message" formControlName="dlttemplatemessage" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['dlttemplatemessage'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['dlttemplatemessage'].touched && dltApproveForm.controls['dlttemplatemessage'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Consent Type</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Consent Type" formControlName="consentType" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['consentType'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['consentType'].touched && dltApproveForm.controls['consentType'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Reject Reason</label>
                        <div>
                            <input type="text" [readOnly]="buttonName.toLowerCase()=='approve'" class="form-control" placeholder="Rejection Reason" formControlName="rejectionReason" minlength="1" maxlength="40">
                            <div *ngIf="dltApproveForm.controls['rejectionReason'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['rejectionReason'].touched && dltApproveForm.controls['rejectionReason'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-success mr-3" (click)="confirmationForBulkApp(bulkApproval, $event.target.title,dltApproveForm)">{{buttonName}}</button>
    </div>
  </ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
