
  <div class="content-wrapper">
    <div class="container-fluid form-t1">
      <div class="row justify-content-between mb-2">
        <div class="col-12"><div class="sub-title">List of User's Aggregator & TPS</div></div>
        <div class="col-4">
          <div class="form-group mb-0">


            <input type="search" class="form-control" placeholder="Search">


          </div>
        </div>
        <div class="col-3 form-inline d-flex justify-content-end">
          <div class="form-group ">
            <label class="mr-3">Records Per Page</label>
            <div>
              <select class="form-control" >

                <option value= 1>10</option>
                <option value= 2>20</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12">
          <div class="table-responsive">

            <table class="table table-bordered table-striped table-hover table-sm">
              <thead class="thead-sb">
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td class="text-center"><div class="btn-group btn-group-sm">
                    <button type="button" class="btn"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn"><i class="fa fa-times"></i></button>
                  </div>   </td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                  <td class="text-center"><div class="btn-group btn-group-sm">
                    <button type="button" class="btn"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn"><i class="fa fa-times"></i></button>
                  </div>   </td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                  <td class="text-center"><div class="btn-group btn-group-sm">
                    <button type="button" class="btn"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn"><i class="fa fa-times"></i></button>
                  </div>   </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

