<div class="content-wrapper">
  <form class="form-t1" [formGroup]="moRouteForm" novalidate>
    <div class="container-fluid form-t1">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>MO Route Name</label>
            <div>
              <input type="text" class="form-control" placeholder="MO Route Name" formControlName="routeName" minlength="3" maxlength="25" (change)="caseSensitive();"
              [ngClass]="{'error-border': moRouteForm.controls['routeName'].errors && formSubmitted}">
            </div>
            <div *ngIf="moRouteForm.controls['routeName'].errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="moRouteForm.controls.routeName.errors.required">Field is required</span>
              <span class="error" *ngIf="moRouteForm.controls.routeName.errors.pattern">Only alphanumeric allowed. </span>
              <span class="error" *ngIf="moRouteForm.controls.routeName.errors.minlength">Minimum 3 characters required </span>
            </div>
            <span class="error" *ngIf="!uniqueRoute">This MO Route already exists. Please enter new MO Route.</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>Protocol</label>
            <div>
              <select class="form-control" formControlName="protocol"
              [ngClass]="{'error-border': moRouteForm.controls['protocol'].errors && formSubmitted}">
                <option value="" disabled selected hidden>Select</option>
                <option value="http" >HTTP</option>
                <option value="https" >HTTPS</option>
              </select>
              <div *ngIf="moRouteForm.controls.protocol.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="moRouteForm.controls.protocol.errors.required">Field is required</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>Host <small class="grayOpt">[Optional]</small></label>
            <div>
              <input type="text" class="form-control" placeholder="Host" formControlName="host" minlength="5" maxlength="100"  (focusout)="dynamicValidation();" [ngClass]="{'error-border': moRouteForm.controls['host'].errors && formSubmitted}">
            </div>
            <div *ngIf="moRouteForm.controls.host.errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="moRouteForm.controls.host.errors.pattern">Enter Valid IP Address or Domain Name</span>
              <span class="error" *ngIf="moRouteForm.controls.host.errors.minlength">Minimum 5 characters required</span>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>Port</label>
            <div>
              <input type="text" class="form-control" placeholder="Port" formControlName="port"  minlength="4" maxlength="5" (keypress)="commonService.isNumber($event)"
              [ngClass]="{'error-border': moRouteForm.controls['port'].errors && formSubmitted}">
            </div>
            <div *ngIf="moRouteForm.controls.port.errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="moRouteForm.controls.port.errors.required">Field is required</span>
              <span class="error" *ngIf="moRouteForm.controls.port.errors.max || moRouteForm.controls.port.errors.min">Range allowed between 1023-65536</span>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>URI</label>
            <div>
              <input type="text" class="form-control" placeholder="URI" formControlName="uri" minlength="5" maxlength="100"
              [ngClass]="{'error-border': moRouteForm.controls['uri'].errors && formSubmitted}">
            </div>
            <div *ngIf="moRouteForm.controls.uri.errors && formSubmitted" class="error-wrappers">
              <span class="error" *ngIf="moRouteForm.controls['uri'].errors.required">Field is required</span>
              <span class="error" *ngIf="moRouteForm.controls['uri'].errors.pattern">Only alphanumeric with '-', '_', '=', '?', '#', '/', '.', ':' these special characters are allowed.</span>
              <span class="error" *ngIf="moRouteForm.controls['uri'].errors.minlength">Minimum 5 characters required</span>

            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
      </div>
    </div>
  </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
