.template-content-labels {
    padding: 0 5% 0 0;
    color: green;
    font-style: italic;
    font-weight: 500;
    font-size: 25;
    margin-top: 8px;
    display: inline-block;
}

.template-content-labels span {
    color: green;
}

.place-holder-button {
    margin-top: 7%;
}
