<div class="content-wrapper">
    <form class="form-t1" [formGroup]="smsTemplateForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>SMS Content Type</label>
                        <div>
                            <select class="form-control" formControlName="contentType" (change)="isDoubleByte();">
                                <option value="" disabled selected hidden>Select</option>
                                <option value=1>Text</option>
                                <option value=2 *ngIf="this.unicodeFlag">Unicode</option>
                            </select>
                            <div *ngIf="smsTemplateForm.controls['contentType'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['contentType'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Template Name</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Template Name" formControlName="name" minlength="1" maxlength="30" (ngModelChange)="duplicatecheck()">
                            <div *ngIf="smsTemplateForm.controls['name'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.required">Field is required</span>
                                <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.pattern">Only Alphanumeric allowed with '-','_','#','@' special characters.</span>
                                <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.minlength">Template name must not be empty</span>
                            </div>
                            <span class="error" *ngIf="!uniqueTemp && formSubmitted">This Template name already exists. Please Enter new Template name.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" *ngIf="this.showUser">
                    <div class="form-group">
                        <label>User</label>
                        <div>
                            <select class="form-control" formControlName="user" (change)="getUserList();">
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="item.userId" *ngFor="let item of users">{{item.username}}</option>
                            </select>
                            <div *ngIf="smsTemplateForm.controls['user'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['user'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Mask Flag</label>
                        <div>
                            <select class="form-control" formControlName="maskFlag" (change)="maskFlagChanged($event.target.value)">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                            <div *ngIf="smsTemplateForm.controls['maskFlag'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['maskFlag'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                      <label>Case Sensitivity Flag</label>
                      <select class="form-control" formControlName="caseSensitivityFlag" [ngClass]="{'error-border': formSubmitted && smsTemplateForm.controls.caseSensitivityFlag.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value='Y'>Yes</option>
                          <option value='N'>No</option>
                      </select>
                      <div *ngIf="smsTemplateForm.controls['caseSensitivityFlag'].errors && formSubmitted" class="error-wrappers">
                          <span class="error" *ngIf="smsTemplateForm.controls['caseSensitivityFlag'].errors.required">Field is required</span>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Template Type</label>
                    <select class="form-control" formControlName="temlateCategory" [ngClass]="{'error-border': formSubmitted && smsTemplateForm.controls.temlateCategory.errors}">
                        <option value="" disabled selected hidden>Select</option>
                        <option value="{{item.id}}" *ngFor="let item of categoryList">{{item.category}}</option>
                    </select>
                    <div *ngIf="smsTemplateForm.controls['temlateCategory'].errors && formSubmitted" class="error-wrappers">
                        <span class="error" *ngIf="smsTemplateForm.controls['temlateCategory'].errors.required">Field is required</span>
                    </div>
                </div>
            </div>

                
            
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Sender ID</label>
                    <ng-multiselect-dropdown formControlName="senderId" [placeholder]="'Select'" [data]="senderIdList" [settings]="senderIdListSetting" [(ngModel)]="selectedSenderId" [ngClass]="{'error-border': formSubmitted && smsTemplateForm.controls.senderId.errors}">
                    </ng-multiselect-dropdown>
                    <div *ngIf="smsTemplateForm.controls['senderId'].errors && formSubmitted" class="error-wrappers">
                        <span class="error" *ngIf="smsTemplateForm.controls['senderId'].errors.required">Field is required</span>
                    </div>
                </div>
            </div>

                <div class="col-lg-12 col-md-12" *ngIf="smsTemplateForm.controls['maskFlag'].value == 'Y'">
                    <div class="form-group">
                        <label>Mask Text</label>
                        <div>
                            <textarea type="text" class="form-control" placeholder="Mask Text" formControlName="maskText" minlength="10" maxlength="1120"></textarea>
                            <div *ngIf="smsTemplateForm.controls['maskText'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['maskText'].errors.required">Field is required</span>
                                <span class="error" *ngIf="smsTemplateForm.controls['maskText'].errors.minlength">Minimum 10 characters required</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Template Content</label>
                        <div>
                            <textarea type="text" class="form-control" minlength="10" maxlength="{{maxlen}}" placeholder="Enter sms content." formControlName="content"
                                (ngModelChange)="isDoubleByte()" #contentText></textarea>
                            <div *ngIf="smsTemplateForm.controls['content'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.required">Field is required</span>
                                <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.minlength">Minimum 10 characters required</span>
                                <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.maxlength">You have Exceeded the Maximum Message part {{messagePart}}</span>
                            </div>
                            <span class="error" *ngIf="this.UnicodeError && this.smsTemplateForm.controls['content'].value">{{errorMsgType}}</span>
                            <span class="error" *ngIf="this.errorZero && this.smsTemplateForm.controls['content'].value">{{errZeroMsg}}</span>
                            <span class="error" *ngIf="!isValidContent">\L, \l, \N, \U and \u are not allowed</span>
                            <span class="error" *ngIf="this.smsTemplateForm.controls['content'].value.indexOf('  ')>-1">Continuous space are not allowed in template content</span>
                            <span class="template-content-labels">Entered SMS Length
                                <span>{{contentText.value.length}}</span>
                            </span>
                            <span class="template-content-labels">Single SMS Length
                                <span>{{maxLengthSMS}}</span>
                            </span>
                            <span class="template-content-labels">Number of SMS per receipt
                                <span>{{math.ceil(contentText.value.length/maxLengthSMS)}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="template-content-labels">NOTE:
                        <span>Use .{{'{'}}1,30{{'}'}} for your dynamic placeholder(s) eg: Dear .{{'{'}}1,30{{'}'}} your account balance is .{{'{'}}1,30{{'}'}}.</span>
                    </div>
                </div>
            </div>
            <!--<div class="template-content-labels">NOTE:
                <span>Use .{{'{'}}1,30{{'}'}} for your dynamic placeholder(s) eg: Dear .{{'{'}}1,30{{'}'}} your account balance is .{{'{'}}1,30{{'}'}}.</span>
            </div>-->
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
