<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : <b>{{commonService.getUserRole()}} <span *ngIf="commonService.getUserRole() == 'Campaign User'"> - {{commonService.getCampaignUserType()}}</span></b></h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" routerLink="/main/dashboard">Home</a>
                <span class="breadcrumb-item active">Manage Aggregator Routes</span>
            </nav>
        </div>
    </div>
</div>


<section class="right-panel-wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" *ngIf="commonService.hasReadAccess(MODULES.ROUTES)" routerLink="/main/manage-route/list" routerLinkActive="active">View Aggregator Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES)" routerLink="/main/manage-route/add" routerLinkActive="active">Add New Aggregator Route</a>
        </li>
    </ul>

    <!-- Tab panes -->

    <router-outlet></router-outlet>

</section>