<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="aggregatorForm" novalidate>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Name

                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="aggregatorName" placeholder="Enter aggregator name" maxlength="50"
                                        [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorName.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.required">Required field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.minlength">Minimum 3 characters required</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.maxlength">Maximum length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.pattern">Only alpha-numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Type

                                </label>
                                <div>
                                    <select class="form-control" formControlName="aggregatorType" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorType.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="{{item.id}}" *ngFor="let item of aggregatorTypeList">{{item.name}}</option>
                                    </select>
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorType.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorType.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>TPS

                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="tps" placeholder="Enter TPS" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.tps.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.tps.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.required">Required field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.min">Minimum 1 TPS required
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.max">Maximum 50000 TPS Allowed
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.pattern">Only numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Topic  </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="topic" placeholder="Enter topic" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.topic.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.topic.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.minlength">Minimum
                      length is 3 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.maxlength">Maximum
                      length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.pattern">Only
                      alpha-numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Protocol

                                </label>
                                <div>
                                    <select class="form-control" formControlName="aggregatorProtocol" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="{{item.id}}" *ngFor="let item of aggregatorProtocolList">{{item.name}}</option>
                                    </select>
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Port
                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="port" placeholder="Enter port" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.port.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.port.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.port.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && (aggregatorForm.controls.port.errors.min || aggregatorForm.controls.port.errors.max)">Range allowed between 100-65536
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.port.errors.pattern">Only numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>IP

                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="ip" placeholder="Enter IP" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.ip.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.ip.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.ip.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.ip.errors.pattern">Enter Valid IP Address</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Category

                                </label>
                                <div>
                                    <select class="form-control" formControlName="category" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.category.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="{{item.id}}" *ngFor="let item of categoryList">{{item.category}}</option>
                                    </select>
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.category.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.category.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Email Address

                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email Address" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.email.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.email.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.email.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.email.errors.pattern">Enter Valid Email Address</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Secondary Email Address
                                    <small class="grayOpt">[Optional]</small>
                                </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="emailSecondary" placeholder="Enter Email Address" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.emailSecondary.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.emailSecondary.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.emailSecondary.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.emailSecondary.errors.pattern">Enter Valid Email Address</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                          <div class="form-group">
                              <label>Payload <small class="grayOpt">[Optional]</small>

                              </label>
                              <div>
                                <textarea type="text" class="form-control" placeholder="Enter Payload"  formControlName="payload"  maxlength="512" minlength="10" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.payload.errors}" ></textarea>
                                <div *ngIf="formSubmitted && aggregatorForm.controls.payload.errors" class="error-wrappers">
                                      <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.payload.errors.required">Required field
                                      </span>
                                      <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.payload.errors.minlength">Minimum 10 characters required</span>
                                      <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.payload.errors.maxlength">Maximum length is 512 characters</span>
                                      <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.payload.errors.pattern">Only valid query string format is allowed i.e. name=value&name1=value1</span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Unicode Payload <small class="grayOpt">[Optional]</small>

                            </label>
                            <div>
                              <textarea type="text" class="form-control" placeholder="Enter Payload"  formControlName="unicodePayload"  maxlength="512" minlength="10" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.unicodePayload.errors}" ></textarea>
                              <div *ngIf="formSubmitted && aggregatorForm.controls.unicodePayload.errors" class="error-wrappers">
                                    <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.unicodePayload.errors.required">Required field
                                    </span>
                                    <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.unicodePayload.errors.minlength">Minimum 10 characters required</span>
                                    <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.unicodePayload.errors.maxlength">Maximum length is 512 characters</span>
                                    <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.unicodePayload.errors.pattern">Only valid query string format is allowed i.e. name=value&name1=value1</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == HTTP">
                            <div class="form-group">
                                <label>URL  </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="url" placeholder="Enter URL" maxlength="100" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.tps.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.tps.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.pattern">Invalid
                      URL</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == SMPP">
                            <div class="form-group">
                                <label>Source IP  </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="sourceIp" placeholder="Enter source ip address" maxlength="100" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.sourceIp.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors.pattern">Invalid
                      IP Address</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == SMPP">
                            <div class="form-group">
                                <label>Source Port  </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="sourcePort" placeholder="Enter source port" maxlength="5" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.sourcePort.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors.pattern">Only
                      numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Username </label>
                                <div>
                                    <input type="text" class="form-control" formControlName="userName" placeholder="Enter username" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.userName.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.userName.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.minlength">Minimum
                      length is 2 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.maxlength">Maximum
                      length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.pattern">Only
                      alpha-numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Password </label>
                                <div>
                                    <input type="password" class="form-control" formControlName="passWord" placeholder="Enter password" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.passWord.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.minlength">Minimum
                      length is 2 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.maxlength">Maximum
                      length is 50 characters</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                              <label>Aggregator Response Type

                              </label>
                              <div>
                                  <select class="form-control" formControlName="aggregatorResponse" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorResponse.errors}">
                                      <option value="" disabled selected hidden>Select</option>
                                      <option value="{{item.responseType}}" *ngFor="let item of aggregatorResponseType">{{item.responseType}}</option>
                                  </select>
                                  <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorResponse.errors" class="error-wrappers">
                                      <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorResponse.errors.required">Required Field
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      </div>

                  </form>

                <!-- <div class="row"> -->


                  <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="saveAggregator()">
                        <span *ngIf="!isEdit">Register</span>
                        <span *ngIf="isEdit">Update</span>
                    </button>
                    <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2">Reset</button> -->
                    <!-- <button class="btn btn-red-light bt-fix  mb-2" (click)="cancel()">Cancel</button> -->
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
