<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <form [formGroup]="reportingForm" novalidate>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Start Date</label>
            <div>
              <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                (dateChange)="setEndDAte();" [max]="maxDate" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>End Date</label>
            <div>
              <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                formControlName="endDate" [max]="maxDate1" (dateChange)="setStartDAte();" [min]="minDate" (keydown)="restrictKeyword($event);">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">*Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
          <div class="form-group">
            <label>Department Name
              <small class="grayOpt">[Optional]</small>
            </label>
            <div>
              <ng-multiselect-dropdown formControlName="department" [placeholder]="'Select'" [data]="departments" [settings]="deptSettings"></ng-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_HOD' || commonService.getUserByRole() == 'ROLE_ADMIN'">
          <div class="form-group">
            <label>Username
              <small class="grayOpt">[Optional]</small>
            </label>
            <div>
              <input type="text" class="form-control" placeholder="Username" formControlName="user">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
      <div class="dropdown">
        <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="!reportList">Export As
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
          <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
        </ul>
      </div>
    </div>
    <div class="sub-title"></div>
    <div class="container-fluid form-t1">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
      </mat-form-field>
      <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
        <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Date </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.date | date:"dd/MM/yyyy"}} </td>
          </ng-container>

          <ng-container matColumnDef="campaignId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign ID </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaignId}} </td>
          </ng-container>

          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Department </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.department}} </td>
          </ng-container>

          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> User ID </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.userId}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">User Name</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.username}} </td>
          </ng-container>

          <ng-container matColumnDef="appName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> App Name </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.appName}} </td>
          </ng-container>

          <ng-container matColumnDef="osName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">OS Name </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.osName}} </td>
          </ng-container>

          <ng-container matColumnDef="countTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Total Count</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countTotal}} </td>
          </ng-container>

          <ng-container matColumnDef="countSubmittedTotal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Submitted Count </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSubmittedTotal}} </td>
            </ng-container>
  
            <ng-container matColumnDef="countSubmittedSuccess">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Success Count </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSubmittedSuccess}} </td>
            </ng-container>
  
            <ng-container matColumnDef="countSubmitfail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Failure Count</th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSubmitfail}} </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <div class="row justify-content-between mb-2 mt-2">
      <div class="col-12">
        <div class="sub-title"></div>
      </div>
      <div class="col-4">
        <div class="form-group mb-0">
          <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="col-3 form-inline d-flex justify-content-end">
        <div class="form-group ">
          <label class="mr-3">Records Per Page</label>
          <div>
            <select class="form-control" [(ngModel)]="pageLimit">
              <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
            <thead class="thead-sb">
              <tr>
                <th (click)="dateSorted = !dateSorted; sortTable('date', dateSorted,true)" class="sort-th">Date
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="campaignIDSorted = !campaignIDSorted; sortTable('campaignId', campaignIDSorted,true)" class="sort-th">Campaign ID
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)" class="sort-th">Department Name
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="userIdSorted = !userIdSorted; sortTable('userId', userIdSorted,true)" class="sort-th">User ID
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="usernameSorted = !usernameSorted; sortTable('username', usernameSorted)" class="sort-th">Username
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="appNameSorted = !appNameSorted; sortTable('appName', appNameSorted)" class="sort-th">App Name
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="osNameSorted = !osNameSorted; sortTable('osName', osNameSorted)" class="sort-th">OS Name
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="countTotalSorted = !countTotalSorted; sortTable('countTotal', countTotalSorted,true)" class="sort-th">Total Count
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="countSubmittedTotalSorted = !countSubmittedTotalSorted; sortTable('countSubmittedTotal', countSubmittedTotalSorted,true)"
                  class="sort-th internationalCss">Submitted Count
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="countSubmittedSuccessSorted = !countSubmittedSuccessSorted; sortTable('countSubmittedSuccess', countSubmittedSuccessSorted,true)"
                  class="sort-th">Success Count
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
                <th (click)="countSubmitfailSorted = !countSubmitfailSorted; sortTable('countSubmitfail', countSubmitfailSorted,true)" class="sort-th">Failure Count
                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reportList | searchFilter: {campaignId:searchText, department: searchText,
                userId: searchText, username: searchText,appName: searchText,osName: searchText,
                countTotal: searchText, countSubmittedTotal: searchText, countSubmittedSuccess:searchText, countSubmitfail: searchText} | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                <td>{{item['date'] | date:"dd/MM/yyyy"}}</td>
                <td>{{item.campaign_ID}}</td>
                <td>{{item.department}}</td>
                <td>{{item.userId}}</td>
                <td>{{item.username}}</td>
                <td>{{item.appName}}</td>
                <td>{{item.osName}}</td>
                <td>{{item['countTotal']}}</td>
                <td>{{item.countSubmittedTotal}}</td>
                <td>{{item.countSubmittedSuccess}}</td>
                <td>{{item['countSubmitfail']}}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!reportList || reportList.length==0" class="no-data ">No Records Found</div>
        </div>
        <pagination-controls *ngIf="reportList" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div> -->
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>