<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <form [formGroup]="viewSearchForm" novalidate>
      <div class="row mb-2">
        <div class="col-md-2" *ngIf="commonService.getUserRoleId() == '2'">
          <select class="form-control search" formControlName="userSearchType" (change)="userSearchTypeChanged()">
            <option value=1>Non-CRM User</option>
            <option value=2>CRM User</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-control search" formControlName="searchBy">
            <option value="">Search By</option>
            <option value="MSISDN">MSISDN</option>
            <option value="PFID">PFID</option>
            <option value="EMAIL">EMAIL</option>
            <option value="APPNAME">APP NAME</option>
          </select>
          <div *ngIf="viewSearchForm.controls.searchBy.errors && formSubmitted" class="error-wrappers">
            <span class="error" *ngIf="viewSearchForm.controls.searchBy.errors.required">*Search By is required
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control search" formControlName="textToSearch" placeholder="Enter Text">
          <div *ngIf="viewSearchForm.controls.textToSearch.errors && formSubmitted" class="error-wrappers">
            <span class="error" *ngIf="viewSearchForm.controls.textToSearch.errors.required">*Text is required</span>
            <span class="error" *ngIf="viewSearchForm.controls.textToSearch.errors.minlength">*Minimum length is 2.
            </span>
            <span class="error" *ngIf="viewSearchForm.controls.textToSearch.errors.maxlength">*Maximum length is 70.
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-blue-light bt-fix mb-2" (click)="getSearchRecords()">
                Search
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-blue-light bt-fix mb-2" (click)="RenderDataTable()">
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="example-container mat-elevation-z8  form-group table-shadow1">
      <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm">
        <ng-container matColumnDef="actions" sticky>

          <th mat-header-cell class="thead-sb" *matHeaderCellDef>Actions</th>
          <td mat-cell class="backColour td-height text-padding" *matCellDef="let element; let i= index">
            <div class="btn-group btn-group-sm">
              <i class="fa fa-eye action-item action-link view-eye" title="View Details" (click)="viewUser(element.userId,showUser)"></i>
              <ng-container *ngIf="commonService.hasWriteAccess(MODULES.USER)">
                <a class="action-link" [routerLink]="['/main/manage-user/add-user']" [queryParams]="{ userId: element.userId }">
                  <i class="fa fa-pencil action-item edit-clr" title="Update"></i>
                </a>
                <a class="action-link" (click)="viewDeleteUserModal(element,deleteUserView)">
                  <i class="fa fa-trash action-item reject-clr" title="Delete"></i>
                </a>
                <label class="switch">
                  <input type="checkbox" attr.id="{{i}}" [checked]="element.status == 1" [disabled]="element.status != 1 && element.status != 2"
                    (change)="viewUpdateStatusModal(element,updateStatus,$event.target.checked,i)">
                  <span class="slider round" [class.cursor-disabled]="element.status != 1 && element.status != 2" title="{{element.statusDesc}}"></span>
                </label>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell class="thead-sb" (click)="userNameSorted = !userNameSorted; sortTable('userName', userNameSorted)" *matHeaderCellDef>PFID
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index"> {{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="statusDesc">
          <th mat-header-cell (click)="statusDescSorted = !statusDescSorted; sortTable('statusDesc', statusDescSorted)" class="thead-sb"
            *matHeaderCellDef>Status
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index"> {{element.statusDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell (click)="roleSorted = !roleSorted; sortTable('role', roleSorted)" class="thead-sb" *matHeaderCellDef>Role
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.role}}</td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell (click)="firstNameSorted = !firstNameSorted; sortTable('firstName', firstNameSorted)" class="thead-sb"
            *matHeaderCellDef>First Name
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell (click)="lastNameSorted = !lastNameSorted; sortTable('lastName', lastNameSorted)" class="thead-sb" *matHeaderCellDef>Last Name
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell (click)="emailSorted = !emailSorted; sortTable('email', emailSorted)" class="thead-sb" *matHeaderCellDef>Email
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell (click)="mobileNumberSorted = !mobileNumberSorted; sortTable('mobileNumber', mobileNumberSorted,true)"
            class="thead-sb" *matHeaderCellDef>Mobile Number
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.mobileNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)" class="thead-sb"
            *matHeaderCellDef>Department
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.department}}</td>
        </ng-container>

        <ng-container matColumnDef="hod">
          <th mat-header-cell (click)="departmentHodSorted = !departmentHodSorted; sortTable('hod', departmentHodSorted)" class="thead-sb"
            *matHeaderCellDef>Department HOD
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.hod}}</td>
        </ng-container>

        <ng-container matColumnDef="finalApprover">
          <th mat-header-cell (click)="finalApproverSorted = !finalApproverSorted; sortTable('finalApprover', finalApproverSorted)"
            class="thead-sb" *matHeaderCellDef>Final Approver
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.finalApprover}}</td>
        </ng-container>

        <ng-container matColumnDef="creatadBy">
          <th mat-header-cell (click)="creatadBySorted = !creatadBySorted; sortTable('creatadBy', creatadBySorted)" class="thead-sb"
            *matHeaderCellDef>Creatad By
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.creatadBy}}</td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <th mat-header-cell (click)="createdOnSorted = !createdOnSorted; sortTable('createdOn', createdOnSorted,true)" class="thead-sb"
            *matHeaderCellDef>Creatad On
            <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
          </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element; let i= index">{{element.createdOn| date:'dd-MM-yyyy'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="(dataSource.count$  | async) == 0" class="no-data ">No Records Found!</div>    
    </div>
    <mat-paginator style="float: right;" #paginator [length]="dataSource.count$ | async" [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="true">
    </mat-paginator>
    <div class="clearfix"></div>
  </div>
</div>

<ng-template #showUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span class="bold-font">User Details</span>
    </h4>
    <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scroll-css">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="sub-title">Personal Information</div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">First Name </label>
                <div class="word-wrap normal-font word-wrap">
                  {{userDetails.firstName}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Last Name </label>
                <div class="word-wrap normal-font word-wrap">
                  {{userDetails.lastName}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">PF ID</label>
                <div class="word-wrap normal-font word-wrap">
                  {{userDetails.username}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Primary Email Address</label>
                <div class="word-wrap normal-font word-wrap">
                  {{userDetails.email}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Alternate Email Address</label>
                <div class="word-wrap normal-font word-wrap">
                  {{userDetails.alternateEmails || 'NA'}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Mobile Number </label>
                <div class="normal-font word-wrap">
                  {{userDetails.msisdn}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Role </label>
                <div class="normal-font word-wrap">
                  {{userDetails.roleId["description"]}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">Department </label>
                <div class="normal-font word-wrap">
                  {{userDetails.deptId["department"]}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.hod == 'NA' || userDetails.hod == '' || userDetails.hod == null)">
              <div class="form-group">
                <label class="heading">Department HOD </label>
                <div class="normal-font word-wrap">
                  {{userDetails.hod}}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.finalApprover == 'NA' || userDetails.finalApprover == '' || userDetails.finalApprover == null)">
              <div class="form-group">
                <label class="heading">Final Approver </label>
                <div class="normal-font word-wrap">
                  {{userDetails.finalApprover}}
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.applicationName == 'NA' || userDetails.applicationName == '' || userDetails.applicationName == null)">
              <div class="form-group">
                <label class="heading">Application Name </label>
                <div class="normal-font">
                  {{userDetails.applicationName}}
                </div>
              </div>
            </div> -->
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label class="heading">IP White List Details</label>
                <div class="normal-font word-wrap">
                  {{ userDetails.ipWhitelist || 'NA'}}
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="userDetails.roleId['configurationFlag'] == 'R' || (userDetails.roleId['configurationFlag'] == 'N') ">
            <div class="col-12">
              <div class="sub-title">Configuration Information</div>
            </div>
            <div class="col-12">
              <div class="row">
                <!-- <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Category</label>
                    <div class="normal-font">
                      {{userDetails.categoryId["category"]}}
                    </div>
                  </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6">
                                  <div class="form-group">
                                      <label class="heading">Channel </label>
                                      <div class="normal-font">
                                          {{userDetails.channelId['channelName']}}
                                      </div>
                                  </div>
                              </div> -->
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">TPS </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.tps}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Spam Filteration Level</label>
                    <div class="normal-font word-wrap" [ngSwitch]="userDetails.spamKeywordLevel">
                      <div *ngSwitchCase="'A'">All</div>
                      <div *ngSwitchCase="'H'">High</div>
                      <div *ngSwitchCase="'M'">Medium</div>
                      <div *ngSwitchCase="'L'">Low</div>
                      <div *ngSwitchCase="'N'">None</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Sender ID </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxSenderid}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Template </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxTemplate}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="userDetails.maxMessageParts>1">
                  <div class="form-group">
                    <label class="heading">Maximum Message per part length </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxMessageParts}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Long Message Support</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.longMessageAllowed == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Unicode Support</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.unicodeSupport == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Duplicate Check</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.duplicateCheck == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Template Check</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.templateCheck == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">App Notification Support</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.fcmFlag == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">International Route Allowed</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.internationalRouteFlag == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Sender Id Check</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.senderidCheck == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">DLR Report Request</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.dlrReportsReq == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="userDetails.channelId['id'] == 2">
                <div class="col-12">
                  <div class="sub-title">Campaign Channel Parameters</div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum File size </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxFilesize}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Recipient Count </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxRecipientCount}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Daily Threshold Limit </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxDailyThresholdLimit}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="userDetails.channelId['id'] == 1">
                <div class="col-12">
                  <div class="sub-title">API Channel Parameters</div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Connection Count </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.maxConnection}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="userDetails.dlrReportsReq == 'Y'">
                <div class="col-12">
                  <div class="sub-title">User DLR Callback Details</div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Topology </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["topologyMode"] == 1 ? 'Active/Active' : 'Active/Passive'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Primary Url </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["primaryUrl"]}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Secondary Url </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["secondaryUrl"] || 'NA'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Topic </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["topicId"] ? userDetails.userDlrCallback["topicId"]["topic"] ? userDetails.userDlrCallback["topicId"]["topic"]
                      : 'NA' : 'NA'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Maximum Connection Count </label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["maxConnection"]}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label class="heading">Retry Flag</label>
                    <div class="normal-font word-wrap">
                      {{ userDetails.userDlrCallback["retryFlag"] == "Y" ? 'Yes' : 'No'}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="userDetails.userDlrCallback['retryFlag'] == 'Y'">
                  <div class="form-group">
                    <label class="heading">Retry Count</label>
                    <div class="normal-font word-wrap">
                      {{userDetails.userDlrCallback["maxRetryCount"]}}
                    </div>
                  </div>
                </div>
                <ng-container class="col-lg-4 col-md-6" *ngIf="userDetails.userDlrCallback['retryFlag'] == 'Y'">
                  <div class="col-lg-4 col-md-6" *ngFor="let interval of userDetails.userDlrCallback['retryDetails']; let i = index">
                    <div class="form-group">
                      <label class="heading">Retry Interval {{i+1}}</label>
                      <div class="normal-font word-wrap">
                        {{interval}}
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12"> -->
          <!-- <div class="row">
                              <div class="col-12">
                                  <div class="sub-title">Authorization Information</div>
                              </div>
                              <div class="col-lg-4 col-md-6">
                                  <div class="form-group">
                                      <label class="heading">Report Privileges</label>
                                      <div class="normal-font">
                                          {{userDetails.accessJson == "1" ? "Self" : userDetails.accessJson == "2" ? "Department" : userDetails.accessJson == "3" ? "All" : "NA"}}
                                      </div>
                                  </div>
                              </div>
                          </div> -->
          <div class="row">
            <div class="col-12">
              <div class="sub-title">Access Permissions</div>
            </div>
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered  table-hover table-sm">
                  <thead class="thead-sb">
                    <tr>
                      <th class="pc-1">S.no.</th>
                      <th class="pc-2">Module</th>
                      <th class="pc-3">Read/Write</th>
                      <th class="pc-3">Read Only</th>
                      <th class="pc-3">Hide</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                      <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                      <td *ngIf="!item.isSubModule">{{item.view}}</td>
                      <td class="pc-3" *ngIf="!item.isSubModule">
                        <span *ngIf="viewPermissionList[item.formControlName] == 'RW'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                      <td class="pc-3" *ngIf="!item.isSubModule">
                        <span *ngIf="viewPermissionList[item.formControlName] == 'R'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                      <td class="pc-3" *ngIf="!item.isSubModule">
                        <span *ngIf="!viewPermissionList[item.formControlName] || viewPermissionList[item.formControlName] == 'H'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                      <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                        <table class="table table-hover table-sm m-0 ">
                          <tr *ngFor="let subItem of item.subModuleList">
                            <td class="sub-module-list">
                              <small>{{subItem.sno}}</small>
                            </td>
                            <td class="pci-2">{{subItem.view}}</td>
                            <td class="pc-3">
                              <span *ngIf="viewPermissionList[subItem.formControlName] == 'RW'">
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </span>
                            </td>
                            <td class="pc-3">
                              <span *ngIf="viewPermissionList[subItem.formControlName] == 'R'">
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </span>
                            </td>
                            <td class="pc-3">
                              <span *ngIf="!viewPermissionList[subItem.formControlName] || viewPermissionList[subItem.formControlName] == 'H'">
                                <i class="fa fa-check" aria-hidden="true"></i>
                              </span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- </div>
          </div> -->


        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
    </button>
  </div>
</ng-template>

<ng-template #updateStatus let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span class="bold-font">Update User Status</span>
    </h4>
    <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click');">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div>
        <p>Are you sure you want to
          <span *ngIf="updateUserStatusEvent">enable </span>
          <span *ngIf="!updateUserStatusEvent">disable </span>
          <span class="bold-font">{{userDetails.userName}}</span> user?</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="statusForm" novalidate>
            <div class="row">
              <!-- <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">Existing Status</label>
                                  <div>
                                      <input type="text" [disabled]="true" value="{{userDetails.statusDesc}}" class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">New Status
                                      <span class="required-sign">*</span>
                                  </label>
                                  <div>
                                      <select class="form-control" formControlName="newStatus" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.newStatus.errors}">
                                          <option value="" disabled selected hidden>Select</option>
                                          <option value="{{item.id}}" *ngFor="let item of statusList">{{item.name}}</option>
                                      </select>
                                      <div *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors" class="error-wrappers">
                                          <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors.required">Required Field
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label class="heading">Remarks
                  </label>
                  <div>
                    <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.remarks.errors}"
                      placeholder="Enter Remarks" maxlength="200"></textarea>
                  </div>
                  <div *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors" class="error-wrappers">
                    <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.required">Required Field
                    </span>
                    <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                    <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                    <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success ng-star-inserted" (click)="updateUserStatus('test')">Yes
    </button>
    <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click');">No
    </button>
  </div>
</ng-template>

<ng-template #deleteUserView let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span>
        <b>Delete User</b>
      </span>
    </h4>
    <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <!-- btn-link -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="deleteForm" novalidate>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label class="heading">Remarks
                  </label>
                  <div class="modal-width">
                    <textarea rows="3" class="form-control " formControlName="remarks" [ngClass]="{'error-border': deleteFormSubmitted && deleteForm.controls.remarks.errors}"
                      placeholder="Enter Remarks" maxlength="200"></textarea>
                  </div>
                  <div *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors" class="error-wrappers">
                    <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.required">Required Field
                    </span>
                    <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                    <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                    <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteUser()">Delete User
    </button>
    <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
    </button>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>