<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-12">
                <div class="form-group" [formGroup]="routeForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <label class="mb-0">Route Type
                                    <small class="grayOpt">[Optional]</small>
                                </label>
                            </div>
                            <div>
                                <select class="form-control" formControlName="routeSearchType" (change)="searchTypeChanged()">
                                    <option value="">Select</option>
                                    <option value="D">Domestic</option>
                                    <option value="I">International</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label class="mb-0">Route Category
                                    <small class="grayOpt">[Optional]</small>
                                </label>
                            </div>
                            <div>
                                <select class="form-control" formControlName="categorySearchType" (change)="searchTypeChanged()">
                                    <option value="" selected>Select</option>
                                    <option value="{{item.name}}" *ngFor="let item of categoryList">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label class="mb-0">User Type
                                    <small class="grayOpt">[Optional]</small>
                                </label>
                            </div>
                            <div>
                                <select class="form-control" formControlName="userTypeSearchType" (change)="searchTypeChanged()">
                                    <option value="">Select</option>
                                    <option value=4>API</option>
                                    <option value=5>Campaign</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div>
                                <label class="mb-0">PF ID
                                    <small class="grayOpt">[Optional]</small>
                                </label>
                            </div>
                            <!-- <div>
                                <select class="form-control" formControlName="userSearchType" (change)="searchTypeChanged()">
                                    <option value="" selected>Select</option>
                                    <option value="{{item.userName}}" *ngFor="let item of userList">{{item.userName}}</option>
                                </select>
                            </div> -->
                            <ng-multiselect-dropdown formControlName="userSearchType" [placeholder]="'Select PF ID'" [data]="userList" [settings]="userSetting">
                            </ng-multiselect-dropdown>
                        </div>
                        <button class="col-md-2 mx-3 mt-3 btn btn-primary" (click)="getRoutesList();">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-title"></div>

        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="thead-sb minwidth"> Actions </th>
                        <td class="text-padding td-height minwidth" mat-cell *matCellDef="let element; let i= index">
                            <div class="btn-group btn-group-sm">
                                <a class="action-link padding-zero" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES)" [routerLink]="['/main/manage-route/add']"
                                    [queryParams]="{ userId: element.userId, app : element.applicationName, category : element.category  }">
                                    <i class="fa fa-pencil action-item edit-clr" title="Update Route"></i>
                                </a>
                                <a class="action-link ml-1 padding-zero" (click)="viewDeleteRouteModal(element,deleteRouteView)">
                                    <i class="fa fa-trash action-item reject-clr" title="Delete"></i>
                                </a>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> PF ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.userName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Route Category </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="applicationName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Application Name </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.applicationName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="primaryRoute">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Primary Route </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.primaryRoute}} </td>
                    </ng-container>

                    <ng-container matColumnDef="secondaryRoute">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Secondary Route </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.secondaryRoute ? element.secondaryRoute : 'NA'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="topology">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Topology </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.topology}} </td>
                    </ng-container>

                    <ng-container matColumnDef="retryFlag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Retry Flag </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.retryFlag}} </td>
                    </ng-container>

                    <ng-container matColumnDef="retryRoute">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Retry Route</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.retryFlag == 'On' ? (element.retryRoute ? element.retryRoute: 'NA' ) : "NA"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="routeCategoty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Route Type</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.routeCategoty == 'I' ? 'International' : 'Domestic'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="userType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">User Type</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.userType}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<ng-template #deleteRouteView let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Delete Aggregator Route</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="deleteForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div class="modal-width">
                                        <textarea rows="3" class="form-control " formControlName="remarks" [ngClass]="{'error-border': deleteFormSubmitted && deleteForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteUser()">Delete Aggregator Route
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>




        <!-- <div class="col-4 mt-3">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search By" [(ngModel)]="searchText" />
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div> -->
        <!-- <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th (click)="userNameSorted = !userNameSorted; sortTable('userName', userNameSorted)" class="sort-th">PF ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="routeCategorySorted = !routeCategorySorted; sortTable('category', routeCategorySorted)" class="sort-th">Route Category
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="appNameSorted = !appNameSorted; sortTable('applicationName', appNameSorted)" class="sort-th">Application Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th>Primary Route</th>
                                <th>Secondary Route</th>
                                <th (click)="topologyModeSorted = !topologyModeSorted; sortTable('topology', topologyModeSorted, true)" class="sort-th">Topology
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="retryFlagSorted = !retryFlagSorted; sortTable('retryFlag', retryFlagSorted)" class="sort-th">Retry Flag
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th>Retry Route </th>
                                <th (click)="routeTypeSorted = !routeTypeSorted; sortTable('routeCategoty', routeTypeSorted)" class="sort-th">Route Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="userTypeSorted = !userTypeSorted; sortTable('userType', userTypeSorted)" class="sort-th">User Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows | searchFilter: {userName: searchText, primaryRoute: searchText, secondaryRoute: searchText, topology: searchText, retryFlag: searchText, retryRoute : searchText, routeCategoty: searchText, category: searchText, userType: searchText, applicationName : searchText} |
                                                    paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center ">
                                    <div class="btn-group btn-group-sm">
                                        <a class="action-link padding-zero" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES)" [routerLink]="['/main/manage-route/add']"
                                            [queryParams]="{ userId: item.userId, app : item.applicationName, category : item.category  }">
                                            <i class="fa fa-pencil action-item edit-clr" title="Update Route"></i>
                                        </a>
                                        <a class="action-link ml-1 padding-zero" (click)="viewDeleteRouteModal(item,deleteRouteView)">
                                            <i class="fa fa-trash action-item reject-clr" title="Delete"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>{{item['userName']}}</td>
                                <td>{{item['category']}}</td>
                                <td>{{item['applicationName']}}</td>
                                <td>{{item['primaryRoute']}}</td>
                                <td>{{item['secondaryRoute'] ? item['secondaryRoute'] : 'NA'}} </td>
                                <td>{{item['topology']}}</td>
                                <td>{{item['retryFlag']}}</td>
                                <td>{{item['retryFlag'] == 'On' ? (item['retryRoute'] ? item['retryRoute']: 'NA' ) : "NA"}}</td>
                                <td>{{item['routeCategoty'] == 'I' ? 'International' : 'Domestic'}}</td>
                                <td>{{item['userType']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="rows.length==0 " class="no-data ">No Records Found!</div>
                </div>
                <pagination-controls class="my-pagination" *ngIf="rows.length!=0 " (pageChange)="p=$event "></pagination-controls>
            </div>
        </div> -->