<div class="content-wrapper">
    <form class="form-t1" [formGroup]="spamKeywordForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Select Spam Level</label>
                        <select class="form-control" formControlName="level">
                            <option value="" disabled selected hidden>Select</option>
                            <option value="h">High</option>
                            <option value="m">Medium</option>
                            <option value="l">Low</option>
                        </select>
                        <div *ngIf="spamKeywordForm.controls['level'].errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="spamKeywordForm.controls['level'].errors.required">Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Spam Keyword</label>
                        <div>
                            <input type="text" class="form-control" placeholder="" formControlName="keyword" (focusout)="caseSensitive();" minlength="2" maxlength="200">
                        </div>
                        <div *ngIf="spamKeywordForm.controls['keyword'].errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="spamKeywordForm.controls['keyword'].errors.required">Field is required</span>
                            <span class="error" *ngIf="spamKeywordForm.controls['keyword'].errors.pattern">Maximum 10 valid spam keyword (comma separated) allowed and each keyword of at least 2 and maximum 20 alphanumeric characters. </span>
                          </div>
                        <div class="error-wrappers">
                            <span class="upload-caption font-weight-light">10 spam keywords are allowed separated by comma(,) and each keyword of at least 2 and maximum 20 alphanumeric characters. </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex mt-2 col-lg-4 col-md-6">
                    <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
