



<app-header></app-header>
<div id="main" class="main-layout">
<!-- by default open sidebar (added show class) -->
  <div id="left-panel" class="left-panel collapse-wrap show">
    <perfect-scrollbar>
      <app-sidebar></app-sidebar>
    </perfect-scrollbar>

    <!--<app-sidebar></app-sidebar>-->

  </div>

  <div id="right-panel" class="right-panel flex-fill">
    <!-- content -->
    <router-outlet></router-outlet>



 <!--   <app-footer>
    </app-footer>-->
  </div>

</div>

