<div class="content-wrapper">
  <form class="form-t1" [formGroup]="smsTemplateForm" novalidate>
      <div class="container-fluid form-t1">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                      <label>SMS Content Type</label>
                      <div>
                          <select class="form-control" formControlName="contentType" (change)="isDoubleByte();" >
                            <option value="" disabled selected hidden>Select</option>
                            <option value=1>Text</option>
                            <option value=2 *ngIf="this.unicodeFlag">Unicode</option>
                        </select>
                          <div *ngIf="smsTemplateForm.controls['contentType'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="smsTemplateForm.controls['contentType'].errors.required">Field is required</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                      <label>Template Name</label>
                      <div>
                          <input type="text" class="form-control" formControlName="name" placeholder="Template Name" minlength="1" maxlength="30">
                          <div *ngIf="smsTemplateForm.controls['name'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.required">Field is required</span>
                              <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.minlength">Template name must not be empty</span>
                              <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.pattern">Only Alphanumeric allowed with '-','_','#','@' special characters.</span>

                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Template Type</label>
                    <select class="form-control" formControlName="temlateCategory" [ngClass]="{'error-border': formSubmitted && smsTemplateForm.controls.temlateCategory.errors}">
                        <option value="" disabled selected hidden>Select</option>
                        <option value="{{item.id}}" *ngFor="let item of categoryList">{{item.category}}</option>
                    </select>
                    <div *ngIf="smsTemplateForm.controls['temlateCategory'].errors && formSubmitted" class="error-wrappers">
                        <span class="error" *ngIf="smsTemplateForm.controls['temlateCategory'].errors.required">Field is required</span>
                    </div>
                </div>
            </div>
              <div class="col-lg-4 col-md-6" *ngIf="this.showUser">
                  <div class="form-group">
                      <label>User</label>
                      <div>
                          <select class="form-control" formControlName="user" (change)="getUserList();" >
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="item.userId" *ngFor="let item of users">{{item.username}}</option>
                            </select>
                          <div *ngIf="smsTemplateForm.controls['user'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="smsTemplateForm.controls['user'].errors.required">Field is required</span>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                      <label>Template Content</label>
                      <div>
                          <textarea type="text" class="form-control" placeholder="Enter sms content." minlength="10" maxlength="{{maxlen}}" formControlName="content"  (ngModelChange)="isDoubleByte();checkSpamKeyword();" #contentText></textarea>
                          <span class="template-content-labels">Entered SMS Length <span>{{contentText.value.length}}</span></span>
                          <span class="template-content-labels">Single SMS Length <span>{{maxLengthSMS}}</span></span>
                          <span class="template-content-labels">Number of SMS per receipt <span>{{math.ceil(contentText.value.length/maxLengthSMS)}}</span></span>
                          <div *ngIf="smsTemplateForm.controls['content'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.required">Field is required</span>
                              <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.minlength">Minimum 10 characters required</span>
                          </div>
                            <span class="error" *ngIf="this.UnicodeError && this.smsTemplateForm.controls['content'].value">{{errorMsgType}}</span>
                            <span class="error" *ngIf="this.spamError && this.smsTemplateForm.controls['content'].value">{{errorMsgSpam}}</span>
                            <span class="error" *ngIf="this.errorZero && this.smsTemplateForm.controls['content'].value">{{errZeroMsg}}</span>
                      </div>
                  </div>
              </div>
              <!-- <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                      <div>
                          <button class="btn btn-blue-light bt-fix place-holder-button" (click)="addPlaceholder()">Add Placeholder</button>
                      </div>
                  </div>
              </div>-->
               <div class="col-lg-4 col-md-6" *ngIf="placeholder">
                  <div class="form-group">
                      <label>Placeholder</label>
                      <div>
                          <input type="text" class="form-control" placeholder="Placeholder" formControlName="placeHolder">
                          <div *ngIf="smsTemplateForm.controls['placeHolder'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="smsTemplateForm.controls['placeHolder'].errors.required">Field is required</span>
                          </div>
                      </div>
                      <button class="btn btn-blue-light bt-fix place-holder-button" [disabled]="!smsTemplateForm.controls['placeHolder'].value"   (click)="appendPlaceholder()">Add</button>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-center mt-4">
              <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
          </div>
      </div>
  </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
