.bold-font {
  font-weight: bold;
}
.word-wrap {
  word-wrap: break-word;
}
.normal-font {
  font-weight: normal;
}
.label-dropdown {
  padding-top: 5px;
  padding-left: 0px;
}
// .actionSize {
//     min-width: 80px !important;
//     max-width: 150px !important;
// }
.cursor-disabled {
  cursor: not-allowed;
}

.slider:before {
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.switch {
  width: 40px;
  height: 20px;
}

.scroll-css {
  overflow-y: auto;
  max-height: 470px;
}
.sub-module-list{
  width: 49px;
  min-width: 49px;
}
.modal-width{
  min-width: 400px !important;
}
.no-data {
  text-align: center;
}
th, td { 
  min-width: 165px;
  max-width: 350px;
  // overflow-wrap: break-word;
  word-wrap: break-word;
  // word-break: break-all !important;
}

.example-container {
  overflow: auto;
  // max-width: 1050px;
  max-width: 100%;
  max-height: 500px;
  }
.form-group{
  font-weight: normal;
  font-family: Arial;   
 }
 
.thead-sb{
 background-color: #00B5EF;
 color: white;
 vertical-align: middle;
 font-family: Arial!important;
  font-style: normal!important;
  font-variant: normal!important;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
 }
 
.table-striped{
  background-color:white;
 }
 
.table-shadow1{
  box-shadow: none;
}
.backColour {
  background-color: white;
}
 
.td-height{
   height:10%;
   line-height: 1;
 }
 
.text-padding{
 padding: 10px 10px 10px 10px;
 }

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 10px !important;
}

.search{
  height: 40px !important;
}