<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
  </mat-form-field>
    <div class="example-container mat-elevation-z8  form-group table-shadow1">
      <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm">
        <ng-container matColumnDef="action">
          <th mat-header-cell class="thead-sb" *matHeaderCellDef>Action</th>
          <td mat-cell class="backColour td-height text-padding" *matCellDef="let element;let i= index">
            <div class="btn-group btn-group-sm">
              <ng-container>
                <label class="switch">
                  <input type="checkbox" attr.id="{{i}}" (change) = "unlockUser(element, i, unlock)">
                  <span class="slider round" 
                    title="{{element.action}}"></span>
                </label>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="pfid">
          <th mat-header-cell *matHeaderCellDef class="thead-sb"> PFID </th>
          <td mat-cell class="text-padding td-height" *matCellDef="let element;let i= index"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<ng-template #unlock let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span class="bold-font">Unlock User</span>
    </h4>
    <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click');">

      
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div>
        <p>Are you sure you want to
           unlock user?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success ng-star-inserted" (click)="unlockFunctionCall('Y')">Yes
    </button>
    <button type="button" class="btn btn-danger ng-star-inserted" (click)="unlockFunctionCall('N')">No
    </button>
  </div>
</ng-template>