<div class="content-wrapper">
  <div class="container-fluid form-t1">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
</mat-form-field>
<div class="example-container mat-elevation-z8  form-group table-shadow1">
<table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
  <ng-container matColumnDef="actions" sticky >
    <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
    <td class="text-padding td-height backColour" mat-cell *matCellDef="let element;  let i = index">
      <div class="btn-group btn-group-sm">
        <i class="fa fa-pencil action-item edit-clr" title="Update" (click)="updateRecord(updatemodal,element);"></i>
        <i class="fa fa-trash action-item reject-clr" title="Delete" (click)="confirmDeleteRecord(deletePopUp,element)"></i>
        <label class="switch">
            <input type="checkbox" attr.id = "{{i}}" [checked]="element['status']['status']=='Active'" (change)="changeStatusConfirmation(element,i)" >
            <span class="slider round"></span>
        </label>
    </div>
   </td>
  </ng-container>
  <ng-container matColumnDef="keyword">
   <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Keywords </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['keyword']}} </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Level </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['level']}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th   mat-header-cell *matHeaderCellDef  class="thead-sb"> Status </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['status']['status']=='Active'?'Enabled':'Disabled'}} </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="spamKeywordsList.length==0 " class="no-data ">No Records Found!</div>
    <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

    </div>
  <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
</div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>


<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span class="font-weight-bold">Update Spam Keyword</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-t1" [formGroup]='spamKeywordForm' novalidate>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Keywords</label>
                            <div>
                                <input type="text" class="form-control" placeholder="Keywords" formControlName="keywords"  minlength="2" maxlength="200" [ngClass]="{'error-border': spamKeywordForm.controls['keywords'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="spamKeywordForm.controls['keywords'].errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="spamKeywordForm.controls['keywords'].errors.required">Field is required</span>
                              <span class="error" *ngIf="spamKeywordForm.controls['keywords'].errors.pattern">Maximum 10 valid spam keyword (comma separated) allowed   </span>
                              <span class="error" *ngIf="spamKeywordForm.controls['keywords'].errors.minlength">Minimum 2 characters required</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Level</label>
                            <div>
                                <select class="form-control" formControlName="level" [ngClass]="{'error-border': spamKeywordForm.controls['level'].errors && formSubmitted}">
                        <option value="" disabled selected hidden>Select</option>
                        <option value="l" >Low</option>
                        <option value="m" >Medium</option>
                        <option value="h" >High</option>

                      </select>
                                <div *ngIf="spamKeywordForm.controls['level'].errors && formSubmitted" class="error-wrappers">
                                    <span class="error" *ngIf="spamKeywordForm.controls['level'].errors.required">Field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </form>
</div>

    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
        <button type="button" class="btn btn-success mr-3" (click)="confirmUpdateRecoed()">Update</button>
    </div>
</ng-template>

<ng-template #deletePopUp let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <span><b>Spam Keyword Delete</b></span>
      </h4>
      <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
              <div class="remarks-align">
                  <p>Are you sure you want to permanently delete this {{this.deleteReq['keyywordName']}} spam keyword?
                  </p>
              </div>
              <div class="col-md-12" >
                  <form [formGroup]="statusForm" novalidate>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">Remarks

                                  </label>
                                  <div>
                                      <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':statusForm.controls.remarks.errors && formSubmitted}" placeholder="Enter Remarks" maxlength="200"></textarea>
                                  </div>
                                  <div *ngIf="statusForm.controls['remarks'].errors && formSubmitted" class="error-wrappers">
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.required">Field is required
                                      </span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.minlength">Minimum 5 characters required</span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.maxlength">Maximum 200 characters are allowed</span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.pattern">Only Alphanumeric allowed
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button  type="button" class="btn btn-success ng-star-inserted" (click)="deleteRecord()">Delete     </button>
      <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
      </button>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
