<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="campaignForm" novalidate>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                                (dateChange)="setEndDAte(); " [max]="maxDate" (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <div *ngIf="campaignForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.startDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input class="form-control overlapmatInputCss" matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder=""
                                formControlName="endDate" [max]="maxDate1" [min]="minDate" (dateChange)="setStartDAte();" (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <div *ngIf="campaignForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.endDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-btn">
                    <button class="btn btn-blue-light bt-fix" type="submit" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </form>
        <div class="sub-title"></div>

        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>
                    <ng-container *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN)"> 
                        <ng-container matColumnDef="actions" sticky> 
                            <th mat-header-cell *matHeaderCellDef class="thead-sb specialWidth"> Actions </th>
                            <td class="backColour text-padding td-height specialWidth" mat-cell *matCellDef="let element; let i= index">
                                <ng-container *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN)">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-download action-item download-clr" title="Download" *ngIf="element['statusDesc'] == 'Time Window Expired' && commonService.getUserByRole()=='ROLE_CAMPAIGN'"
                                            (click)="getFile(element.id,element.campaignName)"></i>
                                        <i *ngIf="element.statusDesc=='Scheduled' || element.statusDesc=='HOD Approval Pending' || element.statusDesc=='Final Approval Pending'"
                                            class="fa fa-trash action-item reject-clr" title="Delete " (click)="confirmDeleteRecord(element)"></i>
                                        <i *ngIf="element.statusDesc=='Running'" class="fa fa-times-circle-o action-item reject-clr" title="Cancel" (click)="confirmCancelCampaign(element)"></i>
                                    </div>
                                </ng-container>
                            </td>
                        </ng-container>
                    </ng-container>
                    
                    <ng-container matColumnDef="templateIdDlt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.templateIdDlt}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="campaignName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign Name </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaignName}} </td>
                    </ng-container>

                    <!--<ng-container matColumnDef="templateType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.templateType}} </td>
                    </ng-container>-->

                    <ng-container matColumnDef="pfid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> PFID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.applicationName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign Category </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.category}} </td>
                    </ng-container>
                    <ng-container matColumnDef="statusDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Status </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.statusDesc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="scheduleTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Scheduled On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.scheduleTime | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Submittted On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.createdOn | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> SMS Type </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.messageType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageText">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Template Content </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.messageText}} </td>
                    </ng-container>
                    <ng-container matColumnDef="senderId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Sender CLI</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.senderId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="typeFlag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">National/International </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.typeFlag}} </td>
                    </ng-container>
                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Approver's Comment </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.remarks}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalRecordCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Total Recipients</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.totalRecordCount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageCountPerUser">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb msgPerPartCss">Message Count Per User</th>
                        <td class="text-padding td-height msgPerPartCss" mat-cell *matCellDef="let element; let i= index"> {{element.messageCountPerUser}} </td>
                    </ng-container>
                    <ng-container matColumnDef="messageCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Total Messages</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.messageCount}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>    
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
        </div>

        <!-- <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th class="sort-th actionSize" *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN)">Actions</th>
                                <th (click)="campIdSorted = !campIdSorted; sortTable('id', campIdSorted, true)" class="sort-th">Campaign ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="campNameSorted = !campNameSorted; sortTable('campaignName', campNameSorted, true)" class="sort-th">Campaign Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="campCatgSorted = !campCatgSorted; sortTable('category', campCatgSorted, true)" class="sort-th">Campaign Category
                                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                              </th>
                                <th (click)="statusSorted = !statusSorted; sortTable('statusDesc', statusSorted)" class="sort-th">Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="scheduleTimeSorted = !scheduleTimeSorted; sortTable('scheduleTime', scheduleTimeSorted,true)" class="sort-th">Scheduled On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="createdTimeSorted = !createdTimeSorted; sortTable('createdOn', createdTimeSorted,true)" class="sort-th">Submittted On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                             <th (click)="messageTypeSorted = !messageTypeSorted; sortTable('messageType', messageTypeSorted, true)" class="sort-th">SMS Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="messageTextSorted = !messageTextSorted; sortTable('messageText', messageTextSorted)" class="sort-th">SMS Content
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="senderIdSorted = !senderIdSorted; sortTable('senderId', senderIdSorted)" class="sort-th">Sender CLI
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="typeFlagIdSorted = !typeFlagIdSorted; sortTable('typeFlag', typeFlagIdSorted)" class="sort-th">National/International
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="totalRecordCountSorted = !totalRecordCountSorted; sortTable('totalRecordCount', totalRecordCountSorted, true)"
                                    class="sort-th">Total Recipients
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="messageCountUserSorted = !messageCountUserSorted; sortTable('messageCountPerUser', messageCountUserSorted,true)" class="sort-th">Message Count Per User
                                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="messageCountSorted = !messageCountSorted; sortTable('messageCount', messageCountSorted,true)" class="sort-th">Total Messages
                                  <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of campaignList | searchFilter: {id: searchText, campaignName: searchText, statusDesc: searchText,
                                 senderId: searchText, messageText: searchText, messageType: searchText,typeFlag:searchText}
                             | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td class="sort-th actionSize" *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN)">
                                    <div class="btn-group btn-group-sm ">
                                       <i class="fa fa-download action-item download-clr" title="Download" *ngIf="item['statusDesc'] == 'Time Window Expired' && commonService.getUserByRole()=='ROLE_CAMPAIGN'"
                                        (click)="getFile(item.id,item.campaignName)"></i>
                                        <i *ngIf="item.statusDesc=='Scheduled' || item.statusDesc=='HOD Approval Pending' || item.statusDesc=='Final Approval Pending'"
                                            class="fa fa-trash action-item reject-clr" title="Delete " (click)="confirmDeleteRecord(item)"></i>
                                        <i *ngIf="item.statusDesc=='Running'" class="fa fa-times-circle-o action-item reject-clr" title="Cancel" (click)="confirmCancelCampaign(item)"></i>
                                    </div>
                                </td>
                                <td>{{item.id}}</td>
                                <td>{{item.campaignName}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.statusDesc}}</td>
                                <td>{{item.scheduleTime | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                                <td>{{item.createdOn | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
                                <td>{{item.messageType}}</td>
                                <td>{{item.messageText}}</td>
                                <td>{{item.senderId}}</td>
                                <td>{{item.typeFlag}}</td>
                                <td>{{item.totalRecordCount}}</td>
                                <td>{{item.messageCountPerUser}}</td>
                                <td>{{item.messageCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="campaignList.length==0 " class="no-data ">No Records Found</div>
                </div>
                <pagination-controls *ngIf="campaignList.length!=0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div> -->

    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>