<div class="content-wrapper">
  <div class="container-fluid" *ngIf="userDetails">
    <div class="row">
      <div class="col-md-12">
        <div class="sub-title">Personal Information</div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            First Name:
          </div>
          <div class="col-md-8 content-wrap">
            {{userDetails.firstName}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Last Name:
          </div>
          <div class="col-md-8 content-wrap">
            {{userDetails.lastName}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Username:
          </div>
          <div class="col-md-8 content-wrap">
            {{userDetails.username}}
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Primary Email:
          </div>
          <div class="col-md-8 content-wrap">
            {{userDetails.email}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Alternate Email:
          </div>
          <div class="col-md-8 content-wrap">
            {{userDetails.alternateEmails || 'NA'}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Mobile Number:
          </div>
          <div class="col-md-8">
            {{userDetails.msisdn}}
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="userDetails['roleId']['name']=='ROLE_ADMIN' || userDetails['roleId']['name']=='ROLE_HOD' || userDetails['roleId']['name']=='ROLE_MARKETING' ||
    userDetails['roleId']['name']=='ROLE_CRM'">
      <div class="row pb-3">
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Role ID:
            </div>
            <div class="col-md-8 content-wrap">
              {{userDetails['roleId']['name']}}
            </div>
          </div>
        </div>
        <ng-container *ngIf="userDetails['roleId']['name'] =='ROLE_MARKETING'">
          <div class="col"></div>
          <div class="col"></div>
        </ng-container>
        <ng-container *ngIf="userDetails['roleId']['name'] !='ROLE_MARKETING'">
          <div class="col">
            <div class="row">
              <div class="col-md-4 font-w">
                Show SMS Content:
              </div>
              <div class="col-md-8">
                {{userDetails['showMsg'] == "Y" ? 'Yes' : 'No'}}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-4 font-w">
                Show Full SMS Content:
              </div>
              <div class="col-md-8">
                {{userDetails['showFullMsg'] == "Y" ? 'Yes' : 'No'}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="userDetails['roleId']['name']=='ROLE_CAMPAIGN' || userDetails['roleId']['name']=='ROLE_API'">
      <div class="row pb-3">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-md-4 font-w">
              Role ID:
            </div>
            <div class="col-md-8 content-wrap">
              {{userDetails['roleId']['name']}}
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-md-4 font-w">
              Department:
            </div>
            <div class="col-md-8 content-wrap">
              {{userDetails['deptId']['department']}}
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-md-4 font-w">
              Department HOD:
            </div>
            <div class="col-md-8 content-wrap">
              {{hod}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="userDetails['roleId']['name']=='ROLE_CAMPAIGN'">
      <div class="row pb-3">
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Final Approver:
            </div>
            <div class="col-md-8 content-wrap">
              {{finalApp}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Category:
            </div>
            <div class="col-md-8 content-wrap">
              {{categories}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Show SMS Content:
            </div>
            <div class="col-md-8">
              {{userDetails['showMsg'] == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Show Full SMS Content:
            </div>
            <div class="col-md-8">
              {{userDetails['showFullMsg'] == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="userDetails['roleId']['name']=='ROLE_API'">
      <div class="row pb-3">
        <!-- <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              App-Category:
            </div>
            <div class="col-md-8">
              {{userDetails['categoryAppNameList']}}
            </div>
          </div>
        </div> -->
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Show SMS Content:
            </div>
            <div class="col-md-8">
              {{userDetails['showMsg'] == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-4 font-w">
              Show Full SMS Content:
            </div>
            <div class="col-md-8">
              {{userDetails['showFullMsg'] == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col"></div>

      </div>
    </ng-container>
    <ng-container *ngIf="(userDetails['categoryAppNameList'] != null || userDetails['categoryAppNameList'] != '') && userDetails['roleId']['name']=='ROLE_API'">
      <div class="row">
        <div class="col-12">
          <div class="sub-title">Application Category Details</div>
        </div>
      </div>
      <!-- <div class="col-12"> -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-sb">
            <tr>
              <th>S.No.</th>
              <th>Application</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userDetails['categoryAppNameList']; let i = index;">
              <td>{{i+1}}</td>
              <td>{{item.appName}}</td>
              <td>{{item.categoryId['category']}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="userDetails['roleId']['configurationFlag'] == 'R' || (userDetails['roleId']['configurationFlag'] == 'N' && userDetails['categoryId']['category'])">
      <div class="row">
        <div class="col-12">
          <div class="sub-title">Configuration Information</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pb-3" *ngIf="userDetails['tps'] != null || userDetails['tps'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              TPS:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.tps}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="(userDetails['spamKeywordLevel'] != null || userDetails['spamKeywordLevel'] != '') && userDetails['roleId']['name']=='ROLE_CAMPAIGN'">
          <div class="row">
            <div class="col-md-7 font-w">
              Spam Filteration Level:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.spamKeywordLevel}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['maxSenderid'] != null || userDetails['maxSenderid'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Maximum Sender ID:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.maxSenderid}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['maxTemplate'] != null || userDetails['maxTemplate'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Maximum Template:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.maxTemplate}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['longMessageAllowed'] != null || userDetails['longMessageAllowed'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Long Message Support:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.longMessageAllowed == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['maxMessageParts'] != null || userDetails['maxMessageParts'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Maximum Message Per Part Length:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.maxMessageParts}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['unicodeSupport'] != null || userDetails['unicodeSupport'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Unicode Support:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.unicodeSupport == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['duplicateCheck'] != null || userDetails['duplicateCheck'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Duplicate Check:
            </div>
            <div class="col-md-5 content-wrap">
              {{ userDetails.duplicateCheck == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="(userDetails['templateCheck'] != null || userDetails['templateCheck'] != '') && userDetails['roleId']['name']=='ROLE_API'">
          <div class="row">
            <div class="col-md-7 font-w">
              Template Check:
            </div>
            <div class="col-md-5 content-wrap">
              {{ userDetails.templateCheck == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['fcmFlag'] != null || userDetails['fcmFlag'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              App Notification Support:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.fcmFlag == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['internationalRouteFlag'] != null || userDetails['internationalRouteFlag'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              International Route Allowed:
            </div>
            <div class="col-md-5 content-wrap">
              {{userDetails.internationalRouteFlag == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['senderidCheck'] != null || userDetails['senderidCheck'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              Sender ID Check:
            </div>
            <div class="col-md-5 content-wrap">
              {{ userDetails.senderidCheck == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['ipWhitelist'] != null || userDetails['ipWhitelist'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              IP White List Details:
            </div>
            <div class="col-md-5 content-wrap">
              {{ userDetails.ipWhitelist || 'NA'}}
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-3" *ngIf="userDetails['dlrReportsReq'] != null || userDetails['dlrReportsReq'] != ''">
          <div class="row">
            <div class="col-md-7 font-w">
              DLR Report Request:
            </div>
            <div class="col-md-5 content-wrap">
              {{ userDetails.dlrReportsReq == "Y" ? 'Yes' : 'No'}}
            </div>
          </div>
        </div>

      </div>

      <ng-container *ngIf="userDetails[ 'roleId'][ 'name']=='ROLE_CAMPAIGN'">
        <div class="row">
          <div class="col-12">
            <div class="sub-title">Campaign Channel Parameters</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-3" *ngIf="userDetails['maxFilesize'] != null || userDetails['maxFilesize'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Maximum File Size:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails.maxFilesize}}
              </div>
            </div>
          </div>
          <div class="col-md-4 pb-3" *ngIf="userDetails['maxRecipientCount'] != null || userDetails['maxRecipientCount'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Maximum Recipient Count:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails.maxRecipientCount}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userDetails[ 'roleId'][ 'name']=='ROLE_API'">
        <div class="row">
          <div class="col-12">
            <div class="sub-title">API Channel Parameters</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-3" *ngIf="userDetails['maxConnection'] != null || userDetails['maxConnection'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Maximum Connection Count:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails.maxConnection}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userDetails.dlrReportsReq == 'Y'">
        <div class="row">
          <div class="col-12">
            <div class="sub-title">User DLR Callback Details</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-3" *ngIf="userDetails['userDlrCallback']['topologyMode'] != null || userDetails['userDlrCallback']['topologyMode'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Topology:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails['userDlrCallback']['topologyMode'] == 1 ? 'Active/Active' : 'Active/Passive'}}
              </div>
            </div>
          </div>
          <div class="col-md-4 pb-3" *ngIf="userDetails['userDlrCallback']['primaryUrl'] != null || userDetails['userDlrCallback']['primaryUrl'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Primary URL:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails['userDlrCallback']['primaryUrl'] || 'NA'}}
              </div>
            </div>
          </div>
          <div class="col-md-4 pb-3" *ngIf="userDetails['userDlrCallback']['secondaryUrl'] != null || userDetails['userDlrCallback']['secondaryUrl'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Secondary URL:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails['userDlrCallback']['secondaryUrl'] || 'NA'}}
              </div>
            </div>
          </div>
          <div class="col-md-4 pb-3" *ngIf="userDetails['userDlrCallback']['maxConnection'] != null || userDetails['userDlrCallback']['maxConnection'] != ''">
            <div class="row">
              <div class="col-md-7 font-w">
                Maximum Connection Count:
              </div>
              <div class="col-md-5 content-wrap">
                {{userDetails['userDlrCallback']['maxConnection']}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="row">
      <div class="col-12">
        <div class="sub-title">Access Permissions</div>
      </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered  table-hover table-sm">
            <thead class="thead-sb">
              <tr>
                <th class="pc-1">S.no.</th>
                <th class="pc-2">Module</th>
                <th class="pc-3">Read/Write</th>
                <th class="pc-3">Read Only</th>
                <th class="pc-3">Hide</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                <td *ngIf="!item.isSubModule">{{item.view}}</td>
                <td class="pc-3" *ngIf="!item.isSubModule">
                  <span *ngIf="viewPermissionList[item.formControlName] == 'RW'">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </td>
                <td class="pc-3" *ngIf="!item.isSubModule">
                  <span *ngIf="viewPermissionList[item.formControlName] == 'R'">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </td>
                <td class="pc-3" *ngIf="!item.isSubModule">
                  <span *ngIf="!viewPermissionList[item.formControlName] || viewPermissionList[item.formControlName] == 'H'">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </td>
                <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                  <table class="table table-hover table-sm m-0 ">
                    <tr *ngFor="let subItem of item.subModuleList">
                      <td class="pci-1">{{subItem.sno}}</td>
                      <td class="pci-2">{{subItem.view}}</td>
                      <td class="pc-3">
                        <span *ngIf="viewPermissionList[subItem.formControlName] == 'RW'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                      <td class="pc-3">
                        <span *ngIf="viewPermissionList[subItem.formControlName] == 'R'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                      <td class="pc-3">
                        <span *ngIf="!viewPermissionList[subItem.formControlName] || viewPermissionList[subItem.formControlName] == 'H'">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<!-- 
    <div class="row">
      <div class="col-12">
        <div class="sub-title">Authorization Information</div>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col">
        <div class="row">
          <div class="col-md-4 font-w">
            Report Privileges:
          </div>
          <div class="col-md-8">
            {{userDetails.accessJson == "1" ? "Self" : userDetails.accessJson == "2" ? "Department" : userDetails.accessJson == "3" ?
            "All" : "NA"}}
          </div>
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col">
      </div>
    </div> -->