<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <!-- <div class="col-12">
                <div class="sub-title">View Users</div>
            </div> -->
            <div *ngIf="commonService.getUserRoleId() == '2'" class="col-12">
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3" class="label-dropdown">
                                <label>Select User</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" [(ngModel)]="userSearchType" (change)="userSearchTypeChanged()">
                                    <option value=1>Non-CRM User</option>
                                    <option value=2>CRM User</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <!-- <input type="search" class="form-control" placeholder="Search By" (keyup)="applySearch()" [(ngModel)]="searchText"> -->
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center actionSize">Actions</th>
                                <th (click)="userNameSorted = !userNameSorted; sortTable('userName', userNameSorted)" class="sort-th" style="min-width: 150px">PF ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="statusDescSorted = !statusDescSorted; sortTable('statusDesc', statusDescSorted)" class="sort-th" style="min-width: 150px">Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="roleSorted = !roleSorted; sortTable('role', roleSorted)" class="sort-th" style="min-width: 150px">Role
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="firstNameSorted = !firstNameSorted; sortTable('firstName', firstNameSorted)" class="sort-th" style="min-width: 150px">First Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="lastNameSorted = !lastNameSorted; sortTable('lastName', lastNameSorted)" class="sort-th" style="min-width: 150px">Last Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="emailSorted = !emailSorted; sortTable('email', emailSorted)" class="sort-th" style="min-width: 150px">Email
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="mobileNumberSorted = !mobileNumberSorted; sortTable('mobileNumber', mobileNumberSorted, true)" class="sort-th"
                                    style="min-width: 150px">Mobile Number
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)" class="sort-th" style="min-width: 150px">Department
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="departmentHodSorted = !departmentHodSorted; sortTable('departmentHod', departmentHodSorted,true)" class="sort-th"
                                    style="min-width: 150px">Department HOD
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="finalApproverSorted = !finalApproverSorted; sortTable('finalApprover', finalApproverSorted,true)" class="sort-th"
                                    style="min-width: 150px">Final Approver
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="applicationNameSorted = !applicationNameSorted; sortTable('applicationName', applicationNameSorted)" class="sort-th"
                                    style="min-width: 150px">Application Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="creatadBySorted = !creatadBySorted; sortTable('creatadBy', creatadBySorted)" class="sort-th" style="min-width: 150px">Creatad By
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="createdOnSorted = !createdOnSorted; sortTable('createdOn', createdOnSorted)" class="sort-th" style="min-width: 150px">Created On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows |
                                    searchFilter: {userName: searchText, firstName:searchText,  lastName: searchText, email:searchText, mobileNumber: searchText,
                                        department: searchText, role: searchText, departmentHod: searchText, applicationName: searchText, creatadBy: searchText, statusDesc: searchText, finalApprover: searchText } |
                                    paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-eye action-item action-link view-eye" title="View Details" (click)="viewUser(item.userId,showUser)"></i>
                                        <ng-container *ngIf="commonService.hasWriteAccess(MODULES.USER)">
                                            <a class="action-link" [routerLink]="['/main/manage-user/add-user']" [queryParams]="{ userId: item.userId }">
                                                <i class="fa fa-pencil action-item edit-clr" title="Update"></i>
                                            </a>
                                            <a class="action-link" (click)="viewDeleteUserModal(item,deleteUserView)">
                                                <i class="fa fa-trash action-item reject-clr" title="Delete"></i>
                                            </a>
                                            <label class="switch">
                                                <input type="checkbox" attr.id="{{i}}" [checked]="item.status == 1" [disabled]="item.status != 1 && item.status != 2" (change)="viewUpdateStatusModal(item,updateStatus,$event.target.checked,i)">
                                                <span class="slider round" [class.cursor-disabled]="item.status != 1 && item.status != 2" title="{{item.statusDesc}}"></span>
                                            </label>
                                        </ng-container>
                                    </div>
                                </td>
                                <td>{{item['userName']}}</td>
                                <td>{{item['statusDesc']}}</td>
                                <td>{{item['role']}}</td>
                                <td>{{item['firstName']}}</td>
                                <td>{{item['lastName']}}</td>
                                <td>{{item['email']}}</td>
                                <td>{{item['mobileNumber']}}</td>
                                <td>{{item['department']}}</td>
                                <td>{{item['hod']}}</td>
                                <td>{{item['finalApprover']}}</td>
                                <td>{{item['applicationName']}}</td>
                                <td>{{item['creatadBy']}}</td>
                                <td>{{item['createdOn'] | date:'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="rows.length==0 " class="no-data ">No Records Found!</div>
                </div>
                <pagination-controls class="my-pagination" *ngIf="rows.length!=0 " (pageChange)="p=$event "></pagination-controls>

                <!-- <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [rowHeight]="50" [scrollbarH]="true" [footerHeight]="40" [limit]="pageLimit" [reorderable]="reorderable">

                    <ngx-datatable-column name="Username" prop="userName"></ngx-datatable-column>
                    <ngx-datatable-column name="First Name" prop="firstName"></ngx-datatable-column>
                    <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column>
                    <ngx-datatable-column name="Email Address" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column name="Mobile Number" prop="mobileNumber"></ngx-datatable-column>
                    <ngx-datatable-column name="Department" prop="department"></ngx-datatable-column>
                    <ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="statusDesc"></ngx-datatable-column>
                    <ngx-datatable-column name="Created By" prop="creatadBy"></ngx-datatable-column>
                    <ngx-datatable-column name="Created On">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.createdOn | date:'dd-MM-yyyy HH:mm:ss'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Actions" [frozenRight]="true" cellClass="background-white">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

                            <a class="action-link" #viewBtn (click)="viewUser(row.userId,showUser,viewBtn)">
                                <i class="fa fa-eye action-item" title="View"></i>
                            </a>
                            <ng-container *ngIf="commonService.hasWriteAccess(MODULES.USER)">
                                <a class="action-link" [routerLink]="['/main/manage-user/add-user']" [queryParams]="{ userId: row.userId }">
                                    <i class="fa fa-pencil action-item" title="Edit"></i>
                                </a>
                                <a *ngIf="row.status != 0  && row.status != 4" class="action-link" #statusBtn (click)="viewUpdateStatusModal(row,updateStatus,statusBtn)">
                                    <i class="fa fa-edit action-item" title="Update Status"></i>
                                </a>
                                <a *ngIf="row.status == 0  || row.status == 4" class="disabled-link">
                                    <i class="fa fa-edit action-item" title="Update Status"></i>
                                </a>
                                <a class="action-link" #delBtn (click)="viewDeleteUserModal(row,deleteUserView,delBtn)">
                                    <i class="fa fa-trash action-item" title="Delete"></i>
                                </a>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
            </div>
        </div>
    </div>
</div>

<ng-template #showUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span class="bold-font">User Details</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link  -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" class="modal-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sub-title">Personal Information</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">First Name </label>
                                <div class="word-wrap normal-font">
                                    {{userDetails.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Last Name </label>
                                <div class="word-wrap normal-font">
                                    {{userDetails.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">PF ID</label>
                                <div class="word-wrap normal-font">
                                    {{userDetails.username}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Primary Email Address</label>
                                <div class="word-wrap normal-font">
                                    {{userDetails.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Alternate Email Address</label>
                                <div class="word-wrap normal-font">
                                    {{userDetails.alternateEmails || 'NA'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Mobile Number </label>
                                <div class="normal-font">
                                    {{userDetails.msisdn}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Role </label>
                                <div class="normal-font">
                                    {{userDetails.roleId["description"]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Department </label>
                                <div class="normal-font">
                                    {{userDetails.deptId["department"]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.hod == 'NA' || userDetails.hod == '' || userDetails.hod == null)">
                            <div class="form-group">
                                <label class="heading">Department HOD </label>
                                <div class="normal-font">
                                    {{userDetails.hod}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.finalApprover == 'NA' || userDetails.finalApprover == '' || userDetails.finalApprover == null)">
                            <div class="form-group">
                                <label class="heading">Final Approver </label>
                                <div class="normal-font">
                                    {{userDetails.finalApprover}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" *ngIf="!(userDetails.applicationName == 'NA' || userDetails.applicationName == '' || userDetails.applicationName == null)">
                            <div class="form-group">
                                <label class="heading">Application Name </label>
                                <div class="normal-font">
                                    {{userDetails.applicationName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">IP White List Details</label>
                                <div class="normal-font">
                                    {{ userDetails.ipWhitelist || 'NA'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="userDetails.roleId['configurationFlag'] == 'R' || (userDetails.roleId['configurationFlag'] == 'N' && userDetails.categoryId['category']) ">
                        <div class="col-12">
                            <div class="sub-title">Configuration Information</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Category</label>
                                        <div class="normal-font">
                                            {{userDetails.categoryId["category"]}}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Channel </label>
                                        <div class="normal-font">
                                            {{userDetails.channelId['channelName']}}
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">TPS </label>
                                        <div class="normal-font">
                                            {{userDetails.tps}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Spam Filteration Level</label>
                                        <div class="normal-font" [ngSwitch]="userDetails.spamKeywordLevel">
                                            <div *ngSwitchCase="'A'">All</div>
                                            <div *ngSwitchCase="'H'">High</div>
                                            <div *ngSwitchCase="'M'">Medium</div>
                                            <div *ngSwitchCase="'L'">Low</div>
                                            <div *ngSwitchCase="'N'">None</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Sender ID </label>
                                        <div class="normal-font">
                                            {{userDetails.maxSenderid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Template </label>
                                        <div class="normal-font">
                                            {{userDetails.maxTemplate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6" *ngIf="userDetails.maxMessageParts>1">
                                    <div class="form-group">
                                        <label class="heading">Maximum Message per part length </label>
                                        <div class="normal-font">
                                            {{userDetails.maxMessageParts}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Long Message Support</label>
                                        <div class="normal-font">
                                            {{ userDetails.longMessageAllowed == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Unicode Support</label>
                                        <div class="normal-font">
                                            {{ userDetails.unicodeSupport == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Duplicate Check</label>
                                        <div class="normal-font">
                                            {{ userDetails.duplicateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Template Check</label>
                                        <div class="normal-font">
                                            {{ userDetails.templateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">App Notification Support</label>
                                        <div class="normal-font">
                                            {{ userDetails.fcmFlag == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">International Route Allowed</label>
                                        <div class="normal-font">
                                            {{ userDetails.internationalRouteFlag == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Sender Id Check</label>
                                        <div class="normal-font">
                                            {{ userDetails.senderidCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">DLR Report Request</label>
                                        <div class="normal-font">
                                            {{ userDetails.dlrReportsReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 2">
                                <div class="col-12">
                                    <div class="sub-title">Campaign Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum File size </label>
                                        <div class="normal-font">
                                            {{userDetails.maxFilesize}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Recipient Count </label>
                                        <div class="normal-font">
                                            {{userDetails.maxRecipientCount}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Daily Threshold Limit </label>
                                        <div class="normal-font">
                                            {{userDetails.maxDailyThresholdLimit}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 1">
                                <div class="col-12">
                                    <div class="sub-title">API Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div class="normal-font">
                                            {{userDetails.maxConnection}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.dlrReportsReq == 'Y'">
                                <div class="col-12">
                                    <div class="sub-title">User DLR Callback Details</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topology </label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["topologyMode"] == 1 ? 'Active/Active' : 'Active/Passive'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Primary Url </label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["primaryUrl"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Secondary Url </label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["secondaryUrl"] || 'NA'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topic </label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["topicId"] ? userDetails.userDlrCallback["topicId"]["topic"] ? userDetails.userDlrCallback["topicId"]["topic"]
                                            : 'NA' : 'NA'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["maxConnection"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Retry Flag</label>
                                        <div class="normal-font">
                                            {{ userDetails.userDlrCallback["retryFlag"] == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6" *ngIf="userDetails.userDlrCallback['retryFlag'] == 'Y'">
                                    <div class="form-group">
                                        <label class="heading">Retry Count</label>
                                        <div class="normal-font">
                                            {{userDetails.userDlrCallback["maxRetryCount"]}}
                                        </div>
                                    </div>
                                </div>
                                <ng-container class="col-lg-4 col-md-6" *ngIf="userDetails.userDlrCallback['retryFlag'] == 'Y'">
                                    <div class="col-lg-4 col-md-6" *ngFor="let interval of userDetails.userDlrCallback['retryDetails']; let i = index">
                                        <div class="form-group">
                                            <label class="heading">Retry Interval {{i+1}}</label>
                                            <div class="normal-font">
                                                {{interval}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Authorization Information</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Report Privileges</label>
                                        <div class="normal-font">
                                            {{userDetails.accessJson == "1" ? "Self" : userDetails.accessJson == "2" ? "Department" : userDetails.accessJson == "3" ? "All" : "NA"}}
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Access Permissions</div>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered  table-hover table-sm">
                                            <thead class="thead-sb">
                                                <tr>
                                                    <th class="pc-1">S.no.</th>
                                                    <th class="pc-2">Module</th>
                                                    <th class="pc-3">Read/Write</th>
                                                    <th class="pc-3">Read Only</th>
                                                    <th class="pc-3">Hide</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                                                    <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                                                    <td *ngIf="!item.isSubModule">{{item.view}}</td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'RW'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'R'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="!viewPermissionList[item.formControlName] || viewPermissionList[item.formControlName] == 'H'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                                                        <table class="table table-hover table-sm m-0 ">
                                                            <tr *ngFor="let subItem of item.subModuleList">
                                                                <td class="sub-module-list">
                                                                    <small>{{subItem.sno}}</small>
                                                                </td>
                                                                <td class="pci-2">{{subItem.view}}</td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'RW'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'R'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="!viewPermissionList[subItem.formControlName] || viewPermissionList[subItem.formControlName] == 'H'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>

<ng-template #updateStatus let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span class="bold-font">Update User Status</span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click');">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div>
                <p>Are you sure you want to
                    <span *ngIf="updateUserStatusEvent">enable </span>
                    <span *ngIf="!updateUserStatusEvent">disable </span>
                    <span class="bold-font">{{userDetails.userName}}</span> user?</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="row">
                            <!-- <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Existing Status</label>
                                    <div>
                                        <input type="text" [disabled]="true" value="{{userDetails.statusDesc}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">New Status
                                        <span class="required-sign">*</span>
                                    </label>
                                    <div>
                                        <select class="form-control" formControlName="newStatus" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.newStatus.errors}">
                                            <option value="" disabled selected hidden>Select</option>
                                            <option value="{{item.id}}" *ngFor="let item of statusList">{{item.name}}</option>
                                        </select>
                                        <div *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors" class="error-wrappers">
                                            <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.newStatus.errors.required">Required Field
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': statusFormSubmitted && statusForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="statusFormSubmitted && statusForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="updateUserStatus('test')">Yes
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click');">No
        </button>
    </div>
</ng-template>

<ng-template #deleteUserView let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Delete User</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="deleteForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div class="modal-width">
                                        <textarea rows="3" class="form-control " formControlName="remarks" [ngClass]="{'error-border': deleteFormSubmitted && deleteForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteUser()">Delete User
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>