.bold-font {
    font-weight: bold;
}

.word-wrap {
    word-wrap: break-word;
}

.normal-font {
    font-weight: normal;
}

.label-dropdown {
    padding-top: 5px;
    padding-left: 0px;
}

.actionSize {
    min-width: 80px !important;
    max-width: 150px !important;
}

.cursor-disabled {
    cursor: not-allowed;
}

.slider:before {
    height: 14px;
    width: 13px;
}

.switch {
    width: 40px;
    height: 20px;
}

.modal-content {
    overflow-y: auto;
    max-height: 500px;
}
.sub-module-list{
    width: 49px;
    min-width: 49px;
}
.modal-width{
    min-width: 400px !important;
}
