<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row mb-2">
            <div>
                <button *ngIf="commonService.getUserByRole()=='ROLE_DLT'" type="button" class=" mr-3 btn ng-star-inserted approve-bg-clr white-txt"
                 title="bulkApprove"  (click)="bulkApprovalReject(uppLoadTemplates, $event.target.title)">Bulk Approve/Reject</button>
                
                <button *ngIf="commonService.getUserByRole()=='ROLE_HOD'" type="button" class=" mr-3 btn ng-star-inserted approve-bg-clr white-txt"
                 title="bulkApprove"  (click)="confirmationForBulkApp(bulkApproval, $event.target.title)">Bulk Approve</button>
                <button *ngIf="commonService.getUserByRole()=='ROLE_HOD'" type="button" class="btn ng-star-inserted reject-bg-clr white-txt"
                 title="bulkReject" (click)="confirmationForBulkApp(bulkApproval, $event.target.title)">Bulk Reject</button>
            </div>
        <div class="col-4">
            <div class="form-group mb-0">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
                </mat-form-field>
            </div>
        </div>

          <div class="example-container mat-elevation-z8  form-group table-shadow1" >
            <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
            <ng-container matColumnDef="actions"  sticky >
              <th class="thead-sb" mat-header-cell *matHeaderCellDef >
                <form *ngIf="commonService.getUserByRole()=='ROLE_HOD'">
                    <input id="sAll" [checked]="accepted" type="checkbox" style="vertical-align: sub; width: 17px; height: 17px; padding-left: 10px;" (click)="checkAll()"> Select All
                </form>
                     <span *ngIf="commonService.getUserByRole()=='ROLE_DLT'">Actions</span>
            </th>
              <td class="backColour td-height  text-padding actionSize sort-th " mat-cell *matCellDef="let element;  let i = index">
                <div class="btn-group btn-group-sm" *ngIf="commonService.getUserByRole() =='ROLE_HOD'">
                    <input type="checkbox" style="margin: 4px 5px; width: 17px; height: 17px;" [(ngModel)]="element.checked" (click)="updateForm(element)">
                </div> 
                <div class="btn-group btn-group-sm ">
                      <i *ngIf = "commonService.getUserByRole()=='ROLE_DLT'" class="fa fa-check-circle-o action-item approve-clr" title="Approve" (click)="approvalStatus(element,updatemodal,$event.target.title)"></i>
                      <i *ngIf = "commonService.getUserByRole()=='ROLE_DLT'" class="fa fa-times-circle-o action-item reject-clr" title="Reject" (click)="approvalStatus(element,updatemodal,$event.target.title)"></i>

                      <!--<i *ngIf = "commonService.getUserByRole()!='ROLE_DLT'" class="fa fa-check-circle-o action-item approve-clr" title="Approve" (click)="approvalStatus(element,changeStatusCampaign,$event.target.title)"></i>
                      <i *ngIf = "commonService.getUserByRole()!='ROLE_DLT'" class="fa fa-times-circle-o action-item reject-clr" title="Reject" (click)="approvalStatus(element,changeStatusCampaign,$event.target.title)"></i>-->
                  </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="spiceTemplateid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template ID </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element;let i = index">
                    {{element.id}}
                    </td>
               </ng-container>
            <ng-container matColumnDef="templateIdDlt">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> 
                <!--<form [formGroup]="mainGroup">
                    <input type="text" class="form-control" placeholder="" maxlength="50" formControlName="{{element.name}}" [disabled]="commonService.getUserByRole()!='ROLE_DLT'" [(ngModel)]="element.templateIdDlt" [ngClass]="error-border">               
                </form>  -->
                {{element.templateIdDlt}}
                </td>
               </ng-container>
               
              <ng-container matColumnDef="name">
               <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Name </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
               <ng-container matColumnDef="templateType">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateType}} </td>
            </ng-container>

              <ng-container matColumnDef="contentType">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Content Type </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.contentType}} </td>
              </ng-container>
              <ng-container matColumnDef="content">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">  Template Text </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.content}} </td>
              </ng-container>

               <ng-container matColumnDef="username">
                 <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Assigned To </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.username}} </td>
               </ng-container>
               <ng-container matColumnDef="creationDate">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Created On </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="approvedBy">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Approved By </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.approvedBy}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Status </th>
                <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status['status']}} </td>
              </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

              </div>


        <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
      </div>
      </div>

      <ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
      </ngx-spinner>

<ng-template #changeStatusCampaign let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Template Status</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="remarks-align">
                    <p>Are you sure you want to
                        <span *ngIf="updateUserStatusEvent == 'Reject'">reject {{approvalReq['templateNme']}} template?</span>
                        <span *ngIf="updateUserStatusEvent == 'Approve'">approve {{approvalReq['templateNme']}} template?
                        </span>
                    </p>
                </div>
                <div class="col-md-12" *ngIf="updateUserStatusEvent == 'Reject'">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks

                                    </label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border': changeStatusCamp && statusForm.controls.remarks.errors}"
                                            placeholder="Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="changeStatusCamp && statusForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.required">Field is required
                                        </span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.minlength">Minimum 5 characters required</span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="changeStatusCamp && statusForm.controls.remarks.errors.pattern">Only Alphanumeric allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="updateUserStatusEvent == 'Reject'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Reject
        </button>
        <button *ngIf="updateUserStatusEvent == 'Approve'" type="button" class="btn btn-success ng-star-inserted" (click)="updateCampStatus()">Approve
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
        </button>
    </div>
</ng-template>

<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">Approve Template</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form class="form-t1" [formGroup]='dltApproveForm' novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>DLT Template ID</label>
                        <div>
                            <input type="text" class="form-control" placeholder="DLT Template ID" formControlName="dltTemplateId" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['dltTemplateId'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateId'].touched && dltApproveForm.controls['dltTemplateId'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Telemarketer</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Telemarketer" formControlName="telemarketer" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['telemarketer'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['telemarketer'].touched && dltApproveForm.controls['telemarketer'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>DLT Template Name</label>
                        <div>
                            <input type="text" class="form-control" placeholder="DLT Template Name" formControlName="dltTemplateName" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['dltTemplateName'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['dltTemplateName'].touched && dltApproveForm.controls['dltTemplateName'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Type</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Type" formControlName="type" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['type'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['type'].touched && dltApproveForm.controls['type'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Header</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Header" formControlName="header" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['header'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['header'].touched && dltApproveForm.controls['header'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Category" formControlName="category" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['category'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['category'].touched && dltApproveForm.controls['category'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Registered DLT</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Registered DLT" formControlName="registeredDLT" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['registeredDLT'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['registeredDLT'].touched && dltApproveForm.controls['registeredDLT'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Requested On</label>
                        <div>
                            <input type="date" class="form-control" placeholder="Requested On" formControlName="requestedOn" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['requestedOn'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['requestedOn'].touched && dltApproveForm.controls['requestedOn'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Status Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="statusDate">
                            <div *ngIf="dltApproveForm.controls['statusDate'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['statusDate'].touched && dltApproveForm.controls['statusDate'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Approval status</label>
                        <div>
                            <input type="text" [readonly]="true" class="form-control" placeholder="Approval Status" formControlName="approvalStatus" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['approvalStatus'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['approvalStatus'].touched && dltApproveForm.controls['approvalStatus'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <div>
                            <select class="form-control" formControlName="status">
                                <option value="" disabled selected hidden>Select</option>
                                <option value="active">Active</option>
                                <option value="deactive">De-active</option>
                            </select>
                            <!--<input type="text" class="form-control" placeholder="Status" formControlName="status" minlength="1" maxlength="30">-->
                            <div *ngIf="dltApproveForm.controls['status'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['status'].touched && dltApproveForm.controls['status'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

               <!-- <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Template Content</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Status" formControlName="status" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['status'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['status'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Consent Type</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Consent Type" formControlName="consentType" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['consentType'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['consentType'].touched && dltApproveForm.controls['consentType'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label>Reject Reason</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Rejection Reason" formControlName="rejectionReason" minlength="1" maxlength="30">
                            <div *ngIf="dltApproveForm.controls['rejectionReason'].errors" class="error-wrappers">
                                <span class="error" *ngIf="dltApproveForm.controls['rejectionReason'].touched && dltApproveForm.controls['rejectionReason'].errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-success mr-3" (click)="updateCampStatus()">Approve</button>
    </div>
  </ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
