<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="routeForm" novalidate>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>PF ID</label>
                                   <div>
                                    <!-- <select class="form-control" formControlName="userId" (change)="userSelectionChanged()" [ngClass]="{'error-border': isFormSubmitted && routeForm.controls.userId.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="{{item.userId}}" *ngFor="let item of userList">{{item.userName}} ({{item.firstName}} {{item.lastName}} - {{item.role}})</option>
                                    </select> -->
                                   <ng-multiselect-dropdown formControlName="userId" [(ngModel)]="selectedItems" [placeholder]="'Select PF ID'" [data]="userList" (onSelect)="userSelectionChanged();" [settings]="dropdownSettings" [disabled]="isUserDisabled" (onDeSelect)="onItemDeSelect()">
                                     </ng-multiselect-dropdown>
                                     <div *ngIf="isFormSubmitted && routeForm.controls.userId.errors" class="error-wrappers">
                                        <span class="error" *ngIf="isFormSubmitted && routeForm.controls.userId.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Application - Category Name</label>
                                <div>
                                    <select class="form-control" formControlName="applicationCategoryName" (change)="appCategoryNameChanged()" [ngClass]="{'error-border': isFormSubmitted && routeForm.controls.applicationCategoryName.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="{{item.appName+' '+item.category}}" [ngClass]="{'selected-bg-color': !item.appFrmRoute}"  *ngFor="let item of applicationCategoryList">{{item.appName }} - {{item.category}}</option>
                                    </select>
                                    <div class="error-wrappers">
                                            <span class="upload-caption">
                                              *Routes needs to be configured for highlighted categories. 
                                              </span>
                                            </div>
                                    <div *ngIf="isFormSubmitted && routeForm.controls.applicationCategoryName.errors" class="error-wrappers">
                                        <span class="error" *ngIf="isFormSubmitted && routeForm.controls.applicationCategoryName.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Domestic/International Route</label>
                                <div>
                                    <select class="form-control" formControlName="routeType" (change)="RouteTypeChanged()" [ngClass]="{'error-border': isFormSubmitted && routeForm.controls.routeType.errors}">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option value="D">Domestic</option>
                                        <option value="I">International</option>
                                    </select>
                                    <div *ngIf="isFormSubmitted && routeForm.controls.routeType.errors" class="error-wrappers">
                                        <span class="error" *ngIf="isFormSubmitted && routeForm.controls.routeType.errors.required">Required Field
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row" formGroupName="routeDetails">
                        <div class="col-12">
                            <div class="sub-title">Route Configuration</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>Topology </label>
                                        <div>
                                            <select class="form-control" formControlName="topology" (change)="topologyChanged()" [ngClass]="{'error-border': isFormSubmitted && RouteForm.topology.errors}">
                                                <option value="" disabled selected hidden>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of topologyList">{{item.name}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.topology.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.topology.errors.required">Required Field
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>Primary Route </label>
                                        <div>
                                            <select class="form-control" formControlName="primaryRoute" (change)="routeChanged('primaryRoute',routeForm.controls.routeType)"
                                                [ngClass]="{'error-border': isFormSubmitted && RouteForm.primaryRoute.errors}">
                                                <option value="" disabled selected hidden>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of domesticPrimaryAggregatorList">{{item.aggregatorName}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.primaryRoute.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.primaryRoute.errors.required">Required Field
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>Secondary Route
                                            <small *ngIf="RouteForm.topology.value==2" class="grayOpt">[Optional]</small>
                                        </label>
                                        <div>
                                            <select class="form-control" formControlName="secondaryRoute" (change)="routeChanged('secondaryRoute',routeForm.controls.routeType)"
                                                [ngClass]="{'error-border': isFormSubmitted && RouteForm.secondaryRoute.errors}">
                                                <option value="" selected>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of domesticSecondaryAggregatorList">{{item.aggregatorName}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.secondaryRoute.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.secondaryRoute.errors.required">Required Field
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label>Primary Traffic Percentage </label>
                                        <div>
                                            <select class="form-control" formControlName="primaryTrafficPercentage" [ngClass]="{'error-border': isFormSubmitted && RouteForm.primaryTrafficPercentage.errors}">
                                                <option value="" disabled selected hidden>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of primaryTrafficPercentageList">{{item.name}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.primaryTrafficPercentage.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.primaryTrafficPercentage.errors.required">Required Field
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Retry Details</div>
                                </div>
                                <div class="col-lg-4 col-md-6 d-flex align-items-center">

                                    <div class="switch-wrapper w-100">
                                        <span class="sw-label">Retry Flag :</span>
                                        <label class="switch">
                                            <input type="checkbox" formControlName="retryFlag" (change)="flagChanged(DOMESTIC,'retryFlag',['retryRoute','retryCount','retryIntervalArray'])">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6" *ngIf="RouteForm.retryFlag.value">
                                    <div class="form-group">
                                        <label>Retry Route </label>
                                        <div>
                                            <select class="form-control" formControlName="retryRoute" (change)="routeChanged('retryRoute',routeForm.controls.routeType)"
                                                [ngClass]="{'error-border': isFormSubmitted && RouteForm.retryRoute.errors}">
                                                <option value="" disabled selected hidden>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of domesticRetryAggregatorList">{{item.aggregatorName}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.retryRoute.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.retryRoute.errors.required">Required Field
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6" *ngIf="RouteForm.retryFlag.value">
                                    <div class="form-group">
                                        <label>Retry Count </label>
                                        <div>
                                            <select class="form-control" formControlName="retryCount" (change)="retryCountChanged(DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && RouteForm.retryCount.errors}">
                                                <option value="" disabled selected hidden>Select</option>
                                                <option value="{{item.id}}" *ngFor="let item of retryCountList">{{item.name}}</option>
                                            </select>
                                            <div *ngIf="isFormSubmitted && RouteForm.retryCount.errors" class="error-wrappers">
                                                <span class="error" *ngIf="isFormSubmitted && RouteForm.retryCount.errors.required">Required Field
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-template [ngIf]="RouteForm.retryFlag.value">
                                    <div class="col-lg-4 col-md-6" formArrayName="retryIntervalArray" *ngFor="let retryIntervalItem of RouteForm.retryIntervalArray.controls; let i = index">
                                        <div class="form-group" [formGroupName]="i">
                                            <label>Retry Interval {{i+1}}</label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="retryInterval" placeholder="Enter retry interval (in sec)" maxlength="10"
                                                    [ngClass]="{'error-border': isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors}">
                                                <div *ngIf="isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors" class="error-wrappers">
                                                    <span class="error" *ngIf="isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.required">Required Field
                                                    </span>
                                                    <span class="error" *ngIf="isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.min">Minimum 1 Retry Interval Required</span>
                                                    <span class="error" *ngIf="isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.max">Maximum 900 Retry Interval allowed</span>
                                                    <span class="error" *ngIf="isFormSubmitted && RouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.pattern">Only Numerics allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4" *ngIf="routeForm.controls.userId.value!=''">
                        <button (click)="saveRoute()" class="btn btn-blue-light bt-fix  mb-2">Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>