<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="startDate"
                                (dateChange)="setEndDAte(); " [max]="maxDate" (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                                formControlName="endDate" [max]="maxDate1" [min]="minDate" (dateChange)="setStartDAte();" (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <div class="dropdown">
                <button class="btn btn-blue-light bt-fix  mb-2" type="button" [disabled]="reportList.length == 0" data-toggle="dropdown">Export As
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div>
        <div class="sub-title"></div>

        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Date </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.date | date:"dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="keyword">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Keyword </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.keyword}} </td>
                    </ng-container>

                    <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.department}} </td>
                        </ng-container>
                    </ng-container>
                    
                    <ng-container matColumnDef="shortLongCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Short/Long Code </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.shortLongCode}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Total Count </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countTotal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countSuccess">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Success Count </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSuccess}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countFailed">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Failed Count </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countFailed}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countInactive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Inactive Count </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countInactive}} </td>
                    </ng-container>
                    <ng-container matColumnDef="countUnmatched">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Unmatched Count</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countUnmatched}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

        <!-- <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th (click)="dateSorted = !dateSorted; sortTable('date', dateSorted)" class="sort-th">Date
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'" (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted,true)"
                                    class="sort-th">Department
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="keywordSorted = !keywordSorted; sortTable('keyword', keywordSorted)" class="sort-th">Keyword
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="shortLongCodeSorted = !shortLongCodeSorted; sortTable('shortLongCode', shortLongCodeSorted,true)" class="sort-th">Short/Long Code
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="totalCountSorted = !totalCountSorted; sortTable('countTotal', totalCountSorted, true)" class="sort-th">Total Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="successCountSorted = !successCountSorted; sortTable('countSuccess', successCountSorted, true)" class="sort-th">Success Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="failedCountSorted = !failedCountSorted; sortTable('countFailed', failedCountSorted, true)" class="sort-th">Failed Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="inactiveCountSorted = !inactiveCountSorted; sortTable('countInactive', inactiveCountSorted, true)" class="sort-th">Inactive Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="unmatchedCountSorted = !unmatchedCountSorted; sortTable('countUnmatched', unmatchedCountSorted, true)" class="sort-th">Unmatched Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportList | searchFilter: {department: searchText, keyword: searchText,
                                shortLongCode: searchText } | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{item['date'] | date:"dd/MM/yyyy"}}</td>
                                <td *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">{{item['department']}}</td>
                                <td>{{item['keyword']}}</td>
                                <td>{{item['shortLongCode']}}</td>
                                <td>{{item['countTotal']}}</td>
                                <td>{{item['countSuccess']}}</td>
                                <td>{{item['countFailed']}}</td>
                                <td>{{item['countInactive']}}</td>
                                <td>{{item['countUnmatched']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="reportList.length==0 " class="no-data ">No Records Found</div>
                </div>
                <pagination-controls *ngIf="reportList.length>0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div> -->
