 .template-content-labels {
   padding: 0 5% 0 0;
   color: green;
   font-style: italic;
   font-weight: 500;
   font-size: 25;
   margin-top: 8px;
   display: inline-block;
}

.margin-contentType{
  margin-left: -17px;
}
.template-content-labels {
  padding: 0 5% 0 0;
  color: green;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
  display: inline-block;
  }

  .template-content {
    margin-left: -15px;
    }

  .remarks-align{
    margin-left: 17px;
  }


.template-content-labels span {
  color: green;
}

 .table-striped{
  background-color:white;
 }
.backColour{
  background:white;
}

.slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.per-page-record-label {
    margin-left: 5px;
}

.cursor-disabled {
  cursor: not-allowed;
}

.search-table-outter { overflow-x: scroll; }
th, td {
    min-width: 150px;
    max-width: 350px;
    word-wrap: break-word;
 }
.template-content-labels {
  padding: 0 5% 0 0;
}

.template-content-labels span {
  color: green;
}

.place-holder-button {
  margin-top: 7%;
}

.white-space{
  white-space: pre-wrap;
}


.action-item {
  padding: 0px 5px;
  cursor: pointer;
}

.switch {
  width: 40px;
  height: 20px;
}

.form-group{
 font-weight: normal;
 font-family: Arial;
 //padding: 10px 10px 10px 10px;

}
.alignment{
text-align: center;
}



.thead-sb{
background-color: #00B5EF;
color: white;
vertical-align: middle;
font-family: Arial!important;
 font-style: normal!important;
 font-variant: normal!important;
 font-size: 15px;
 padding: 10px 10px 10px 10px;
}
.slider:before {
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.example-container {

overflow: auto;
// max-width: 1050px;
max-width: 100%;

max-height: 500px;
}


.table-shadow1{
box-shadow: none;
}

.per-page-record-label {
  margin-left: 5px;
}

.modal-width{
  min-width: 400px !important;
}
.td-height{
  height:10%;

  line-height: 1;
}

.text-padding{
padding: 10px 10px 10px 10px;
}


.text-flow{
      width: 120px;
      background-color:#ccc;
      border: 1px solid #aaa;
      margin: 50px 50px 0;
    }
.double-Shown{
  white-space: pre-wrap;
}

td.double-Shown::first-letter {
  margin-left: -2px;
}
