<div class="container-fluid mb-2 top-bar">
  <div class="row">
    <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
      <div class="page-header">
        <div class="page-title">
          <h1>User Type : <b>{{commonService.getUserRole()}} <span *ngIf="commonService.getUserRole() == 'Campaign User'"> - {{commonService.getCampaignUserType()}}</span></b></h1>
        </div>
      </div>
    </div>

    <div class="col-md-8 order-1 order-md-0 ">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" routerLink="/main/dashboard">Home</a>
        <span class="breadcrumb-item active">Manage Bulk Template</span>
      </nav>
    </div>
  </div>
</div>


<section class="right-panel-wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.Bulk_TEMPLATE)">
      <a class="nav-link" routerLink="/main/manage-bulk-template/view-bulk-template" routerLinkActive="active ">View Bulk Template</a>
  </li>
  <li class="nav-item " *ngIf="commonService.hasWriteAccess(MODULES.BULK_TEMPLATE_BULK_UPLOAD)">
      <a class="nav-link " routerLink="/main/manage-bulk-template/create-bulk-template" routerLinkActive="active ">Create Bulk Template</a>
  </li>
  <!-- <li class="nav-item " *ngIf="commonService.hasReadAccess(MODULES.BULK_TEMPLATE_BULK_UPLOAD)">
      <a class=" nav-link " routerLink="/main/manage-sms-template/bulk-upload-template" routerLinkActive="active "> Bulk Upload API Template</a>
  </li> -->

  <li class="nav-item " *ngIf="commonService.hasReadAccess(MODULES.BULK_TEMPLATE_APPROVAL)">
    <a class="nav-link " routerLink="/main/manage-bulk-template/pending-bulk-template" routerLinkActive="active ">Template Pending for Approval </a>
  </li>

  </ul>

  <!-- Tab panes -->

  <router-outlet></router-outlet>

</section>
