<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="Start Date"
                                formControlName="startDate" (dateChange)="setEndDAte(); " [max]="maxDate" (keydown)="restrictKeyword($event);">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <input matInput [matDatepicker]="picker1" (click)="picker1.open()" class="form-control overlapmatInputCss" placeholder=""
                            formControlName="endDate" [max]="maxDate1" [min]="minDate" (dateChange)="setStartDAte();" (keydown)="restrictKeyword($event);">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">Field is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
                    <div class="form-group">
                        <label>Department Name
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <ng-multiselect-dropdown formControlName="department" [placeholder]="'Select'" [data]="departments" [settings]="deptSettings"></ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_HOD' || commonService.getUserByRole() == 'ROLE_ADMIN'">
                    <div class="form-group">
                        <label>Channel
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <ng-multiselect-dropdown formControlName="channel" [placeholder]="'Select'" [data]="channels" [settings]="channelSetting"></ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
                    <div class="form-group">
                        <label>Aggregator
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <ng-multiselect-dropdown formControlName="aggregator" [placeholder]="'Select'" [data]="aggregators" [settings]="aggregatorSetting"></ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_HOD' || commonService.getUserByRole() == 'ROLE_ADMIN'">
                    <div class="form-group">
                        <label>Campaign ID
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <input type="text" class="form-control" placeholder="Campaign ID" formControlName="campaign">
                            <div *ngIf="reportingForm.controls.campaign.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.campaign.errors.required">Field is required</span>
                                <span class="error" *ngIf="reportingForm.controls.campaign.errors.pattern">Only numeric are allowed.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Sender ID
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <input type="text" class="form-control" placeholder="Sender ID" formControlName="sender">
                            <div *ngIf="reportingForm.controls.sender.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.sender.errors.pattern">Alphanumeric and @ - _ allowed.
                                </span>
                                <span class="error" *ngIf="reportingForm.controls.sender.errors.minlength">Minimum length is 4 characters.</span>
                                <span class="error" *ngIf="reportingForm.controls.sender.errors.maxlength">Maximum length is 16 characters.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="commonService.getUserByRole() == 'ROLE_HOD' || commonService.getUserByRole() == 'ROLE_ADMIN'">
                    <div class="form-group">
                        <label>Application Name
                            <small class="grayOpt">[Optional]</small>
                        </label>
                        <div>
                            <input type="text" class="form-control" placeholder="Application Name" maxlength="20" formControlName="user">
                            <div *ngIf="reportingForm.controls.user.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.user.errors.required">Required field.
                                </span>
                                <span class="error" *ngIf="reportingForm.controls.user.errors.minlength">Minimum length is 5 characters.
                                </span>
                                <span class="error" *ngIf="reportingForm.controls.user.errors.maxlength">Maximum length is 20 characters.
                                </span>
                                <span class="error" *ngIf="reportingForm.controls.user.errors.pattern">Only alphanumeric allowed.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="showPdf()">Download PDF</button> -->

            <div class="dropdown">
                <button class="btn btn-blue-light bt-fix  mb-2" [disabled]="!reportList || reportList.length==0" type="button" data-toggle="dropdown">Export As
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div>
        <div class="sub-title"></div>

        <div class="container-fluid form-t1">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group1">
            </mat-form-field>
            <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-sm" matSort>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Submitted On </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.date | date:"dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="channel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Channel </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.channel}} </td>
                    </ng-container>

                    <ng-container matColumnDef="campaignId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign ID </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaignId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="campaignName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Campaign Name </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.campaignName}} </td>
                    </ng-container>

                    <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.department}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_HOD'">
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Application Name</th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.username}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="senderId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Sender CLI </th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.senderId}} </td>
                    </ng-container>

                    <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_CAMPAIGN'">
                        <ng-container matColumnDef="aggregator">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Aggregator Name </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.aggregator}} </td>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="categoryId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Priority</th>
                        <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.categoryId}} </td>
                    </ng-container>
                        <!--My New Table-->
                        <ng-container matColumnDef="totalCount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Total Count </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countTotal}} </td>
                        </ng-container>
                        <ng-container matColumnDef="submitted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Submitted </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSubmitted}} </td>
                        </ng-container>
                        <ng-container matColumnDef="delivered">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Delivered </th>
                            <td (click)="element['countDelivered'] > 0 && (commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API') ? downloadFile('S',element) : null"
                                [class.href-success-style]="element['countDelivered'] > 0 && (commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API')" class="text-padding td-height"
                                mat-cell *matCellDef="let element; let i= index">{{element.countDelivered}}</td>
                        </ng-container>
                        <ng-container matColumnDef="deliveryFailed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Delivery Failed </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countDeliveryFailed}} </td>
                        </ng-container>
                        <ng-container matColumnDef="submitFailed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Submit Failed </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countSubmitfail}} </td>
                        </ng-container>
                        <ng-container matColumnDef="blocked">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Blocked </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countBlocked}} </td>
                        </ng-container>
                        <ng-container matColumnDef="countDnd">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Count Expired </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countExpired}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalFailed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Total Failed </th> 
                            <td (click)="element['countTotalFailed'] > 0 && (commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API')? downloadFile('F',element) : null" 
                                [class.href-failure-style]="element['countTotalFailed'] > 0 && (commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_API')"
                                class="text-padding td-height" mat-cell *matCellDef="let element; let i= index">{{element.countTotalFailed}}</td>
                        </ng-container>

                        <ng-container matColumnDef="countPending">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Count Pending </th>
                            <td class="text-padding td-height" mat-cell *matCellDef="let element; let i= index"> {{element.countPending}} </td>
                        </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength==0 " class="no-data ">No Records Found!</div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20 , 30]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>