<div class="content-wrapper">
    <div class="container-fluid form-t1">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
      </mat-form-field>


      <div class="example-container mat-elevation-z8  form-group table-shadow1" >
        <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
          <ng-container matColumnDef="Actions" sticky >
            <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
            <td class="backColour td-height  text-padding actionSize sort-th" mat-cell *matCellDef="let element;  let i = index">
              <div class="btn-group btn-group-sm">
                <a [routerLink]="['/main/manage-aggregator/add']" [queryParams]="{ id: element.id }">
                  <i class="fa fa-pencil action-item edit-clr" title="Update"></i>
              </a>
              <i class="fa fa-trash action-item reject-clr" title="Delete" (click)="viewDeleteAggregatorModal(element,deleteAggregatorView)"></i>
              <label class="switch action-item">
                  <input type="checkbox" attr.id="{{i}}" [checked]="element['status']=='Enabled'" (change)="changeStatusAggregatorConfirmation(element,i)">
                  <span class="slider round"></span>
              </label>
          </div>
           </td>
          </ng-container>
          <ng-container matColumnDef="aggregatorName">
           <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Aggregator Name</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.aggregatorName}} </td>
          </ng-container>
          <ng-container matColumnDef="aggregatorProtocol">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Aggregator Protocol </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.aggregatorProtocol}} </td>
          </ng-container>
          <ng-container matColumnDef="aggregatorType">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">  Aggregator Type </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.aggregatorType}} </td>
          </ng-container>

          <ng-container matColumnDef="ip">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> IP</th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.ip}} </td>
           </ng-container>
           <ng-container matColumnDef="port">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Port</th>
             <td  class="text-padding td-height" mat-cell *matCellDef="let element">{{element.port}} </td>
            </ng-container>

            <ng-container matColumnDef="tps">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">TPS</th>
              <td  class="text-padding td-height" mat-cell *matCellDef="let element">{{element.tps}} </td>
             </ng-container>

           <ng-container matColumnDef="status">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Status</th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status}} </td>
           </ng-container>

          <ng-container matColumnDef="topic">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Topic Name </th>
            <td (click)="viewTopicDetails(TopicDetails,element);" class=" text-padding td-height download-file-text blueTextClr" mat-cell *matCellDef="let element"> {{element['topicId']['topic']}} </td>
          </ng-container>

          <ng-container matColumnDef="textPayload">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Text Payload</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.textPayload}} </td>
          </ng-container>


          <ng-container matColumnDef="unicodePayload">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Unicode Payload</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.unicodePayload}} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Category</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.category.category}} </td>
          </ng-container>

          <ng-container matColumnDef="emailAddr">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Email Address</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.emailAddr}} </td>
          </ng-container>

          <ng-container matColumnDef="emailCcAddr">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Secondary Email Address</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.emailCcAddr}} </td>
          </ng-container>

          <ng-container matColumnDef="responseType">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Aggregator Response Type</th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.responseType}} </td>
          </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSourceLength==0 " class="no-data">No Records Found!</div>
            <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

            </div>
          <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
        </div>
        </div>

        <ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
        </ngx-spinner>



<ng-template #TopicDetails let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">Topic Details</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <tbody>
                <tr>
                    <th class="font-weight-bold">Topic Name</th>
                    <td>{{topicName}}</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Queue Details</th>
                    <td>{{queueDtls}}</td>
                </tr>
                <tr *ngIf="description">
                    <th class="font-weight-bold">Description</th>
                    <td>{{description}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteAggregatorView let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Delete Aggregator</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="deleteForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div class="modal-width">
                                        <textarea rows="3" class="form-control " formControlName="remarks" [ngClass]="{'error-border': deleteFormSubmitted && deleteForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteAggregator()">Delete Aggregator
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>



<ngx-spinner bdColor="rgba(51,51,51,0.3) " size="medium " color="#fff " type="ball-scale-multiple ">
</ngx-spinner>
