.download-file-text {
  cursor: pointer;
}

.upload-caption span.download-file-text:hover {
  text-decoration: underline !important;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.search-table-outter { 
  overflow-x: scroll; 
}

th, td { 
  min-width: 150px;
  max-width: 350px;
  word-wrap: break-word;
}

.template-content-labels {
padding: 0 5% 0 0;
}

.template-content-labels {
  padding: 0 5% 0 0;
  color: green;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
  display: inline-block;
  }

.template-content-labels span {
  color: green;
}

.remarks-align{
  margin-left: 17px;
}

 .switch {
  width: 40px;
  height: 20px;
}

.slider:before {
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
}

.action-item {
  padding: 0px 5px;
  cursor: pointer;
}

.place-holder-button {
margin-top: 7%;
}

.bulkBtn{
  color: #fff;
  background-color: #00b5ef;
   border-color: #00b5ef;
}

.tempCss{
  margin-left: -75px;
}

.approve-bg-clr {
  background-color: #66bb6a;
}

.reject-bg-clr {
  background-color: #e57373;
}

.white-txt{
  color: white
}

.margin-contentType{
    margin-left: -17px;
}

.template-content {
  margin-left: -15px;
}

.per-page-record-label {
  margin-left: 5px;
}

.cursor-disabled {
cursor: not-allowed;
}

.white-space{
white-space: pre-wrap;
}

.form-group{
  font-weight: normal;
  font-family: Arial;
}

.alignment{
  text-align: center;
}

.table-striped{
  background-color:white;
 }

.backColour{
  background:white;
}

.thead-sb{
background-color: #00B5EF;
color: white;
vertical-align: middle;
font-family: Arial!important;
font-style: normal!important;
font-variant: normal!important;
font-size: 15px;
white-space: nowrap;
padding: 10px 10px 10px 10px;
}

.example-container {
    overflow: auto;
    max-width: 100%;
    // max-width: 1050px;
    max-height: 500px;
}

.table-shadow1{
box-shadow: none;
}

.modal-width{
min-width: 400px !important;
}

.td-height{
  height:10%;
  line-height: 1;
}

.text-padding{
padding: 10px 10px 10px 10px;
}