<nav class="sidebar">
  <ul class="nav navbar-nav">
      <li *ngIf="commonService.hasReadAccess(MODULES.DASHBOARD)">
          <a routerLink="/main/dashboard" routerLinkActive="active">
              <span class="l-icons" title="Dashboard">
                  <img src="../../../assets/images/new images/icon_dashboard.png">
              </span> Dashboard
          </a>
      </li>
      <!-- <li *ngIf="commonService.hasReadAccess(MODULES.REGISTRATION_REQUEST)">
          <a routerLink="/main/registration-requests" routerLinkActive="active">
              <span class="l-icons" title="Registration Requests">
                  <img src="../../../assets/images/new images/icon_user_requests.png">
              </span> User Requests
          </a>
      </li> -->
      <li *ngIf="commonService.hasReadAccess(MODULES.USER)">
          <a routerLink="/main/manage-user" routerLinkActive="active">
              <span class="l-icons" title="Manage User">
                  <img src="../../../assets/images/new images/icon_manage_user.png">
              </span> Manage User</a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.ROUTES)">
          <a routerLink="/main/manage-route" routerLinkActive="active">
              <span class="l-icons" title="Manage Routes">

                  <img src="../../../assets/images/new images/icon_manage_routes.png">
              </span> Manage Aggregator Routes</a>
      </li>

      <li *ngIf="commonService.hasReadAccess(MODULES.AGGREGATOR)">
          <a routerLink="/main/manage-aggregator" routerLinkActive="active">
              <span class="l-icons" title="Manage Aggregators">
                  <img src="../../../assets/images/NewSanjImgs/manage-aggregators.png">

                  <!-- <img src="../../../assets/images/new images/icon_manage_mo_route.png"> -->
              </span> Manage Aggregator
          </a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.DEPARTMENT)">
          <a routerLink="/main/manage-department" routerLinkActive="active">
              <span class="l-icons" title="Manage Department">
                  <img src="../../../assets/images/NewSanjImgs/manage-department-new.png">

                  <!-- <img src="../../../assets/images/new images/icon_manage_user.png"> -->
              </span> Manage Department</a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.CAMPAIGN)">
          <a routerLink="/main/manage-campaign" routerLinkActive="active">
              <span class="l-icons" title="Manage Campaign">
                  <img src="../../../assets/images/new images/icon_new_campaign.png">
              </span> Manage Campaign
          </a>
      </li>
      <!-- <li *ngIf="commonService.hasReadAccess(MODULES.AGGREGATOR)">
    <a><span routerLink="/main/manage-aggregator" routerLinkActive="active" class="l-icons"
        title="Manage Aggregator"><img src="../../../assets/images/new images/icon_aggregation.png"></span>
      Manage Aggregator</a>
  </li> -->
      <li *ngIf="commonService.hasReadAccess(MODULES.ADDRESS_BOOK)">
          <a routerLink="/main/manage-address-book" routerLinkActive="active">
              <span class="l-icons" title="Manage Address Book">
                  <img src="../../../assets/images/new images/icon_address_book.png">
              </span> Manage Address Book</a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.SENDERID)">
          <a routerLink="/main/manage-sender-id" routerLinkActive="active">
              <span class="l-icons" title="Manage Sender CLI">
                  <img src="../../../assets/images/new images/icon_cli.png">
              </span> Manage Sender CLI</a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.SMS_TEMPLATE) || commonService.hasReadAccess(MODULES.Bulk_TEMPLATE)">
          <a routerLink="/main/manage-sms-template" routerLinkActive="active">
              <span class="l-icons" title="Manage SMS Template">
                  <img src="../../../assets/images/NewSanjImgs/manage-API.png">

                  <!-- <img src="../../../assets/images/new images/icon_manage_sms_template.png"> -->
              </span> Manage Template</a>
      </li>

      <!--<li *ngIf="commonService.hasReadAccess(MODULES.Bulk_TEMPLATE)">
          <a routerLink="/main/manage-bulk-template" routerLinkActive="active">
              <span class="l-icons" title="Manage Bulk Template">
                  <img src="../../../assets/images/NewSanjImgs/manage-template.png">

                  <img src="../../../assets/images/new images/icon_manage_sms_template.png"> 
              </span> Manage Bulk Template</a>
      </li>-->


      <li *ngIf="commonService.hasReadAccess(MODULES.SPAM_KEYWORD)">
          <a routerLink="/main/manage-spam-keyword" routerLinkActive="active">
              <span class="l-icons" title="Manage Spam Keywords">
                  <img src="../../../assets/images/new images/spam.png">
              </span> Manage Spam Keywords</a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.MO_ROUTE)">
          <a routerLink="/main/manage-mo-route" routerLinkActive="active">
              <span class="l-icons" title="Manage MO Routes">
                  <img src="../../../assets/images/new images/moRoute.png">
              </span> Manage MO Routes
          </a>
      </li>
      <li *ngIf="commonService.hasReadAccess(MODULES.MO_KEYWORD)">
          <a routerLink="/main/manage-mo-keywords" routerLinkActive="active">
              <span class="l-icons" title="Manage MO Keywords">
                  <img src="../../../assets/images/NewSanjImgs/MO-Keywords.png">

                  <!-- <img src="../../../assets/images/new images/icon_manage_mo_route.png"> -->
              </span> Manage MO Keywords</a>
      </li>
      <!-- <li>
    <a routerLink="/main/smsc-tps" routerLinkActive="active"><span class="l-icons" title="User's Aggregator & TPS"><img
          src="../../../assets/images/new images/icon_tps.png"></span>
      User's Aggregator & TPS</a>
  </li> -->
      <!-- <li *ngIf="commonService.hasReadAccess(MODULES.DEPARTMENT_CONFIGURATION)">
    <a><span class="l-icons" title="Department Configuration"><img
          src="../../../assets/images/new images/icon_deparment_config.png"></span>
      Department Configuration</a>
  </li> -->
      <!-- <li *ngIf="commonService.hasReadAccess(MODULES.SYSTEM_CONFIGURATION)">
          <a>
              <span class="l-icons" title="System Configuration">
                  <img src="../../../assets/images/new images/icon_system_config.png">
              </span> System Configuration</a>
      </li> -->
      <li *ngIf="commonService.hasReadAccess(MODULES.REPORTS)">
          <a routerLink="/main/reporting" routerLinkActive="active">
              <span class="l-icons" title="Reporting">
                  <img src="../../../assets/images/new images/icon_reporting.png">
              </span> Reports
          </a>
      </li>
      <!-- <li>
          <a routerLink="/main/change-password" routerLinkActive="active"><span class="l-icons" title="Manage Routes"><img
          src="../../../assets/images/reporting.png"></span>
      Change Password</a>
      </li> -->
  </ul>
</nav>
