<header id="header" class="header">
    <div class="p-0 d-flex flex-row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-panel" aria-controls="main-menu" aria-expanded="true"
            aria-label="Toggle navigation">
            <!-- aria-expanded ="true" if show class in main.component.html -->
            <i class="fa fa-2x fa-angle-double-right"></i>
        </button>
        <div class="logo-container">
            <a href="javascript:void(0)">
                <img src="assets/images/logo_sbi.png" alt="Logo">
            </a>
            <p class="serviceID">APM ID: IU_Infr_2240</p>
        </div>
    </div>
    <div class="px-3 d-flex flex-row align-items-center">
        <div class="dltguidline pointer">
            <a href="../../../assets/images/new images/guidlines.pdf" class="dltguidlinefont" download>DLT Template guidlines </a>
        </div>
        <div class="profile-wrapper pointer">
            <span href="#" data-toggle="dropdown" aria-expanded="false">{{commonService.getUserName()}} {{commonService.getFullName()}}</span>
            <a class="dropdown-toggle ml-2" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <!-- <div class="dropdown-menu colorbg" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item text-white" routerLink="/main/my-profile">
                    <img src="../../../assets/images/NewSanjImgs/icon_my_profile.png"> My Profile</a>
                <a class="dropdown-item text-white" (click)="logout()">
                    <img src="../../../assets/images/NewSanjImgs/icon_logout.png">Logout</a>
            </div> -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/main/my-profile">
                    <img src="../../../assets/images/new images/icon_my_profile.png" width="26">My Profile</a>
                <a class="dropdown-item" (click)="logout()">
                    <img src="../../../assets/images/NewSanjImgs/icon_logout-2.png" width="26">Logout</a>
            </div>
        </div>
    </div>
</header>

<ng-template #showUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>User Details</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sub-title">Personal Information</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">First Name </label>
                                <div>
                                    {{userDetails.firstName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Last Name </label>
                                <div>
                                    {{userDetails.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Username</label>
                                <div>
                                    {{userDetails.username}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Primary Email Address</label>
                                <div>
                                    {{userDetails.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Alternate Email Address</label>
                                <div>
                                    {{userDetails.alternateEmails || 'NA'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Mobile Number </label>
                                <div>
                                    {{userDetails.msisdn}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Department </label>
                                <div>
                                    {{userDetails.deptId["department"]}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Role ID </label>
                                <div>
                                    {{userDetails.roleId["name"]}}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Approver </label>
                                <div>
                                    {{userDetails.approverId}}
                                </div>
                            </div>
                        </div> -->
                        <!-- <div></div> -->
                    </div>
                    <div class="row" *ngIf="userDetails.roleId['configurationFlag'] == 'R' || (userDetails.roleId['configurationFlag'] == 'N' && userDetails.categoryId['category']) ">
                        <div class="col-12">
                            <div class="sub-title">Configuration Information</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Category ID </label>
                                        <div>
                                            {{userDetails.categoryId["category"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Channel </label>
                                        <div>
                                            {{userDetails.channelId['channelName']}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">TPS </label>
                                        <div>
                                            {{userDetails.tps}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Duplicate Check</label>
                                        <div>
                                            {{ userDetails.duplicateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Template Check</label>
                                        <div>
                                            {{ userDetails.templateCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Template Approval Check</label>
                                        <div>
                                            {{ userDetails.templateApprovalReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Sender Id Check</label>
                                        <div>
                                            {{ userDetails.senderidCheck == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Sender Id Approval Check</label>
                                        <div>
                                            {{ userDetails.senderidApprovalReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">DLR Report Request</label>
                                        <div>
                                            {{ userDetails.dlrReportsReq == "Y" ? 'Yes' : 'No'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">IP White List Details</label>
                                        <div>
                                            {{ userDetails.ipWhitelist || 'NA'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 2">
                                <div class="col-12">
                                    <div class="sub-title">Bulk Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Message per part length </label>
                                        <div>
                                            {{userDetails.maxMessageParts}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum File size </label>
                                        <div>
                                            {{userDetails.maxFilesize}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Recipient Count </label>
                                        <div>
                                            {{userDetails.maxRecipientCount}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Sender ID </label>
                                        <div>
                                            {{userDetails.maxSenderid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Template </label>
                                        <div>
                                            {{userDetails.maxTemplate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.channelId['id'] == 1">
                                <div class="col-12">
                                    <div class="sub-title">HTTP Channel Parameters</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div>
                                            {{userDetails.maxConnection}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.dlrReportsReq == 'Y'">
                                <div class="col-12">
                                    <div class="sub-title">User DLR Callback Details</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topology </label>
                                        <div>
                                            {{userDetails.userDlrCallback["topologyMode"] == 1 ? 'Active/Active' : 'Active/Passive'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Primary Url </label>
                                        <div>
                                            {{userDetails.userDlrCallback["primaryUrl"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Secondary Url </label>
                                        <div>
                                            {{userDetails.userDlrCallback["secondaryUrl"] || 'NA'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topic </label>
                                        <div>
                                            {{userDetails.userDlrCallback["topicId"]["topic"]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Maximum Connection Count </label>
                                        <div>
                                            {{userDetails.userDlrCallback["maxConnection"]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Authorization Information</div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Report Privileges</label>
                                        <div>
                                            {{userDetails.accessJson == "1" ? "Self" : userDetails.accessJson == "2" ? "Department" : userDetails.accessJson == "3" ?
                                            "All" : "NA"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Access Permissions</div>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered  table-hover table-sm">
                                            <thead class="thead-sb">
                                                <tr>
                                                    <th class="pc-1">S.no.</th>
                                                    <th class="pc-2">Module</th>
                                                    <th class="pc-3">Read/Write</th>
                                                    <th class="pc-3">Read Only</th>
                                                    <th class="pc-3">Hide</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                                                    <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                                                    <td *ngIf="!item.isSubModule">{{item.view}}</td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'RW'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="viewPermissionList[item.formControlName] == 'R'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td class="pc-3" *ngIf="!item.isSubModule">
                                                        <span *ngIf="!viewPermissionList[item.formControlName] || viewPermissionList[item.formControlName] == 'H'">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                    <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                                                        <table class="table table-hover table-sm m-0 ">
                                                            <tr *ngFor="let subItem of item.subModuleList">
                                                                <td class="pci-1">{{subItem.sno}}</td>
                                                                <td class="pci-2">{{subItem.view}}</td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'RW'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="viewPermissionList[subItem.formControlName] == 'R'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                                <td class="pc-3">
                                                                    <span *ngIf="!viewPermissionList[subItem.formControlName] || viewPermissionList[subItem.formControlName] == 'H'">
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>
