span.required-sign {
  color: #e80d0d;
}
.sub-module-list{
  width: 49px;
  min-width: 49px;
}
.shw-mrgn{
  margin-top: 30px;
}
.delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  z-index: 9999;
}
.cursor-disabled {
  cursor: not-allowed;
}