<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : <b>{{commonService.getUserRole()}} <span
                                *ngIf="commonService.getUserRole() == 'Campaign User'"> -
                                {{commonService.getCampaignUserType()}}</span></b></h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Dashboard</span>
            </nav>
        </div>
    </div>
</div>

<section class="right-panel-wrapper">
    <div class="container-fluid">
        <div class="dateFilterInline mb-3">
            <h6 class="mr-3 mt-2">
                <b>Time Period</b>
            </h6>
            <button type="button" (click)="getTodayWeekMonthYearDate('today')"
                [ngClass]="{ 'btn-primary': isTodayClass, 'btn-outline-primary': !isTodayClass}"
                class="btn btn-sm mr-2">Today</button>
            <button type="button" (click)="getTodayWeekMonthYearDate('week')"
                [ngClass]="{ 'btn-primary': isWeekClass, 'btn-outline-primary': !isWeekClass  }"
                class="btn btn-sm mr-2">Week</button>
            <button type="button" (click)="getTodayWeekMonthYearDate('month')"
                [ngClass]="{ 'btn-primary': isMonthClass, 'btn-outline-primary': !isMonthClass  }"
                class="btn btn-sm mr-2">Month</button>
            <button type="button" (click)="getTodayWeekMonthYearDate('year')"
                [ngClass]="{ 'btn-primary': isYearClass, 'btn-outline-primary': !isYearClass  }"
                class="btn btn-sm mr-2">Year</button>
        </div>
        <!--<h6 *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <b>Graph</b>
        </h6>-->
        <!--<div class="aboveline"*ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <form class="form-t1">
                <div class="row float-right">
                    <button type="button" [ngClass]="{ 'btn-primary': isYester, 'btn-outline-primary': !isYester  }"
                    (click)="changeDate(1,'UPTIME')" class="btn btn-sm mr-2">Yeserday</button>
                    <button type="button" [ngClass]="{ 'btn-primary': istoday, 'btn-outline-primary': !istoday  }"
                     (click)="changeDate(0,'UPTIME')" class="btn btn-sm mr-2">Today</button>
                    <select *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                        class="form-control-sm mx-3 dropWidth" [(ngModel)]="upselectedHour" name="upselectedHour"
                        (ngModelChange)="getUptimeData(yesterday1)">
                        <option [ngValue]="item" *ngFor="let item of hours">{{item}}</option>
                    </select>
                </div>
            </form>
        </div>-->
    <div class="card" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
        <div class="card-header"*ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <form class="form-t1">
                <div class="row float-right">
                    <button type="button" [ngClass]="{ 'btn-primary': isYester, 'btn-outline-primary': !isYester  }"
                    (click)="changeDate(1,'UPTIME')" class="btn btn-sm mr-2">Yeserday</button>
                    <button type="button" [ngClass]="{ 'btn-primary': istoday, 'btn-outline-primary': !istoday  }"
                     (click)="changeDate(0,'UPTIME')" class="btn btn-sm mr-2">Today</button>
                    <select *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                        class="form-control-sm mx-3 dropWidth" [(ngModel)]="upselectedHour" name="upselectedHour"
                        (ngModelChange)="getUptimeData(yesterday1)">
                        <option [ngValue]="item" *ngFor="let item of hours">{{item}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
        <div class=""  *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <div class="pr-0">
                <div class="filter-bg bg-white">
                    <h6 class="headingClr">Up Time</h6>
                    <div style="display: block;">
                        <canvas baseChart height="100px" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="card-header" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <form class="form-t1">
                <div class="row float-right">
                    <button type="button" [ngClass]="{ 'btn-primary': tisYester, 'btn-outline-primary': !tisYester  }"
                     (click)="changeDate(1,'TIMESTAMP')" class="btn btn-sm mr-2">Yeserday</button>
                    <button type="button" [ngClass]="{ 'btn-primary': tistoday, 'btn-outline-primary': !tistoday  }"
                     (click)="changeDate(0,'TIMESTAMP')" class="btn btn-sm mr-2">Today</button>
                    <select *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                        class="form-control-sm mx-3 dropWidth" [(ngModel)]="selectedHour" name="selectedHour"
                        (ngModelChange)="timestampGraphData(yesterday)">
                        <option [ngValue]="item" *ngFor="let item of hours">{{item}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
        <div class="" *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <div class="pr-0">
                <div class="filter-bg bg-white">
                    <h6 class="headingClr">Time Stamp</h6>
                    <div style="display: block;">
                        <canvas baseChart height="100px" [datasets]="barChartData1" [labels]="barChartLabels1"
                            [options]="barChartOptions1" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <h6 *ngIf="commonService.getUserByRole() != 'ROLE_API'">
            <b>Campaign Traffic</b>
        </h6>
        <div class="filter-bg mb-2 bg-white" *ngIf="commonService.getUserByRole() != 'ROLE_API'">
            <div class="row d-flex justify-content-center">
                <img *ngIf="!campaignBulkTrafficList" src="assets/images/159.gif" alt="" />
                <ng-container *ngIf="campaignBulkTrafficList">
                    <div class="col pr-0">
                        <div class="dash-card bg-1">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{totalCampTile || "0"}}
                                </div>
                                <div class="col-12 dr-left  pl-4">
                                    <span>Total Campaigns</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="dash-card bg-3">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{totalSMSCampTile || "0"}}
                                </div>
                                <div class="col-12 dr-left pl-4">
                                    <span>Total SMS Sent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="dash-card bg-2">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{successSMSCampTile || "0"}}
                                </div>
                                <div class="col-12 dr-left pl-4">
                                    <span>Success SMS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="dash-card bg-4">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{failedSMSCampTile || "0"}} </div>
                                <div class="col-12 dr-left pl-4">
                                    <span>Fail SMS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dash-card bg-5">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{pendingSMSCampTile || "0"}}
                                </div>
                                <div class="col-12 dr-left pl-4">
                                    <span>Pending SMS</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="!campaignBulkTrafficList">
                    Unable to fetch data
                </ng-container> -->
            </div>
        </div>
        <h6 *ngIf="commonService.getUserByRole() != 'ROLE_CAMPAIGN'">
            <b>API Traffic</b>
        </h6>
        <div class="filter-bg mb-2 bg-white" *ngIf="commonService.getUserByRole() != 'ROLE_CAMPAIGN'">
            <div class="row d-flex justify-content-center">
                <img *ngIf="!apiTrafficList" src="assets/images/159.gif" alt="" />
                <ng-container *ngIf="apiTrafficList">
                    <div class="col pr-0">
                        <div class="dash-card bg-6">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{totalSMSTile || "0"}}
                                </div>
                                <div class="col-7 dr-left pl-4">
                                    <span>Total SMS Sent</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="dash-card bg-7">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{successSMSTile || "0"}}
                                </div>
                                <div class="col-7 dr-left pl-4">
                                    <span>Success SMS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="dash-card bg-1">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{pendingSMSTile || "0"}} </div>
                                <div class="col-7 dr-left pl-4">
                                    <span>Pending SMS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dash-card bg-9">
                            <div class="dr-1 row">
                                <div class="col-12 dr-left size pl-4">
                                    {{failedSMSTile || "0"}} </div>
                                <div class="col-12 dr-left pl-4">
                                    <span>Fail SMS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="!apiTrafficList">
                    Unable to fetch bill
                </ng-container> -->
            </div>
        </div>



        <ng-container
            *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN' || commonService.getUserByRole() == 'ROLE_HOD'; else other_user">
            <h6>
                <b>Bulk and API Traffic</b>
            </h6>
            <div class="card mb-3">
                <div class="card-header">
                    <form class="form-t1">
                        <div class="row float-right">
                            <select *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                                class="form-control-sm mx-3 dropWidth" [(ngModel)]="department" name="department"
                                (ngModelChange)="toGetAllApplications($event)">
                                <option [ngValue]="item" *ngFor="let item of deptList">{{item.department}}</option>
                            </select>
                            <select class="form-control-sm mr-3 dropWidth" [ngModel]="applicationName"
                                name="applicationName" (change)="toGetApp($event.target.value)">
                                <option [value]="item.applicationName" *ngFor="let item of appList">
                                    {{item.applicationName}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div *ngIf="!isAppNotAvail">
                        <!-- <div class="bg-white filter-bg" *ngIf="campaignBoardList.length==0 ||!campaignBoardList">

                        </div> -->
                        <div class=" filter-bg bg-grey mb-3" *ngFor="let item of campaignBoardList">
                            <!-- <img *ngIf="campaignBoardList.length==0 ||!campaignBoardList" src="assets/images/159.gif" alt="" /> -->

                            <div class="row no-gutters mb-2">
                                <b>Bulk Traffic for {{item.campaignName | titlecase}} campaign</b>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pr-0">
                                    <div class="filter-bg bg-white">
                                        <h6 class="headingClr">Hourly TPS Graph</h6>
                                        <div style="display: block;">
                                            <canvas baseChart height="306" [datasets]=item.lineChart
                                                [colors]="campaignWiseColors" [labels]=item.hours
                                                [options]="campaignWiseOptions" [legend]="campaignWiseLegend"
                                                [chartType]="campaignWiseType"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6 pr-0">
                                            <div class="filter-bg bg-white campInfo">
                                                <h6 class="headingClr">Campaign Information</h6>
                                                <ul class="list-unstyled map-content">
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Department Name
                                                        </li>
                                                        <li class="col-sm-5 blueTextClr">
                                                            <b>{{item.departmentName}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Department User
                                                        </li>
                                                        <li class="col-sm-5 pinkTextClr">
                                                            <b>{{item.departmentUser}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Start Time
                                                        </li>
                                                        <li class="col-sm-5 greenTextClr">
                                                            <b>{{item.startTime | date: 'dd/MM/yyyy'}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            End Time
                                                        </li>
                                                        <li class="col-sm-5 redTextClr">
                                                            <b>{{item.endTime | date: 'dd/MM/yyyy'}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Total SMS Count
                                                        </li>
                                                        <li class="col-sm-5 orangeTextClr">
                                                            <b>{{item.totalSmsCount || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            DND Count
                                                        </li>
                                                        <li class="col-sm-5 purpleTextClr">
                                                            <b>{{item.dndCount || "0"}}</b>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="filter-bg bg-white">
                                                <h6 class="headingClr">SMS Count Data</h6>
                                                <ul class="list-unstyled map-content">
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            SMS Sent
                                                        </li>
                                                        <li class="col-sm-5 blueTextClr">
                                                            <b>{{item.smsSent || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Success
                                                        </li>
                                                        <li class="col-sm-5 pinkTextClr">
                                                            <b>{{item.smsSuccess || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Fail
                                                        </li>
                                                        <li class="col-sm-5 greenTextClr">
                                                            <b>{{item.smsFailed || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Pending
                                                        </li>
                                                        <li class="col-sm-5 redTextClr">
                                                            <b>{{item.smsPending || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Current TPS
                                                        </li>
                                                        <li class="col-sm-5 orangeTextClr">
                                                            <b>{{item.currentTps || "0"}}</b>
                                                        </li>
                                                    </div>
                                                    <div class="row">
                                                        <li class="col-sm-7">
                                                            Maximum TPS
                                                        </li>
                                                        <li class="col-sm-5 purpleTextClr">
                                                            <b>{{item.maxTps || "0"}}</b>
                                                        </li>
                                                    </div>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-bg bg-grey mb-3" *ngIf="campaignBoardList.length==0 && !isAppNotAvail">
                        <!-- <img *ngIf="campaignBoardList.length==0 ||!campaignBoardList" src="assets/images/159.gif" alt="" /> -->
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                            class=" d-flex justify-content-center"> No campaign traffic available for department
                            "{{department ? department['department'] : ''}}" and
                            application "{{applicationName}}"</div>
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_HOD'" class=" d-flex justify-content-center">
                            No campaign traffic available for application "{{applicationName}}"</div>
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_CAMPAIGN' || commonService.getUserByRole() == 'ROLE_API'"
                            class=" d-flex justify-content-center">
                            No campaign traffic available</div>
                    </div>
                    <!-- API traffic -->
                    <div *ngIf="deptApiTrafficList.length>0 && !isAppNotAvail">
                        <div class=" filter-bg bg-grey" *ngFor="let item of deptApiTrafficList">
                            <div class="row no-gutters mb-2">
                                <b> API Traffic for {{item.deptName | titlecase}} department</b>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-0">
                                    <div class="filter-bg bg-white ">
                                        <h6 class="headingClr">
                                            User Wise SMS Status
                                        </h6>
                                        <div style="display: block">
                                            <canvas baseChart height="300" [datasets]=item.barChart [labels]=item.users
                                                [options]="userwiseSMSOptions" [legend]="userwiseSMSLegend"
                                                [chartType]="userwiseSMSType" [colors]="userwiseSMSColors">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="filter-bg bg-white">
                                        <h6 class="headingClr">
                                            User Wise Hourly TPS
                                        </h6>
                                        <div style="display: block">
                                            <canvas baseChart height="300" [datasets]=item.lineChart
                                                [colors]="lineChartColors" [labels]=item.hours
                                                [options]="lineChartOptions" [legend]="lineChartLegend"
                                                [chartType]="lineChartType"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-bg bg-grey" *ngIf="deptApiTrafficList.length==0 && !isAppNotAvail">
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'"
                            class=" d-flex justify-content-center"> No API traffic available for department
                            "{{department ? department['department'] : ''}}" and application
                            "{{applicationName}}"
                        </div>
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_HOD'" class=" d-flex justify-content-center">
                            No API traffic available for application "{{applicationName}}"</div>
                        <div *ngIf="commonService.getUserByRole() == 'ROLE_CAMPAIGN' || commonService.getUserByRole() == 'ROLE_API'"
                            class=" d-flex justify-content-center">
                            No API traffic available</div>

                    </div>
                    <div class="filter-bg bg-grey d-flex justify-content-center" *ngIf="isAppNotAvail">
                        No application available for current user.
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #other_user>
            <ng-container *ngIf="commonService.getUserByRole() != 'ROLE_API'">
                <div class=" filter-bg bg-grey mb-3" *ngFor="let item of campaignBoardList">
                    <div class="row no-gutters mb-2">
                        <b>Bulk Traffic for {{item.campaignName | titlecase}} campaign</b>
                    </div>
                    <div class="row">
                        <div class="col-md-5 pr-0">
                            <div class="filter-bg bg-white">
                                <h6 class="headingClr">Hourly TPS Graph</h6>
                                <div style="display: block;">
                                    <canvas baseChart height="306" [datasets]=item.lineChart
                                        [colors]="campaignWiseColors" [labels]=item.hours
                                        [options]="campaignWiseOptions" [legend]="campaignWiseLegend"
                                        [chartType]="campaignWiseType"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6 pr-0">
                                    <div class="filter-bg bg-white campInfo">
                                        <h6 class="headingClr">Campaign Information</h6>
                                        <ul class="list-unstyled map-content">
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Department Name
                                                </li>
                                                <li class="col-sm-5 blueTextClr">
                                                    <b>{{item.departmentName}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Department Used
                                                </li>
                                                <li class="col-sm-5 pinkTextClr">
                                                    <b>{{item.departmentUser}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Start Time
                                                </li>
                                                <li class="col-sm-5 greenTextClr">
                                                    <b>{{item.startTime | date: 'dd/MM/yyyy'}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    End Time
                                                </li>
                                                <li class="col-sm-5 redTextClr">
                                                    <b>{{item.endTime | date: 'dd/MM/yyyy'}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Total SMS Count
                                                </li>
                                                <li class="col-sm-5 orangeTextClr">
                                                    <b>{{item.totalSmsCount || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    DND Count
                                                </li>
                                                <li class="col-sm-5 purpleTextClr">
                                                    <b>{{item.dndCount || "0"}}</b>
                                                </li>
                                            </div>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="filter-bg bg-white">
                                        <h6 class="headingClr">SMS Count Data</h6>
                                        <ul class="list-unstyled map-content">
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    SMS Sent
                                                </li>
                                                <li class="col-sm-5 blueTextClr">
                                                    <b>{{item.smsSent || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Success
                                                </li>
                                                <li class="col-sm-5 pinkTextClr">
                                                    <b>{{item.smsSuccess || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Fail
                                                </li>
                                                <li class="col-sm-5 greenTextClr">
                                                    <b>{{item.smsFailed || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Pending
                                                </li>
                                                <li class="col-sm-5 redTextClr">
                                                    <b>{{item.smsPending || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Current TPS
                                                </li>
                                                <li class="col-sm-5 orangeTextClr">
                                                    <b>{{item.currentTps || "0"}}</b>
                                                </li>
                                            </div>
                                            <div class="row">
                                                <li class="col-sm-7">
                                                    Maximum TPS
                                                </li>
                                                <li class="col-sm-5 purpleTextClr">
                                                    <b>{{item.maxTps || "0"}}</b>
                                                </li>
                                            </div>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="filter-bg bg-grey mb-3"
                *ngIf="campaignBoardList.length==0 && commonService.getUserByRole() != 'ROLE_API'">
                <div *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'" class=" d-flex justify-content-center"> No
                    campaign traffic available for department "{{department ? department['department'] : ''}}" and
                    application
                    "{{applicationName}}"
                </div>
                <div *ngIf="commonService.getUserByRole() == 'ROLE_HOD'" class=" d-flex justify-content-center"> No
                    campaign traffic available for application "{{applicationName}}"</div>
                <div *ngIf="commonService.getUserByRole() == 'ROLE_CAMPAIGN' || commonService.getUserByRole() == 'ROLE_API'"
                    class=" d-flex justify-content-center">
                    No campaign traffic available</div>
            </div>
            <!-- API traffic -->
            <div *ngIf="deptApiTrafficList.length>0 && commonService.getUserByRole() != 'ROLE_CAMPAIGN'">
                <div class=" filter-bg bg-grey" *ngFor="let item of deptApiTrafficList">
                    <div class="row no-gutters mb-2">
                        <b> API Traffic for {{item.deptName | titlecase}} department</b>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="filter-bg bg-white ">
                                <h6 class="headingClr">
                                    User Wise SMS Status
                                </h6>
                                <div style="display: block">
                                    <canvas baseChart height="300" [datasets]=item.barChart [labels]=item.users
                                        [options]="userwiseSMSOptions" [legend]="userwiseSMSLegend"
                                        [chartType]="userwiseSMSType" [colors]="userwiseSMSColors">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="filter-bg bg-white">
                                <h6 class="headingClr">
                                    User Wise Hourly TPS
                                </h6>
                                <div style="display: block">
                                    <canvas baseChart height="300" [datasets]=item.lineChart [colors]="lineChartColors"
                                        [labels]=item.hours [options]="lineChartOptions" [legend]="lineChartLegend"
                                        [chartType]="lineChartType"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-bg bg-grey"
                *ngIf="deptApiTrafficList.length==0 && commonService.getUserByRole() != 'ROLE_CAMPAIGN'">
                <div *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'" class=" d-flex justify-content-center"> No
                    API traffic available for department "{{department ? department['department'] : ''}}" and
                    application
                    "{{applicationName}}"
                </div>
                <div *ngIf="commonService.getUserByRole() == 'ROLE_HOD'" class=" d-flex justify-content-center"> No API
                    traffic available for application "{{applicationName}}"</div>
                <div *ngIf="commonService.getUserByRole() == 'ROLE_CAMPAIGN' || commonService.getUserByRole() == 'ROLE_API'"
                    class=" d-flex justify-content-center">
                    No API traffic available</div>
            </div>
        </ng-template>

        <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'">
            <!-- Row 4th -->
            <div class=" filter-bg bg-white mb-3 d-flex justify-content-center" *ngIf="!isGeneralDataAvail">
                <img src="assets/images/159.gif" alt="" />
            </div>

            <div class="mb-3" *ngIf="generalDataList && isGeneralDataAvail">
                <div class="row">
                    <div class="col-md-5 pr-0">
                        <div class="filter-bg bg-white">
                            <div class="row">
                                <div class="col">
                                    <div class="dash-card mb-3 bg-9">
                                        <div class="dr-1 row">
                                            <div class="col-12 dr-left size pl-4">
                                                {{generalDataList.totalDepartment || "0"}} </div>
                                            <div class="col-12 dr-left pl-4">
                                                <span>Total Department</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dash-card mb-3 bg-3">
                                        <div class="dr-1 row">
                                            <div class="col-12 dr-left size pl-4">
                                                {{generalDataList.totalAggregatorRegistred || "0"}}
                                            </div>
                                            <div class="col-12 dr-left pl-4">
                                                <span>Total Aggregators</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="dash-card mb-3 bg-2">
                                        <div class="dr-1 row">
                                            <div class="col-12 dr-left size pl-4">
                                                {{generalDataList.totalApiUsers || "0"}}
                                            </div>
                                            <div class="col-12 dr-left pl-4">
                                                <span>Total API Users</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dash-card mb-3 bg-4">
                                        <div class="dr-1 row">
                                            <div class="col-5 dr-left size pl-4">
                                                {{generalDataList.totalBulkUser || "0"}}
                                            </div>
                                            <div class="col-12 dr-left pl-4">
                                                <span>Total Bulk User</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="filter-bg bg-white deptWiseScroll">
                            <h6>
                                <b> Department Wise Users </b>
                            </h6>
                            <ul class="list-unstyled map-content" *ngIf="generalDataList['departmentWiseUserCount']">
                                <div class="row" *ngFor="let item of generalDataList['departmentWiseUserCount']">
                                    <li class="col-sm-7">
                                        {{item.departmentName | titlecase}}
                                    </li>
                                    <li class="col-sm-5 blueTextClr">
                                        <b>{{item.totalUsers || "0"}}</b>
                                    </li>
                                </div>
                            </ul>
                            <div class=" d-flex justify-content-center"
                                *ngIf="!generalDataList['departmentWiseUserCount']">
                                No Data Found
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter-bg bg-white deptWiseScroll">
                            <h6>
                                <b>Success & Failure Rate</b>
                            </h6>
                            <div style="display: block"
                                *ngIf="generalDataList['campaignSuccessPercent'] != 0.0 || generalDataList['campaignFailurePercent'] != 0.0 ">
                                <canvas *ngIf="pieChartData" baseChart height="204" [data]="pieChartData"
                                    [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                                    [colors]="pieChartColors" [legend]="pieChartLegend">
                                </canvas>
                            </div>
                            <div class="d-flex justify-content-center"
                                *ngIf="generalDataList['campaignSuccessPercent'] == 0.0 && generalDataList['campaignFailurePercent'] == 0.0">
                                No Data Found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="commonService.getUserByRole() == 'ROLE_ADMIN'; else trffic_dtl">
            <div class="filter-bg mb-3 bg-white">
                <h6>
                    <b>Traffic Detail
                        <span style="font-size: 12px">(Userwise)</span>
                    </b>
                </h6>
                <div class=" row ">
                    <div class="col-12 d-flex justify-content-center">
                        <img *ngIf="userWiseTrafficList.length == 0 && !isuserWiseTrafficListNotAvail"
                            src="assets/images/159.gif" alt="" />
                        <div class="table-responsive"
                            *ngIf="userWiseTrafficList.length > 0 && !isuserWiseTrafficListNotAvail">
                            <table class="table table-bordered table-striped table-hover table-sm mb-0">
                                <thead class="thead-sb ">
                                    <tr>
                                        <th class="align-top headcol"> Channel</th>
                                        <th class="align-top"> Dept Name</th>
                                        <th class="align-top"> Dept User Name</th>

                                        <th class="align-top"> Total Count</th>
                                        <th class="align-top"> Submitted</th>
                                        <th class="align-top"> Delivered</th>
                                        <th class="align-top"> Delivery Failed</th>
                                        <th class="align-top"> Submit Failed</th>
                                        <th class="align-top"> Blocked</th>
                                        <th class="align-top"> Count Expired</th>
                                        <th class="align-top"> Total Failed</th>
                                        <th class="align-top"> Count Pending</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of userWiseTrafficList">
                                        <td headcol> {{item.channel}}</td>
                                        <td> {{item.department}}</td>
                                        <td> {{item.userName}}</td>

                                        <td> {{item.totalSms}}</td>
                                        <td> {{item.submittedSms}}</td>
                                        <td> {{item.deliveredSms}}</td>
                                        <td> {{item.deliveryFailedSms}}</td>
                                        <td> {{item.submitFailedSms}}</td>
                                        <td> {{item.blockedSms}}</td>
                                        <td> {{item.expiredSms}}</td>
                                        <td> {{item.totalFailedSms}}</td>
                                        <td> {{item.pendingSms}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isuserWiseTrafficListNotAvail"
                            class="d-flex justify-content-center w-100 filter-bg bg-grey mb-3">
                            No traffic available
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #trffic_dtl>
            <div class=" row ">
                <div class="col-3">
                    <div class="filter-bg bg-white deptWiseScroll">
                        <h6 class="headingClr">
                            Success & Failure Rate
                        </h6>
                        <div *ngIf="generalDataList.length==0"
                            class="filter-bg mb-2 bg-white d-flex justify-content-center">
                            <img src="assets/images/159.gif" alt="" />
                        </div>
                        <div style="display: block"
                            *ngIf="generalDataList['campaignSuccessPercent'] != 0.0 && generalDataList['campaignFailurePercent'] !=0.0 ">
                            <canvas *ngIf="pieChartData" baseChart height="204" [data]="pieChartData"
                                [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                                [colors]="pieChartColors" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                        <div class="d-flex justify-content-center"
                            *ngIf="generalDataList['campaignSuccessPercent'] == 0.0 && generalDataList['campaignFailurePercent'] == 0.0">
                            No Data Found
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="filter-bg bg-white deptWiseScroll">
                        <h6>
                            <b>Traffic Detail
                                <span style="font-size: 12px">(Userwise)</span>
                            </b>
                        </h6>
                        <div *ngIf="userWiseTrafficList.length == 0 && !isuserWiseTrafficListNotAvail"
                            class="d-flex justify-content-center">
                            <img src="assets/images/159.gif" alt="" />
                        </div>
                        <div class="table-responsive" *ngIf="userWiseTrafficList.length>0">
                            <table class="table table-bordered table-striped table-hover table-sm mb-0">
                                <thead class="thead-sb ">
                                    <tr>
                                        <th class="align-top"> Channel</th>
                                        <th class="align-top"> Dept Name</th>
                                        <th class="align-top"> Dept User Name</th>

                                        <th class="align-top"> Total Count</th>
                                        <th class="align-top"> Submitted</th>
                                        <th class="align-top"> Delivered</th>
                                        <th class="align-top"> Delivery Failed</th>
                                        <th class="align-top"> Submit Failed</th>
                                        <th class="align-top"> Blocked</th>
                                        <th class="align-top"> Count Expired</th>
                                        <th class="align-top"> Total Failed</th>
                                        <th class="align-top"> Count Pending</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of userWiseTrafficList">
                                        <td> {{item.channel}}</td>
                                        <td> {{item.department}}</td>
                                        <td> {{item.userName}}</td>

                                        <td> {{item.totalSms}}</td>
                                        <td> {{item.submittedSms}}</td>
                                        <td> {{item.deliveredSms}}</td>
                                        <td> {{item.deliveryFailedSms}}</td>
                                        <td> {{item.submitFailedSms}}</td>
                                        <td> {{item.blockedSms}}</td>
                                        <td> {{item.expiredSms}}</td>
                                        <td> {{item.totalFailedSms}}</td>
                                        <td> {{item.pendingSms}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isuserWiseTrafficListNotAvail" class="d-flex justify-content-center filter-bg mb-3">
                            No traffic available
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>