.dateFilterInline{
  display: flex;
}
.filter-bg{
  min-height: 103px;
  padding: 15px 15px;
 }
 .bg-white{
  background-color: white;
}
.bg-grey{
  background-color:#f7f7f7;;
 }
.dash-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 101px;
  // margin-bottom: 15px;
.dr-1{
  padding-bottom: 10px;
  .dr-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
      font-size: 15px;
    }
  }
  .size{
    font-size: 40px;
  }
.dr-right{
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  // font-size: 80px;
  font-size: 30px;
  }
}
.dr-link{
  padding:5px 10px;
  text-align: center;
  background: rgba( #000, .2 );
  }
}
// $cl-1:#00B0FB;
// $cl-2:#009754;
// $cl-3:#FF9C00;
// $cl-4:#FE6A3C;
$cl-1:#81d4fa;
$cl-2:#66bb6a;
$cl-3:#ffd54f;
$cl-4:#e57373;
$cl-5:#5c6bc0;
$cl-6:#f48fb1;
$cl-7:#ba68c8;
$cl-9:#ffa726;
.bg-1{
  background: $cl-1;
}
.bg-2{
  background: $cl-2;
}
.bg-3{
  background: $cl-3;
}
.bg-4{
  background: $cl-4;
}
.bg-5{
  background: $cl-5;
}
.bg-6{
  background: $cl-6;
}
.bg-7{
  background: $cl-7;
}
.bg-9{
  background: $cl-9;
}

.greenTextClr{
  color: #66bb6a;
}
.redTextClr{
  color: #e57373;
}
.blueTextClr{
  color: #81d4fa
}
.orangeTextClr{
  color: #ffa726
}
.dBlueTextClr{
  color: #5c6bc0;
}
.yellowTextClr{
  color: #ffd54f;
}
.pinkTextClr{
  color: #f48fb1;
}
.purpleTextClr{
  color: #ba68c8;
}
 .table th{
  font-size: 14px;
 }


.map-content{font-size: 15px; line-height: 50px;}
.map-content li{border-bottom: dotted 1px #e2e2e2;}


.col-xs-2{
  background:#00f;
  color:#FFF;
}
.col-half-offset{
  margin-left:4.166666667%
}
.deptWiseScroll{
  min-height: 262px;
  max-height: 262px;
  overflow-y: auto;
}
.headingClr{
  color: #007bff;
}

th, td { min-width: 130px; 
  max-width: 200px;
  overflow-wrap: break-word;
}


.dropWidth{
  width: 150px;

}
.logo-img { position: absolute; left: 50%; top: 50%; margin: -25px 0 0 -70px;}
.campInfo{
  min-height: 262px;
  max-height: 363px;
  overflow-y: auto;
}

.w-100{
  width: 100% !important
}
// #d42c2c red
// #4cbc51 green
// #f7ca3b yellow
// #eb7fa3 pink

tbody {
  display:block;
  max-height:309px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  //width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
.aboveline{
  padding: 10px
}
