table {
    width: 100%;
  }
.search-table-outter { overflow-x: scroll; }
th, td {
    min-width: 155px;
    max-width: 350px;
    word-wrap: break-word;
    border: 1px solid #ddd
 }
 mat-datepicker-toggle { margin-top: -38px !important; float: right;}

.font-15{
    font-size: 15px;
}

.font-bold{
    font-weight: bold;
}

.thead-sb{
   background-color: #00B5EF;
   color: white;
   vertical-align: middle;
   font-family: Arial!important;
    font-style: normal!important;
    font-variant: normal!important;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

.table-shadow1{
    box-shadow: none;
}   
.td-height{
     height:10%;
     line-height: 1;
}   
.text-padding{
   padding: 21px 10px 18px 10px;
}
// td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
//     padding-left: 10px !important;
// }

.overlapmatInputCss{
    display: block !important;
    width: 100%;
    padding: .375rem .75rem !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.radioMrgn{
    margin-left: 15px;
    margin-bottom: 20px;
}
