<div class="content-wrapper">
  <div class="container-fluid form-t1">
      <form [formGroup]="reportingForm" novalidate>
          <div class="row">
              <div class="col-lg-12 mb-2 font-13">
                  <span>
                      <b>NOTE: </b>
                  </span> For complete and entire SMS logs to be given for any Ombudsman or Court or Legal cases, kindly contact
                  <i>
                    <b>bulksms_pe2@sbi.co.in</b>
                </i>
                  <!-- <i>
                      <b>sms.helpdesk@sbi.co.in</b>
                  </i>
                  and
                  <i>
                      <b>sms.infronics@sbi.co.in </b>
                  </i>--> for retrieving the logs from backend.
                  <div>
                    2) Logs are available after one hour of the transaction.
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                      <label>Date</label>
                      <div>
                          <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control overlapmatInputCss" placeholder="" formControlName="date"
                               [max]="maxDate" (keydown)="restrictKeywordUmid($event);">
                          <!-- [max]="maxDate"  -->
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <!-- <small class="upload-caption">*Only one month data can be viewed.
                          </small> -->
                          <div *ngIf="reportingForm.controls.date.errors" class="error-wrappers">
                              <span class="error" *ngIf="reportingForm.controls.date.errors.required">*Field is required
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>UMID</label>
                    <div>
                        <input type="text" class="form-control" placeholder="UMID" maxlength="31" formControlName="umid">
                        <!-- <small class="upload-caption">*UMID.
                        </small> -->
                        <div *ngIf="reportingForm.controls.umid.errors" class="error-wrappers">
                            <span class="error" *ngIf="reportingForm.controls.umid.touched && reportingForm.controls.umid.errors.required">*UMID is required
                            </span>
                            <span class="error" *ngIf="reportingForm.controls.umid.errors.pattern">Only digits are allowed.</span>
                            <span class="error" *ngIf="reportingForm.controls.umid.errors.minlength">Minimum length is 25 digit.</span>
                            <span class="error" *ngIf="reportingForm.controls.umid.errors.maxlength">Maximum length is 30 digit.</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </form> 
      <div class="d-flex justify-content-center mt-38">
        <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitFormUmid('')">View Report</button>
        <button *ngIf = "reportType" class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitFormUmid('download')">Download PDF</button>
      </div>
      <div class="sub-title"></div>
      <div class="col-9 radioMrgn">
        <div class="row">
            <div class="col-md-2 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked id="basicRep" name="reptType" value="B" type="radio" (change)="getType('basic')">Basic Report
                </label>
            </div>
            <div class="col-md-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" id="detRep" name="reptType" value="D" type="radio" (change)="getType('detailed')">Detailed Report
                </label>
            </div>
        </div>
    </div>
    <div class="container-fluid form-t1" *ngIf="showReport">
        <div class="example-container mat-elevation-z8  form-group1 table-shadow1">
      <table class="table table-bordered table-striped table-hover table-sm mat-elevation-z2">
        <tr>
            <th class="font-bold text-padding td-height">Mobile Number</th>
            <td class="font-15 text-padding td-height">{{mobileNumber}}</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">DLT Template ID</th>
            <td class="font-15 text-padding td-height">{{dlt_TEMPLATE_ID}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Channel</th>
            <td class="font-15 text-padding td-height">{{channel}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">aggregator Name</th>
            <td class="font-15 text-padding td-height">{{aggregatorName}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">campaign ID</th>
            <td class="font-15 text-padding td-height">{{campaign_ID}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Campaign Name</th>
            <td class="font-15 text-padding td-height">{{campaign_NAME}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Department Name</th>
            <td class="font-15 text-padding td-height">{{campaign_NAME}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Department User</th>
            <td class="font-15 text-padding td-height">{{department_User}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Operator</th>
            <td class="font-15 text-padding td-height">{{operator}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Telecom Circle</th>
            <td class="font-15 text-padding td-height">{{teleCircle}}</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">Sender ID</th>
            <td class="font-15 text-padding td-height">{{senderCli}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Priority</th>
            <td class="font-15 text-padding td-height">{{category}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">National/International</th>
            <td class="font-15 text-padding td-height">{{in_flag}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Schedule On</th>
            <td *ngIf = "scheduled_DATE" class="font-15 text-padding td-height">{{scheduled_DATE | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
            <td *ngIf = "!scheduled_DATE" class="font-15 text-padding td-height">NA</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">Submitted on</th>
            <td *ngIf="submittedTime" class="font-15 text-padding td-height">{{submittedTime | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
            <td *ngIf="!submittedTime" class="font-15 text-padding td-height">NA</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">Delivered on</th>
            <td *ngIf="delivery_TIME" class="font-15 text-padding td-height">{{delivery_TIME | date:"dd/MM/yyyy &nbsp; HH:mm:ss'"}}</td>
            <td *ngIf="!delivery_TIME" class="font-15 text-padding td-height">NA</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">Delivery Status</th>
            <td class="font-15 text-padding td-height">{{deliveryStatus}}</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">Reason</th>
            <td class="font-15 text-padding td-height">{{reason}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">SMS Type</th>
            <td class="font-15 text-padding td-height">{{sms_type}}</td>
        </tr>
        <tr>
            <th class="font-bold text-padding td-height">SMS Content</th>
            <td class="font-15 text-padding td-height">{{sms_Content}}</td>
        </tr>
        <tr *ngIf="!reportType">
            <th class="font-bold text-padding td-height">Submit ID</th>
            <td class="font-15 text-padding td-height">{{submit_ID}}</td>
        </tr>
        </table>
        </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>