.download-file-text {
    cursor: pointer;
}

.record-card {
    width: 100%;
}

.delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    z-index: 9999;
}
.blueTextClr{
    color: #00b5ef
  }
  .upload-caption span.download-file-text:hover { 
    text-decoration: underline !important;
 }