<div class="container-fluid mb-2 top-bar">
  <div class="row">
      <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
          <div class="page-header">
              <div class="page-title">
                <h1>User Type : <b>{{commonService.getUserRole()}} <span *ngIf="commonService.getUserRole() == 'Campaign User'"> - {{commonService.getCampaignUserType()}}</span></b></h1>
              </div>
          </div>
      </div>

      <div class="col-md-8 order-1 order-md-0 ">
          <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/main/dashboard">Home</a>
            <span class="breadcrumb-item active">Manage Department</span>
          </nav>
      </div>
  </div>
</div>


<section class="right-panel-wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" routerLink="/main/manage-department/view-department" routerLinkActive="active">View Department</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/main/manage-department/add-department" routerLinkActive="active">Add Department</a>
      </li>
  </ul>

  <!-- Tab panes -->

  <router-outlet></router-outlet>

</section>

