<div class="container-fluid mb-2 top-bar">
  <div class="row">
      <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
          <div class="page-header">
              <div class="page-title">
                <h1>User Type : <b>{{commonService.getUserRole()}} <span *ngIf="commonService.getUserRole() == 'Campaign User'"> - {{commonService.getCampaignUserType()}}</span></b></h1>
              </div>
          </div>
      </div>

      <div class="col-md-8 order-1 order-md-0 ">
          <nav class="breadcrumb">
              <a class="breadcrumb-item" routerLink="/main/dashboard">Home</a>
              <span class="breadcrumb-item active">My Profile</span>
          </nav>
      </div>
  </div>
</div>


<section class="right-panel-wrapper">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" routerLink="/main/my-profile/view-profile" routerLinkActive="active">View Profile</a>
      </li>
      <!-- <li class="nav-item" *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN)">
          <a class="nav-link" routerLink="/main/manage-campaign/schedule-campaign" routerLinkActive="active">Schedule Campaign
          </a>
      </li>
      <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.CAMPAIGN_APPROVAL)">
          <a class="nav-link" routerLink="/main/manage-campaign/pending-approval" routerLinkActive="active">Pending For Approval
          </a>
      </li> -->


  </ul>

  <!-- Tab panes -->

  <router-outlet></router-outlet>

</section>