<div class="content-wrapper">
  <div class="container-fluid form-t1">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
    </mat-form-field>

      <div class="example-container mat-elevation-z8  form-group table-shadow1" *ngIf="roleName !='ROLE_ADMIN'">
        <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
          <ng-container matColumnDef="actions"  sticky >
        <div *ngIf="roleName=='ROLE_CAMPAIGN'">
          <th class="thead-sb" mat-header-cell *matHeaderCellDef >Action</th>
          <td class="backColour td-height  text-padding" mat-cell *matCellDef="let element;  let i = index" >
            <div class="btn-group btn-group-sm">
                <i class="fa fa-trash action-item reject-clr " title="Delete" (click)="confirmDeleteRecord(deletePopUp,element)"></i>
                <!--<i class="fa fa-pencil action-item edit-clr" title="Update" (click)="updateRecord(updatemodal,element) ;" *ngIf="roleName=='ROLE_CAMPAIGN' && element.status.status == 'Enabled'"></i>
                <i class="fa fa-pencil edit-clr cursor-disabled"  title="{{element.status.status}}" *ngIf="roleName=='ROLE_CAMPAIGN' && element.status.status != 'Enabled'">
                  <span class="cursor-disabled"  title="{{element.status.status}" *ngIf="roleName=='ROLE_CAMPAIGN' && element.status.status != 'Enabled'"></span></i>-->

            </div>
          </td>
        </div>
        <div *ngIf="roleName=='ROLE_HOD' || roleName=='ROLE_DLT'">
              <th class="thead-sb" mat-header-cell *matHeaderCellDef >Action</th>
              <td class="td-height backColour  text-padding" mat-cell *matCellDef="let element;  let i = index"  >
                <div class="btn-group btn-group-sm">
                    <label class="switch">

                      <input type="checkbox" attr.id = "{{i}}" [checked]="element['status']['id'] == '1'"  [disabled]="element.status.status != 'Enabled' && element.status.status != 'Disabled'" (change)="confirmStatusRecord(element,i)">
                      <span class="slider round" [class.cursor-disabled]="element.status.status != 'Enabled' && element.status.status != 'Disabled'" title="{{element.status.status}}" ></span>

                    </label>
                </div>
                </td>

            </div>
          </ng-container>
          <ng-container matColumnDef="spiceTemplateid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template ID </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element;let i = index">
                {{element.id}}
                </td>
           </ng-container>
          <ng-container matColumnDef="templateIdDlt">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateIdDlt}} </td>
           </ng-container>
          <ng-container matColumnDef="name">
           <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Name </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
           <ng-container matColumnDef="templateType">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateType}} </td>
        </ng-container>

          <ng-container matColumnDef="contentType">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Content Type </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.contentType}} </td>
          </ng-container>
          <ng-container matColumnDef="content">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">  Template Text </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.content}} </td>
          </ng-container>

           <ng-container matColumnDef="username">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Assigned To </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.username}} </td>
           </ng-container>
           <ng-container matColumnDef="creationDate">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Created On </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="approvedBy">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Approved By </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.approvedBy}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th   mat-header-cell *matHeaderCellDef class="thead-sb"> Status </th>
            <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status.status}} </td>
          </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <div *ngIf="templateList.length==0 " class="no-data ">No Records Found!</div>
            <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

          </div>

          <div class="example-container mat-elevation-z8  form-group table-shadow1"   *ngIf="roleName=='ROLE_ADMIN'">
            <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
              <ng-container matColumnDef="templateIdDlt">
                <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> DLT Template ID </th>
                 <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateIdDlt}} </td>
               </ng-container>
          <ng-container matColumnDef="name">
            <th  style="padding-left: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Name </th>
             <td  style="padding-left: 10px;"  class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.name}} </td>
           </ng-container>
           <ng-container matColumnDef="templateType">
            <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Template Type </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.templateType}} </td>
        </ng-container>

           <ng-container matColumnDef="contentType">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Content Type </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.contentType}} </td>
           </ng-container>
           <ng-container matColumnDef="content">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">  Template Text </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.content}} </td>
           </ng-container>

            <ng-container matColumnDef="username">
              <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb">Assigned To </th>
              <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="creationDate">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Created On </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MM-yyyy'}} </td>
           </ng-container>
           <ng-container matColumnDef="approvedBy">
             <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Approved By </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.approvedBy}} </td>
           </ng-container>
           <ng-container matColumnDef="status">
             <th   mat-header-cell *matHeaderCellDef  class="thead-sb"> Status </th>
             <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status.status}} </td>
           </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1 ; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>

                <div *ngIf="templateList.length==0 " class="no-data ">No Records Found!</div>
                <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

                </div>




        <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
        </div>
        </div>






<ng-template #updatemodal let-modal>
<div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">
        <span style="font-weight: 600;">Update Template</span>
    </h4>
    <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <!-- btn-link -->
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form class="form-t1" [formGroup]='smsTemplateForm' novalidate>
        <div class="container-fluid">

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                    <label>SMS Content Type</label>
                    <div>
                        <select class="form-control" formControlName="contentType"  (change)="isDoubleByte();" (focusout)="dynamicMaxlength();">
                          <option value="" disabled selected hidden>Select</option>
                          <option value=1>Text</option>
                          <option value=2 *ngIf="this.unicodeFlag">Unicode</option>

                      </select>
                        <div *ngIf="smsTemplateForm.controls['contentType'].errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="smsTemplateForm.controls['contentType'].errors.required">Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                  <label>Template Name</label>
                  <div>
                      <input type="text" [readonly] = "true" class="form-control" placeholder="Template Name" formControlName="name" minlength="1" maxlength="30">
                      <div *ngIf="smsTemplateForm.controls['name'].errors && formSubmitted" class="error-wrappers">
                          <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.required">Field is required</span>
                          <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.pattern">Only Alphanumeric allowed with '-','_','#','@' special characters.</span>
                          <span class="error" *ngIf="smsTemplateForm.controls['name'].errors.minlength">Template name must not be empty</span>

                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <label>Template Type</label>
                <select class="form-control" formControlName="temlateCategory">
                    <option value="" disabled selected hidden>Select</option>
                    <option value="{{item.id}}" *ngFor="let item of categoryList">{{item.category}}</option>
                </select>
                <div *ngIf="smsTemplateForm.controls['temlateCategory'].errors && formSubmitted" class="error-wrappers">
                    <span class="error" *ngIf="smsTemplateForm.controls['temlateCategory'].errors.required">Field is required</span>
                </div>
            </div>
          </div>

      <div class="col-lg-12 col-md-12 ">
          <div class="form-group template-content">
              <label>Template Content</label>
              <div>
                  <textarea type="text" class="form-control" placeholder="Enter sms content." formControlName="content"   (ngModelChange)="isDoubleByte(); checkSpamKeyword();"  minlength="10" maxlength="{{maxlen}}" #contentText></textarea>
                  <div  class="row">
                    <div class="col-lg-4 col-md-4">
                    <span class="template-content-labels">Entered SMS Length <span>{{contentText.value.length}}</span></span>
                    </div>
                    <div class="col-lg-4 col-md-4">

                    <span class="template-content-labels">Single SMS Length <span>{{maxLengthSMS}}</span></span>
                    </div>
                    <div class="col-lg-4 col-md-4">

                    <span class="template-content-labels">Number of SMS per receipt <span>{{math.ceil(contentText.value.length/maxLengthSMS)}}</span></span>
                  </div>
                  </div>
                  <div *ngIf="smsTemplateForm.controls['content'].errors && formSubmitted" class="error-wrappers">
                    <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.required">Field is required</span>
                    <span class="error" *ngIf="smsTemplateForm.controls['content'].errors.minlength">Minimum 10 characters required</span>

                  </div>
                            <span class="error" *ngIf="this.UnicodeError && this.smsTemplateForm.controls['content'].value">{{errorMsgType}}</span>
                            <span class="error" *ngIf="this.spamError && this.smsTemplateForm.controls['content'].value">{{errorMsgSpam}}</span>
                            <span class="error" *ngIf="this.errorZero && this.smsTemplateForm.controls['content'].value">{{errZeroMsg}}</span>

                  </div>
              </div>
          </div>
      </div>
            </div>

    </form>
</div>
<div class="modal-footer ">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-success mr-3" (click)="confirmUpdateRecoed()" >Update</button>

</div>
</ng-template>



<ng-template #deletePopUp let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <span><b>Template Delete</b></span>
      </h4>
      <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
              <div class="remarks-align">
                  <p>Are you sure you want to permanently delete this  {{recordName}}  template?

                  </p>
              </div>
              <div class="col-md-12" >
                  <form [formGroup]="statusForm" novalidate>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">Remarks
                                  </label>
                                  <div>
                                      <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':statusForm.controls.remarks.errors && formSubmitted}" placeholder="Enter Remarks" minlength="5" maxlength="200"></textarea>
                                  </div>
                                  <div *ngIf="statusForm.controls['remarks'].errors && formSubmitted" class="error-wrappers">
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.required">Field is required
                                      </span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.minlength">Minimum 5 characters required</span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.maxlength">Maximum 200 characters are allowed</span>
                                      <span class="error" *ngIf="statusForm.controls['remarks'].errors.pattern">Only Alphanumeric allowed
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button  type="button" class="btn btn-success ng-star-inserted" (click)="deleteRecord()">Delete     </button>
      <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
      </button>
  </div>
</ng-template>


<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
