
.template-content-labels {
padding: 0 5% 0 0;
color: green;
font-style: italic;
font-weight: 500;
font-size: 13px;
margin-top: 8px;
display: inline-block;
}

.template-content {
  margin-left: -15px;
  }

.remarks-align{
  margin-left: 17px;

}

.template-content-labels span {
color: green;
}



.slider:before {
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.per-page-record-label {
  margin-left: 5px;
}


.margin-contentType{
  margin-left: -17px;
}


.table-striped{
background-color:white;
}
.backColour{
background:white;
}


.cursor-disabled {
    cursor: not-allowed;
 }

.action-item {
  padding: 0px 5px;
  cursor: pointer;
}
.search-table-outter { overflow-x: scroll; }
th, td {
  min-width: 150px;
  max-width: 350px;
  word-wrap: break-word;
}

.place-holder-button {
margin-top: 7%;
}

.white-space{
white-space: pre-wrap;
}


.switch {
width: 40px;
height: 20px;
}

.form-group{
font-weight: normal;
font-family: Arial;
}
.alignment{
text-align: center;
}

.thead-sb{
background-color: #00B5EF;
color: white;
vertical-align: middle;
font-family: Arial!important;
font-style: normal!important;
font-variant: normal!important;
font-size: 15px;
padding: 10px 10px 10px 10px;
}

.example-container {
  overflow: auto;
  max-width: 100%;
  max-height: 500px;
}


.table-shadow1{
  box-shadow: none;
}

.modal-width{
  min-width: 400px !important;
}
.td-height{
  height:10%;
  line-height: 1;
}

.text-padding{
  padding: 10px 10px 10px 10px;
}





