<div class="content-wrapper">
  <div class="container-fluid form-t1">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
</mat-form-field>
<div class="example-container mat-elevation-z8  form-group table-shadow1">
<table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
  <ng-container matColumnDef="Actions" sticky >
    <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
    <td class="text-padding td-height backColour" mat-cell *matCellDef="let element;  let i = index">
      <div class="btn-group btn-group-sm">
        <i class="fa fa-trash action-item reject-clr" title="Delete "(click)="confirmDeleteRecord(deletePopUp,element)" ></i>
        <i class="fa fa-pencil action-item edit-clr" title="Update" (click)="updateRecord(updatemodal,element) ;" *ngIf="commonService.hasWriteAccess(MODULES.MO_ROUTE)"></i>
        <label class="switch">
          <input type="checkbox" attr.id = "{{i}}" [checked]="element['status']=='Enabled'"  (click)="changeStatusConfirmation(element,i)" >
          <span class="slider round"></span>
      </label>

    </div>
   </td>
  </ng-container>
  <ng-container matColumnDef="name">
   <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> MO Route Name </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="topicId">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Topic </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.topicId.topic}} </td>
  </ng-container>
  <ng-container matColumnDef="protocol">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Protocol </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.protocol}} </td>
  </ng-container>
  <ng-container matColumnDef="host">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Host </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.host}} </td>
  </ng-container>


  <ng-container matColumnDef="port">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Port No </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.port}} </td>
  </ng-container>

  <ng-container matColumnDef="uri">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> URI </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.uri}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Status </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="moRouteList.length==0 " class="no-data ">No Records Found!</div>
    <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

    </div>
  <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
</div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>







<ng-template #updatemodal let-modal >
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">Update MO Route</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <form class="form-t1" [formGroup]='updateMoRoute' novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>MO Route Name</label>
                            <div>
                                <input type="text" class="form-control" placeholder="MO Route Name" formControlName="routeName" minlength="3" maxlength="25" disabled="true" [ngClass]="{'error-border': updateMoRoute.controls['routeName'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="updateMoRoute.controls['routeName'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="updateMoRoute.controls.routeName.errors.required">Field is required</span>
                                <span class="error" *ngIf="updateMoRoute.controls.routeName.errors.pattern">Only alphanumeric allowed. </span>
                                <span class="error" *ngIf="updateMoRoute.controls.routeName.errors.minlength">Minimum 3 characters required </span>
                           </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>Protocol</label>
                            <div>
                                <select class="form-control" formControlName="protocol" [ngClass]="{'error-border': updateMoRoute.controls['protocol'].errors && formSubmitted}">
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="http" >HTTP</option>
                                    <option value="https" >HTTPS</option>
                                </select>
                                <div *ngIf="updateMoRoute.controls.protocol.errors && formSubmitted" class="error-wrappers">
                                    <span class="error" *ngIf="updateMoRoute.controls.protocol.errors.required">Field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>Host <small class="grayOpt">[Optional]</small></label>
                            <div>
                                <input type="text" class="form-control" placeholder="Host" formControlName="host" maxlength="100" minlength="5" (focusout)="dynamicValidation();" [ngClass]="{'error-border': updateMoRoute.controls['host'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="updateMoRoute.controls.host.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="updateMoRoute.controls.host.errors.pattern">Enter Valid IP Address or Domain Name</span>
                                <span class="error" *ngIf="updateMoRoute.controls.host.errors.minlength">Minimum 5 characters required</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>Port</label>
                            <div>
                                <input type="text" class="form-control" placeholder="Port" formControlName="port" minlength="4" maxlength="5" (keypress)="commonService.isNumber($event)" [ngClass]="{'error-border': updateMoRoute.controls['port'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="updateMoRoute.controls.port.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="updateMoRoute.controls.port.errors.required">Field is required</span>
                                <span class="error" *ngIf="updateMoRoute.controls.port.errors.max || updateMoRoute.controls.port.errors.min">Range allowed between 1023-65536</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>URI</label>
                            <div>
                                <input type="text" class="form-control" placeholder="URI" formControlName="uri" minlength="5" maxlength="100"
                                [ngClass]="{'error-border': updateMoRoute.controls['uri'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="updateMoRoute.controls.uri.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="updateMoRoute.controls.uri.errors.required">Field is required</span>
                                  <span class="error" *ngIf="updateMoRoute.controls['uri'].errors.pattern">Only alphanumeric with '-', '_', '=', '?', '#', '/', '.', ':' these special characters are allowed.</span>
                                <span class="error" *ngIf="updateMoRoute.controls['uri'].errors.minlength">Minimum 5 characters required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-success mr-3" (click)="confirmUpdateRecoed()">Submit</button>

    </div>
</ng-template>



<ng-template #deletePopUp let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <span><b>MO Route Delete</b></span>
      </h4>
      <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
              <div class="remarks-align">
                  <p>Are you sure you want to permanently delete this {{this.deleteReq['recordName']}} MO Route?
                  </p>
              </div>
              <div class="col-md-12" >
                  <form [formGroup]="statusForm" novalidate>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label class="heading">Remarks
                                  </label>
                                  <div>
                                      <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':statusForm.controls.remarks.errors && formSubmitted}" placeholder="Enter Remarks"  minlength="5" maxlength="200"></textarea>
                                  </div>
                                  <div *ngIf="statusForm.controls.remarks.errors && formSubmitted" class="error-wrappers">
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.required">Field is required
                                      </span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.minlength">Minimum 5 characters required</span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                      <span class="error" *ngIf="statusForm.controls.remarks.errors.pattern">Only Alphanumeric allowed
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
      <button  type="button" class="btn btn-success ng-star-inserted" (click)="deleteRecord()">Delete     </button>
      <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
      </button>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3) " size="medium " color="#fff " type="ball-scale-multiple ">
</ngx-spinner>
