.stepper-head {
    margin-left: auto;
    margin-right: auto;
}

.predefined-template-name {
    font-weight: bold;
}
.wrap{
    word-wrap: break-word;
}
.download-file-text {
    cursor: pointer;
}
.blueTextClr{
    color: #00b5ef
}
.upload-caption span.download-file-text:hover { 
   text-decoration: underline !important;
}
.scrol-v{
    overflow-y: scroll;
    max-height: 400px;
}
.max-width{
    max-width: 400px;
    overflow-wrap: break-word;
}
mat-datepicker-toggle { margin-top: -38px !important; float: right;}
.overlapmatInputCss{
    display: block !important;
    width: 100%;
    padding: .375rem .75rem !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}