<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <div *ngIf="currentStep ==1">
                    <form [formGroup]="mainForm" novalidate>
                        <div id="test-l-1" formGroupName="campaignInfo">
                            <div class="row">
                                <div class="mt-3 col-md-8">
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Campaign Name
                                                </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="campaignName" placeholder="Enter Campaign Name" maxlength="30" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.campaignName.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.required">Required field
                                                        </span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.minlength">Minimum length is 3 characters.</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.maxlength">Maximum length is 30 characters.</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.pattern">Alphanumeric and special characters(- @ _) are allowed with space.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Campaign Category
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="compaignCategory" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.compaignCategory.errors}" (change)="getTemplateIdList()">
                                                        <option value="" disabled selected hidden>Select</option>
                                                        <option [value]="item.id" *ngFor="let item of filteredListOfCategory">{{item.category}}</option>
                                                    </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.compaignCategory.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.compaignCategory.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                    <div class="error-wrappers error" *ngIf="isRouteNotConfigured">
                                                        Routes are not configured.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                       <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Template Type
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="templateType" (change)="toClearContent($event)" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.templateType.errors}">
                                                        <option value="" disabled selected hidden>Select
                                                        </option>
                                                        <option value=1>Manually</option>
                                                        <option value=3>Pre-Defined</option>
                                                        <option value=2>User Defined</option>
                                                    </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.templateType.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateType.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Template Content Type
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="smsContentType" (change)="getContentType($event.target.value)" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.smsContentType.errors}">
                                                        <option value="" disabled selected hidden>Select
                                                        </option>
                                                        <option value=1>Text</option>
                                                        <!-- <option *ngIf="commonService.getUnicodeSupport() =='Y' && (campaignInfoForm.templateType.value == 1 || (selectedPredefinedTemlate && selectedPredefinedTemlate.contentType == 2))"
                                                            value=2>Unicode</option> -->
                                                            <option *ngIf="commonService.getUnicodeSupport() =='Y'"
                                                            value=2>Unicode</option>
                                                    </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.smsContentType.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.smsContentType.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Sender CLI
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="senderCli" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.senderCli.errors}">
                                                        <option value="" disabled selected hidden>Select</option>
                                                        <option [value]="item.id" *ngFor="let item of senderIdList">{{item.senderid}}</option>
                                                    </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.senderCli.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.senderCli.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="fcmValue=='Y'">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Schedule Type</label>
                                                    <select class="form-control" formControlName="scheduleType" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.scheduleType.errors}">
                                                        <option value="" disabled selected hidden>Select
                                                        </option>
                                                        <option value='S'>SMS Notification</option>
                                                        <option value='F'>App Notification</option>
                                                        <option value='B'>Both</option>
                                                    </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.scheduleType.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.scheduleType.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>National/International </label>
                                                <select class="form-control" formControlName="iNFlag" (change)="NationalInternationalFlagChanged()" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.scheduleType.errors}">
                                                    <option *ngIf="commonService.getInternationalFlag() !='Y'" value='D'>National</option>
                                                    <option *ngIf="commonService.getInternationalFlag() =='Y'" value='I'>International</option>
                                                </select>
                                                <div *ngIf="stepOne.formSubmitted && campaignInfoForm.iNFlag.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.iNFlag.errors.required">Required field.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Template ID
                                                </label>
                                                <div>
                                                    <ng-multiselect-dropdown formControlName="dltTemplateId" [placeholder]="'Select'" [data]="templateIDList" [settings]="selectTemplateSetting" [(ngModel)]="selectedTemplate" (onSelect)="getTemplatedetail(selectedTemplate)" (onDeSelect)="unselectTemplate()">
                                                    </ng-multiselect-dropdown>
                                                   <!-- <select class="form-control" formControlName="dltTemplateId" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.dltTemplateId.errors}">
                                                        <option value="" disabled selected hidden>Select</option>
                                                        <option [value]="item.id" *ngFor="let item of filteredListOfCategory">{{item.category}}</option>
                                                    </select>-->
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.dltTemplateId.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.dltTemplateId.errors.required">Required field.
                                                        </span>
                                                    </div>
                                                    <div class="error-wrappers error" *ngIf="isRouteNotConfigured">
                                                        Routes are not configured.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2 form-group">
                                                    <label>Send Via :</label>
                                                </div>
                                                <div class="col-md-2 form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="camp3" name="sendVia" value="3" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">File Upload
                                                    </label>
                                                </div>
                                                <!--<ng-container *ngIf="campaignInfoForm.templateType.value == 1 || (selectedPredefinedTemlate && selectedPredefinedTemlate.type == 1)">
                                                    <div class="col-md-2 form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="camp4" name="sendVia" value="1" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">One-to-One
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3 form-check" *ngIf="campaignInfoForm.iNFlag.value != 'I'">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="camp5" name="sendVia" value="2" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">Address Book
                                                        </label>
                                                    </div>
                                                </ng-container>-->
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-1" *ngIf="campaignInfoForm.sendVia.value == 3 ">
                                            <input style="font-size: 15px;" #fileInput type="file" id="fileInput" class="form-control-file" [ngClass]="{'error-border': !containsAllElements || (stepOne.formSubmitted && campaignInfoForm.file.errors)}"
                                                (change)="onFileSelect($event.target.files)" accept=".xlsx,.xls,.csv">
                                            <div *ngIf="stepOne.formSubmitted && campaignInfoForm.file.errors" class="error-wrappers">
                                                <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.file.errors.required">Required field.
                                                </span>
                                            </div>
                                            <div *ngIf="!containsAllElements" class="error-wrappers">
                                                <span class="error">Invalid File
                                                </span>
                                            </div>
                                            <div *ngIf="!isValidFile" class="error-wrappers">
                                                <span class="error">Invalid File
                                                </span>
                                            </div>
                                            <div class="error-wrappers mb-4 mt-1">
                                                <span class="upload-caption">*Download sample file (.csv/.xlsx/.xls/.txt)
                                                    <!-- <span class="download-file-text" (click)="sampleFileDownload('txt')">Text</span> -->
                                                    <span class="download-file-text blueTextClr" (click)="downloadSample(download,'excel')"> Excel</span>
                                                    <span class="download-file-text blueTextClr" (click)="downloadSample(download,'csv')"> CSV</span>
                                                    <span class="download-file-text blueTextClr" (click)="downloadSample(download,'txt')"> Txt</span>

                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-6  mt-2 mb-2" *ngIf="isbtnNeed && campaignInfoForm.sendVia.value == 3  && campaignInfoForm.templateType.value == 2">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" [disabled]="!isAddPlaceholderBtn" (click)="addPlaceholder()">Add Placeholder</button>
                                        </div>
                                        <div class="col-md-6  mt-2 mb-2" *ngIf="campaignInfoForm.templateType.value == 3">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" (click)="showPredefinedTemplates(updatemodal)">Pre-Defined Templates</button>
                                        </div>
                                        <div class=" col-md-6" *ngIf="dynamicHeader.length > 0 && campaignInfoForm['sendVia'].value == 3 && isPlaceholder   && campaignInfoForm.templateType.value == 2">
                                            <div class="form-group">
                                                <label>
                                                    Dynamic variables to replace content
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="dynamicOption" (change)="valueOfHeader($event.target.value)">
                                                        <option value="" disabled selected hidden>Select</option>
                                                        <option *ngFor="let item of dynamicHeader" [value]="item">{{item}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mt-4" *ngIf="campaignInfoForm.sendVia.value == 3 && isPlaceholder   && campaignInfoForm.templateType.value == 2">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" (click)="appendPlaceholder()">Add</button>
                                            <!-- [disabled]="!isAddEnable" -->
                                        </div>
                                        <div class="col-md-6" *ngIf="campaignInfoForm.sendVia.value == 1 ">
                                            <div class="form-group">
                                                <label>
                                                    Mobile Number
                                                </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="phone" placeholder="Phone number" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.phone.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.required">Required field
                                                        </span>
                                                        <!-- <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.pattern">Maximum 10, 10 digits mobile numbers allowed</span> -->
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.pattern">Invalid mobile number(s).</span>
                                                    </div>
                                                    <!-- Enter valid upto 10 mobile numbers by comma(,) separated only. -->
                                                    <div class="error-wrappers mb-3">
                                                        <small class="upload-caption" *ngIf="campaignInfoForm.iNFlag.value == 'D'">Enter a maximum of 10 digits 10 mobile numbers separated by comma(,)
                                                            only.
                                                        </small>
                                                        <small class="upload-caption" *ngIf="campaignInfoForm.iNFlag.value == 'I'">Enter a minimum of 5 digits and maximum of 16 digits 10 mobile numbers
                                                            separated by comma(,) only.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="campaignInfoForm.sendVia.value == 2 ">
                                            <div class="form-group">
                                                <label>
                                                    Address Book
                                                </label>
                                                <div>
                                                    <select class="form-control" formControlName="addressBook" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.addressBook.errors}">
                                                        <option value="" disabled selected hidden>Select</option>
                                                        <option [value]="item.id" *ngFor="let item of addressBookList">{{item.name}}</option>
                                                    </select>
                                                    <!-- <input type="text" class="form-control" formControlName="phone" placeholder="Phone number" maxlength="10" (keypress)="commonService.checkNumber($event)"
                                                                [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.phone.errors}"> -->
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.addressBook.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.addressBook.errors.required">Required field
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="selectedTemplate">
                                            <div class="form-group">
                                                <label>
                                                    Template Content
                                                </label>
                                                <div>
                                                    <!-- (ngModelChange)="isDoubleByte($event)" replaced by (input)  
                                                    campaignInfoForm.templateType.value == 3 && !isEditable read only Condition-->
                                                    <textarea [readonly]="true" name="" id="" rows="2" class="form-control"
                                                        formControlName="content" (input)="isDoubleByte($event.target.value)"
                                                        #contentText (change)="trim($event.target.value)" [ngClass]="{'error-border': (stepOne.formSubmitted && campaignInfoForm.content.errors) || partZero || isUniCodeNotSupported}"
                                                        [maxLength]="maxLenContent"></textarea>
                                                    <small>* Maximum size of SMS is {{maxLenContent}}</small>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.content.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.content.errors.required">Required field
                                                        </span>
                                                    </div>
                                                    <div *ngIf="isWrongChar" class="error-wrappers">
                                                        <span class="error">Alert! SMS content contain Unicode characters "{{arrayofUn}}", proceeding
                                                            with this message will change content type as Unicode.</span>
                                                    </div>
                                                    <div *ngIf="partZero" class="error-wrappers">
                                                        <span class="error">Message part length is not configured. Please contact your administrator.
                                                        </span>
                                                    </div>
                                                    <div *ngIf="isUniCodeNotSupported" class="error-wrappers">
                                                        <span class="error">'Unicode' content is not supported for this user.
                                                            <!-- Enter Text as content type is text. -->
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between mt-4">
                                                    <div class="sms-info">
                                                        <span>Entered SMS length</span> {{contentText.value.length}}
                                                    </div>
                                                    <ng-container>
                                                        <div class="sms-info">
                                                            <span>Single SMS length</span>{{singleSMSL}}
                                                        </div>
                                                        <div class="sms-info">
                                                            <span>Number of SMS per recipient </span> {{math.ceil(contentText.value.length/singleSMSL)}}
                                                        </div>
                                                    </ng-container>
                                                    <!-- <ng-container *ngIf="isUnicode">
                                                        <div class="sms-info">
                                                            <span>Single SMS length</span>{{singleSMSL}}
                                                        </div>
                                                        <div class="sms-info">
                                                            <span>Number of SMS per recipient </span> {{math.ceil(contentText.value.length/singleSMSL)}}
                                                        </div>
                                                    </ng-container> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1" *ngIf="campaignInfoForm.sendVia.value == 3 ">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label>Duplicate Check :</label>
                                                </div>
                                                <div class="col-md-3 form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="camp3" name="duplicateCheck" value="Y" type="radio" formControlName="duplicateCheck">Yes
                                                    </label>
                                                </div>
                                                <div class="col-md-3 form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="camp4" name="duplicateCheck" value="N" type="radio" formControlName="duplicateCheck">No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 " *ngIf="campaignInfoForm.templateType.value == 1">
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" formControlName="saveFlag" type="checkbox" value="" id="defaultCheck1" (click)="saveFlagChanged($event.target.checked)">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Save this sms content as a template
                                                </label>
                                            </div>
                                            <div class="form-group" *ngIf="campaignInfoForm.saveFlag.value">
                                                <label>
                                                    Template Name
                                                </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="templateName" placeholder="Template Name" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.templateName.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors.required">Required field.</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors.minlength">Minimum length is 3 characters.</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors.maxlength">Maximum length is 30 characters.</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors.pattern">Alphanumeric and special characters(- @ # _) are allowed with space.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex mt-4">
                        <button (click)="next()" class="btn btn-blue-light bt-fix mb-2" [disabled]="partZero || isUniCodeNotSupported">Next</button>
                    </div>
                </div>
                <!-- Second Page -->
                <div *ngIf="currentStep == 2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Campaign Summary</div>
                                </div>
                                <div class="col-6" *ngIf="createdData">
                                    <div class="table-responsive">
                                        <table class="table  table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Campaign Name</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['name'] || ''}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Message Count Per User</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['smsCountPerUser'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Total Message Count</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['totalSmsCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Sender CLI</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['senderId'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Template Content</b>
                                                    </td>
                                                    <td class="text-right max-width">{{createdData['smsText'] || 0}}</td>
                                                    <!-- <td *ngIf="createdData.contentType==2" class="text-right"> {{commonService.unicodeToText(createdData['smsText']) || 0}}</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-6" *ngIf="createdData">
                                    <div class="table-responsive">
                                        <table class="table  table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Total Number(s)</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['totalCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Valid Number(s)</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['successCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Invalid Number(s)</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['inavlidCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Duplicate Number(s)</b>
                                                    </td>
                                                    <td class="text-right">{{createdData['duplicateCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Template ID</b>
                                                    </td>
                                                    <td class="text-right">{{selectedTemplate[0].id}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>DLT Template ID</b>
                                                    </td>
                                                    <td class="text-right">{{dltTemplateId || 0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <form [formGroup]="mainForm" novalidate>
                                <div id="test-l-1" formGroupName="scheduleInfo">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="sub-title">Schedule Info</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" formControlName="sendNow" type="checkbox" value="" id="defaultCheck1" (click)="sendNowChanged($event.target.checked)">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Send Now
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="!scheduleInfoForm.sendNow.value">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Schedule Date</label>
                                                    <div>
                                                        <!-- placeholder="Select Date" onfocus="(this.type='date')"  -->
                                                        <!--    -->
                                                        <input matInput [matDatepicker]="picker" (click)="picker.open()" (dateChange)="getHours($event.target.value)" class="form-control overlapmatInputCss"
                                                            placeholder="DD/MM/YYYY" formControlName="date" [min]="minDate" [max]="maxDate"
                                                            (keydown)="restrictKeyword($event);">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                        <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.date.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.date.errors.required">Required field.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="sch-hr">Schedule Time</label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <select class="form-control" (change)="getMinutes($event.target.value)" placeholder="Select Hour" formControlName="time"
                                                                required>
                                                                <!--  -->
                                                                <option value="" disabled selected hidden>Select Hour
                                                                </option>
                                                                <!-- <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option> -->
                                                                <option *ngFor="let hours of hoursArray" [value]="hours">{{hours}}</option>
                                                            </select>
                                                            <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors" class="error-wrappers">
                                                                <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors.required">Required field.
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control" placeholder="Select Minute" formControlName="min" required>
                                                                <option value="" disabled selected hidden>Select Minute
                                                                </option>
                                                                <!-- <option value="10">10</option>
                                                                <option value="20">20</option>
                                                                <option value="30">30</option>
                                                                <option value="40">40</option>
                                                                <option value="50">50</option> -->
                                                                <option *ngFor="let min of newMinArr" [value]="min">{{min}}</option>
                                                            </select>
                                                            <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.min.errors" class="error-wrappers">
                                                                <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.min.errors.required">Required field.
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                                    <label>Time</label>
                                                    <div>
                                                        <input type="time" class="form-control" placeholder="enter date" formControlName="time">
                                                        <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors.required">Required field
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div> -->
                                    </ng-container>
                                    <div class="col-6 d-flex mt-2 p-0">
                                        <button class="btn btn-blue-light bt-fix mb-2" (click)="next()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Pre-Defined Templates</b>
            </span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scrol-v">
        <div *ngFor="let template of predefinedTemplats">
            <label class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <input name="template" type="radio" [value]="template" [(ngModel)]="selectedPredefinedTemlate">
                    </div>
                    <div class="col-md-11 wrap">
                        <!-- <ng-container *ngIf="template.contentType==1"> -->
                        <span class="predefined-template-name">{{template.name}} : </span>{{template.content}}
                        <!-- </ng-container>
                        <ng-container *ngIf="template.contentType==2">
                            <span class="predefined-template-name">{{template.name}} : </span>{{commonService.unicodeToText(template.content)}}
                        </ng-container> -->
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-success mr-3" (click)="getSelectedTemplate()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<ng-template #download let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Download Sample</b>
            </span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span>Please update downloaded sample file as per the dynamic content in the selected template.First column should be Mobile Number.</span>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-success mr-3" (click)="sampleFileDownload(filename)">OK</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>