/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #333333;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

body,
html {
    font-family: 'Arial' !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    margin: 0px;
    padding: 0px;
    background: url("assets/images/bg.png");
    font-size: 16px;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

footer.ftr {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    background: #0C376A;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.top-bar {
    font-size: 12px;
    background: #dedede;
}

.nav-right {
    float: right;
}

.nav-right li {
    float: left;
    line-height: 4.4;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}


/* Main Styles */


/* Right panel */

.right-panel {
    //display: table-cell;
    //padding-left: 0 !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.right-panel-wrapper {
    padding: 10px 15px;
}

.breadcrumb {
    //justify-content: flex-end;
    //align-content: flex-end;
    background: transparent;
    margin: 0px;
    font-size: 14px;
    padding: .5rem 0rem;
    .breadcrumb-item {
        color: #333333;
    }
    .breadcrumb-item.active {
        color: #0C376A;
    }
}

.right-panel .page-header {
    padding: .5rem 0rem;
    color: #0C376A;
}

.right-panel .page-header h1 {
    font-size: 14px;
    margin: 0px;
    line-height: 20px;
}

.collapse-wrap .navbar-nav li {
    min-width: 50px !important;
}

.collapse-wrap.show .navbar-nav li {
    min-width: 230px;
}

@media screen and (max-width: 767px) {
    .breadcrumb {
        place-content: flex-start;
    }
}

.content {
    float: left;
    padding: 0 15px;
    width: 100%;
}

.sub-title {
    font-size: 14px;
    color: #777777;
    padding: 5px 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cecece;
    font-weight: bolder;
}

.nav-tabs {
    a.nav-link {
        color: #495057;
        font-size: 14px;
    }
    a.nav-link.active {
        color: #153E70;
        font-weight: bolder;
    }
}

.btn-container {
    padding-top: 28px;
}

@media screen and (max-width: 767px) {
    .btn-container {
        padding-top: 10px;
    }
    .sub-title {
        width: 100%;
        padding: 10px;
    }
}

.help-block {
    display: none;
}

.content-wrapper {
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
}

.form-t1 .form-group label {
    font-weight: 600;
    // font-size: 12px;
}

.form-t1 .form-group input,
.form-t1 .form-group select {
    font-size: 14px;
}

.bt-radius {
    border-radius: 4px !important;
}

.error-wrappers {
    width: 100%;
}

.error {
    width: 100%;
    font-size: 11px;
    color: #e80d0d;
    display: block;
    margin-top: 5px;
}

header {
    text-align: center;
    font-size: 20px;
}

header a {
    font-size: 14px;
    color: #0c376a;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: #074E8C;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}
.form-control{
  height: auto !important;

}

/*
    *  STYLE 4
    */

.chk-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-wrapper {
    height: calc(2.25rem + 2px);
    padding-top: 1.2rem;
}

.priority-radio.custom-control {
    padding-left: .5rem;
    padding-right: 1rem;
}

.priority-radio .custom-control-label {
    user-select: none;
    cursor: pointer;
}

.priority-radio .custom-control-label::before {
    top: -1rem;
    left: -0.2rem;
}

.priority-radio .custom-control-label::after {
    top: -1rem;
    left: -0.2rem;
}

.modal-footer-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        min-width: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


/*ng-pick-datetime style*/

// .cdk-overlay-container {
//     position: fixed;
//     pointer-events: none;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     display: flex;
//     position: absolute;
//     z-index: 9999999 !important;
// }
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

.card-hd {
    padding: 15px;
    background: #efefef;
    width: 100%;
    .sub-title {
        font-size: 16px;
        font-weight: 600;
        color: #8c8c8c;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }
}

.btn {
    box-shadow: none !important;
}

.btn-blue-light {
    background: #00B5EF;
    color: #ffffff !important;
    &:hover {
        background: #0C376A;
    }
}

.btn-red-light {
    background: #C64E52;
    color: #ffffff !important;
    &:hover {
        background: darken(#C64E52, 10%);
    }
}


/*
stepper css
*/

.bs-stepper .bs-stepper-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.bt-fix {
    min-width: 120px;
}

//toggle css
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
    margin-bottom: 0px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

//input:focus + .slider {
//  box-shadow: 0 0 1px #2196F3;
//}
.switch input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.switch-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 2px;
    margin-top: 5px;
    padding: 0px 10px;
    height: 38px;
    background: #f7f7f7;
    .sw-label {
        font-size: 14px;
        //font-weight: 600;
    }
}

//table css
.table {
    .thead-sb {
        background: #00B5EF;
        color: #ffffff;
    }
    th,
    td {
        vertical-align: middle;
    }
    th {
        font-weight: normal;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.table-hover tbody tr:hover {
    background-color: rgba(12, 55, 106, .15);
}


/* checkbox css */

.checkbox-wrap {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0px;
    height: 26px;
    width: 26px;
    z-index: 99;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #cbcbcb;
}


/* On mouse-over, add a grey background color */

.checkbox-wrap:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-wrap input:checked~.checkmark {
    background-color: lighten(#0C376A, 15%);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox-wrap input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox-wrap .checkmark:after {
    left: 10px;
    top: 4px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.checkbox-wrap {
    pointer-events: auto;
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    //padding-left:40px;
    line-height: 26px;
    height: 26px;
    width: 26px;
    margin: 0 auto;
    display: block;
}


/*custom radio button*/

.radio-wrap {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.radio-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0px;
    height: 26px;
    width: 26px;
    z-index: 99;
}


/* Create a custom checkbox */

.radio-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cbcbcb;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radio-wrap:hover input~.radio-mark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.radio-wrap input:checked~.radio-mark {
    background-color: lighten(#0C376A, 15%);
}
 .grayOpt{
     color: gray;
 }

/* Create the checkmark/indicator (hidden when not checked) */

.radio-mark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.radio-wrap input:checked~.radio-mark:after {
    display: block;
}


/* Style the checkmark/indicator */

.radio-wrap .radio-mark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

label.radio-wrap {
    pointer-events: auto;
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    padding-left: 40px;
    line-height: 26px;
    display: inline-block;
    height: 25px;
}

//permission table css
.pc-1 {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}

.pci-1 {
    width: 49px;
    min-width: 49px;
    max-width: 49px;
    padding-left: 20px !important;
}

.pci-2 {
    padding-left: 20px !important;
}

.pc-3 {
    text-align: center;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    vertical-align: middle;
}

//campaign css
.sms-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 12px;
        margin-right: 20px;
    }
    strong {
        color: #15C39A;
        font-size: 14px;
    }
}

textarea {
    resize: none;
    font-size: 14px !important;
}

input[type="file"] {
    font-size: 12px;
}


/*--- ngx-datatable styling ---*/


/* table heading backgroud color change */

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #00B5EF;
    color: #fff;
}

.error-border {
    border: 1px solid #e80d0d;
}


/* change backgroud color or talbe's actionColumn */

.background-white {
    background: white;
}

.action-link {
    padding: 0px 10px 0px 0px;
    cursor: pointer;
    color: #343a40;
}

// BS Modal
.modal-title {
    font-size: 16px;
}

.base-table-style th {
    white-space: nowrap;
    font-weight: 600;
    color: #6b6b6b;
}

.modal-footer-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        min-width: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


/*  Pagination */

.ngx-pagination {
    text-align: right;
    padding-right: 3%;
}


/*view heading settings*/

.form-group>label.heading {
    font-weight: bold;
}


/*disabling link*/

.disabled-link {
    margin: 0px 10px 0px 0px;
    color: grey !important;
    cursor: not-allowed;
}

.reg-sub-hd {
    font-size: 16px;
    color: #777777;
    padding: 5px 0px;
    margin: 20px;
    border: 0px;
    font-weight: bolder;
    text-align: center;
}

.download-link {
    cursor: pointer;
}

.sort-icon {
    float: right;
    margin-top: 3px;
}

.sort-th {
    cursor: pointer;
}

.no-data {
    text-align: center;
}

.dropdown-item {
    cursor: pointer;
    padding: .25rem .40rem;
}

.form-btn {
    background-color: #00B5EF;
    color: white
}

.form-btn:hover {
    color: white;
}

.form-group {
    font-weight: 600;
}

.my-pagination /deep/ .ngx-pagination {
    text-align: left;
    padding-left: 0px;
}

.mb-15 {
    margin-bottom: 15px;
}

.fa {
    font-size: 20px !important;
}

//font awesome for reporting
.approve-clr {
    color: #66bb6a;
}

.reject-clr {
    color: #e57373;
}

.download-clr {
    color: #0c376a;
}

.edit-clr {
    //Pen icon
    color: #ba68c8;
}

.view-eye {
    color: #ffa726;
}

// .modal.fade {
//     display: flex !important;
//     justify-content: center;
//     align-items: center;
// }

.modal-dialog {
    vertical-align: middle;
}

.blueTextClr {
    color: #00b5ef
}

.blueTextClr:hover {
    text-decoration: underline;
}

.actual-edit {
    color: #3791aec7;
}

.blueTextClr:hover {
    text-decoration: underline;
}

.actual-edit {
    color: #3791aec7;
}

.blueTextClr {
    color: #00b5ef
}

.actual-edit {
    color: #3791aec7;
}
.accordion .card .card-header
{
    margin-bottom: 0px !important
}

.modalCustomSize .modal-dialog{
    min-width: 500px;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

