<div class="content-wrapper">
  <div class="container-fluid form-t1">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
</mat-form-field>
<div class="example-container mat-elevation-z8  form-group table-shadow1">
<table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
  <ng-container matColumnDef="actions" sticky >
    <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
    <td class="text-padding td-height backColour" mat-cell *matCellDef="let element;  let i = index">
      <div class="btn-group btn-group-sm">
        <i class="fa fa-pencil  edit-clr" title="Update" (click)="updateRecord(updatemodal,element);"></i>
        <i class="fa fa-trash action-item reject-clr" title="Delete" (click)="viewDeleteDepartmentModal(element,deleteDepartmentView)"></i>
        <label class="switch">
            <input type="checkbox" attr.id = "{{i}}" [checked]="element['show']=='Enabled'" (change)="changeStatusDepartmentConfirmation(element,i)">
            <span class="slider round"></span>
        </label>
    </div>
   </td>
  </ng-container>
  <ng-container matColumnDef="department">
   <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department Name </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department ID </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="show">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Status </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element.show}} </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="departmentList.length==0 " class="no-data ">No Records Found!</div>
    <div *ngIf="showError==true" class="no-data ">No Records Found!</div>

    </div>
  <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
</div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>


<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span class="font-weight-bold">Update Department</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-t1" [formGroup]='departmentForm' novalidate>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label class="modal-width">Department Name</label>
                            <div class="modal-width">
                                <input type="text" class="form-control" placeholder="Department Name" formControlName="deptName" [ngClass]="{'error-border': departmentForm.controls['deptName'].errors && formSubmitted}">
                            </div>
                            <div *ngIf="departmentForm.controls['deptName'].errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="formSubmitted && departmentForm.controls.deptName.errors.required">Required Field</span>
                                <span class="error" *ngIf="formSubmitted && departmentForm.controls.deptName.errors.minlength">Minimum 2 characters are required</span>
                                <span class="error" *ngIf="formSubmitted && departmentForm.controls.deptName.errors.maxlength">Maximum 50 characters are required</span>
                                <span class="error" *ngIf="formSubmitted && departmentForm.controls.deptName.errors.pattern">Only alpha-numeric characters allowed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>

        <button type="button" class="btn btn-success mr-3" (click)="confirmUpdateRecoed()">Save</button>
    </div>
</ng-template>

<ng-template #deleteDepartmentView let-modal class="modalPosition">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>Delete Department</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
             <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="deleteForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div class="modal-width">
                                        <textarea rows="3" class="form-control " formControlName="remarks" [ngClass]="{'error-border': deleteFormSubmitted && deleteForm.controls.remarks.errors}"
                                            placeholder="Enter Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors" class="error-wrappers">
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.required">Required Field
                                        </span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.minlength">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="deleteFormSubmitted && deleteForm.controls.remarks.errors.pattern">Only alpha-numeric characters allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteDepartment()">Delete Department
        </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Close
        </button>
    </div>
</ng-template>
