<div class="content-wrapper">
  <div class="container-fluid form-t1">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" [(ngModel)]="searchText" class="form-group">
</mat-form-field>
<div class="example-container mat-elevation-z8  form-group table-shadow1">
<table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover table-sm" matSort>
  <ng-container matColumnDef="actions" sticky >
    <th  mat-header-cell *matHeaderCellDef class="thead-sb"> Actions </th>
    <td class="text-padding td-height backColour" mat-cell *matCellDef="let element;  let i = index">
      <div class="btn-group btn-group-sm">
        <i class="fa fa-trash action-item reject-clr" title="Delete" (click)="confirmDeleteRecord(deletePopUp,element)"></i>
        <i class="fa fa-pencil action-item edit-clr" title="Update" (click)="updateRecord(updatemodal,element) ;" *ngIf="commonService.hasWriteAccess(MODULES.MO_ROUTE)"></i>

    </div>
   </td>
  </ng-container>

  <ng-container matColumnDef="department">
   <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Department </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['department']['department']}} </td>
  </ng-container>
  <ng-container matColumnDef="code">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Code </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['code']}} </td>
  </ng-container>
  <ng-container matColumnDef="keyword">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Keyword </th>
    <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['keyword']}} </td>
  </ng-container>


  <ng-container matColumnDef="primaryRoute">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Primary Route </th>
     <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['primaryRoute']}} </td>
   </ng-container>
   <ng-container matColumnDef="secondaryRoute">
     <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Secondary Route </th>
     <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['secondaryRoute']}} </td>
   </ng-container>
   <ng-container matColumnDef="caseSensitivityFlag">
     <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Case Sensitivity Flag </th>
     <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['caseSensitivityFlag']}} </td>
   </ng-container>


   <ng-container matColumnDef="retryFlag">
    <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Retry Flag </th>
     <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['retryFlag']}} </td>
   </ng-container>
   <ng-container matColumnDef="displayRetryRoute">
     <th   mat-header-cell *matHeaderCellDef mat-sort-header class="thead-sb"> Retry Route </th>
     <td class="text-padding td-height" mat-cell *matCellDef="let element"> {{element['displayRetryRoute']}} </td>
   </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
            <div *ngIf="moKeywordList.length==0 " class="no-data ">No Records Found!</div>
            <div *ngIf="showError==true" class="no-data ">No Records Found!</div>
</div>
  <mat-paginator [pageSizeOptions]="[10, 20 , 30]"   showFirstLastButtons></mat-paginator>
</div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <span style="font-weight: 600;">Update MO Keyword</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-t1" [formGroup]='moKeywordForm' novalidate>
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Code</label>
                            <div>
                                <input type="text" class="form-control" placeholder="Code" formControlName="code" minlength="4" maxlength="16">
                            </div>
                            <div *ngIf="moKeywordForm.controls.code.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="moKeywordForm.controls.code.errors.required">Field is required</span>
                                <span class="error" *ngIf="moKeywordForm.controls.code.errors.pattern">Only digits are allowed</span>
                                <span class="error" *ngIf="moKeywordForm.controls.code.errors.minlength">Minimum 4 characters required</span>
                                <span class="error" *ngIf="moKeywordForm.controls.code.errors.maxlength">Maximum length is 16 characters</span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>MO Keyword</label>
                            <small class="grayOpt" > [Optional]</small>
                            <div>
                                <input type="text" class="form-control" placeholder="Keyword"  formControlName="keywords"
                                (ngModelChange)="updateRequiredCase();" minlength="2" maxlength="15">
                            </div>
                            <div *ngIf="moKeywordForm.controls.keywords.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.pattern">Space and Special Characters are not allowed</span>
                                <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.minlength">Minimum 2 characters required</span>
                                <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.maxlength">Maximum length is 15 characters</span>
                            </div>
                            <!-- <span class="error" *ngIf="!uniqueKeyword">This MO keyword already exists. Please enter new MO keyword.</span> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label>Case Sensitivity Flag</label>
                          <small class="grayOpt" *ngIf="caseRequired"> [Optional]</small>
                          <select class="form-control" formControlName="caseSensitivityFlag" (change)="keywordExistance();" >
                              <option value="" disabled selected hidden>Select</option>
                              <option value='Y'>Yes</option>
                              <option value='N'>No</option>
                          </select>
                          <div *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors && formSubmitted" class="error-wrappers">
                              <span class="error" *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors.required">Field is required</span>
                          </div>
                      </div>
                  </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>MO Primary Route</label>
                            <div>
                                <select class="form-control" formControlName="primaryRouteId" (change)= "routeChanged('primaryRouteId')">
                                    <option value="">Select</option>
                                    <option [value]="item.id" *ngFor="let item of primaryDropdownList">{{item.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="moKeywordForm.controls.primaryRouteId.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="moKeywordForm.controls.primaryRouteId.errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>MO Secondary Route
                                <small class="grayOpt">[Optional]</small>
                            </label>
                            <div>
                                <select class="form-control" formControlName="secondaryRouteId" (change)= "routeChanged('secondaryRouteId')">
                                    <option value="" selected>Select</option>
                                    <option [value]="item.id" *ngFor="let item of secondaryDropdownList">{{item.name}}</option>
                                </select>
                            </div>
                            <div *ngIf="moKeywordForm.controls.secondaryRouteId.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="moKeywordForm.controls.secondaryRouteId.errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department</label>
                            <div>
                                <select class="form-control" formControlName="department">
                                    <option value="" disabled selected hidden>Select</option>
                                    <option [value]="item.id" *ngFor="let item of departments">{{item.department}}</option>
                                </select>
                            </div>
                            <div *ngIf="moKeywordForm.controls.department.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="moKeywordForm.controls.department.errors.required">Field is required</span>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 d-flex align-items-center">

                        <div class="switch-wrapper w-100">
                            <span class="sw-label">Retry Flag :</span>
                            <label class="switch">
                                <input type="checkbox" formControlName="retryFlag" (change)="flagChanged('retryFlag',['retryRoute','retryCount','retryIntervalArray'])">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class=" col-md-6" *ngIf="moKeywordForm.controls.retryFlag.value">
                        <div class="form-group">
                            <label>Retry Route </label>
                            <div>
                                <select class="form-control" formControlName="retryRoute">
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="{{item.id}}" *ngFor="let item of retryRouteList">{{item.aggregatorName}}</option>
                                </select>
                                <div *ngIf="formSubmitted && moKeywordForm.controls.retryRoute.errors" class="error-wrappers">
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryRoute.errors.required">Required Field
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6" *ngIf="moKeywordForm.controls.retryFlag.value">
                        <div class="form-group">
                            <label>Retry Count </label>
                            <div>
                                <select class="form-control" formControlName="retryCount" (change)="retryCountChanged()">
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="{{item}}" *ngFor="let item of retryCountList">{{item}}</option>
                                </select>
                                <div *ngIf="formSubmitted && moKeywordForm.controls.retryCount.errors" class="error-wrappers">
                                    <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryCount.errors.required">Required Field
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template [ngIf]="moKeywordForm.controls.retryFlag.value">
                        <div class=" col-md-6" formArrayName="retryIntervalArray" *ngFor="let retryIntervalItem of moKeywordForm.controls.retryIntervalArray.controls; let i = index">
                            <div class="form-group" [formGroupName]="i">
                                <label>Retry Interval {{i+1}}</label>
                                <div>
                                    <input type="text" class="form-control" formControlName="retryInterval" placeholder="Enter retry interval (in sec)" maxlength="10">
                                    <div *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors"
                                        class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.required">Field is required
                                        </span>
                                        <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.min">Minimum 1 Retry Interval Required</span>
                                        <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.max">Maximum 900 Retry Interval allowed</span>
                                        <span class="error" *ngIf="formSubmitted && moKeywordForm.controls.retryIntervalArray['controls'][i]['controls']['retryInterval'].errors.pattern">Only digits are allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-success mr-3" (click)="confirmUpdateRecoed()">Submit</button>
    </div>
</ng-template>



<ng-template #deletePopUp let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>
                <b>MO Keyword Delete</b>
            </span>
        </h4>
        <button type="button" class="btn  close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="remarks-align">
                    <p>Are you sure you want to permanently delete this {{this.deleteReq['keyword']}} keyword?

                    </p>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="statusForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="heading">Remarks
                                    </label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{'error-border':statusForm.controls.remarks.errors && formSubmitted}"
                                            placeholder="Enter Remarks" minlenght="5" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="statusForm.controls.remarks.errors && formSubmitted" class="error-wrappers">
                                        <span class="error" *ngIf="statusForm.controls.remarks.errors.required">Field is required
                                        </span>
                                        <span class="error" *ngIf="statusForm.controls.remarks.errors.minlength">Minimum 5 characters required</span>
                                        <span class="error" *ngIf="statusForm.controls.remarks.errors.maxlength">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="statusForm.controls.remarks.errors.pattern">Only Alphanumeric allowed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success ng-star-inserted" (click)="deleteRecord()">Delete </button>
        <button type="button" class="btn btn-danger ng-star-inserted" (click)="modal.close('Save click')">Cancel
        </button>
    </div>
</ng-template>


<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
